<q-expansion-item
  group="extras"
  icon="swap_vertical_circle"
  label="API info"
  :content-inset-level="0.5"
>
  <q-btn flat label="Swagger API" type="a" href="../docs#/lnaddy"></q-btn>
  <q-expansion-item group="api" dense expand-separator label="List pay links">
    <q-card>
      <q-card-section>
        <code><span class="text-blue">GET</span> /lnaddy/api/v1/links</code>
        <h5 class="text-caption q-mt-sm q-mb-none">Headers</h5>
        <code>{"X-Api-Key": &lt;invoice_key&gt;}</code><br />
        <h5 class="text-caption q-mt-sm q-mb-none">Body (application/json)</h5>
        <h5 class="text-caption q-mt-sm q-mb-none">
          Returns 200 OK (application/json)
        </h5>
        <code>[&lt;pay_link_object&gt;, ...]</code>
        <h5 class="text-caption q-mt-sm q-mb-none">Curl example</h5>
        <code
          >curl -X GET {{ request.base_url }}lnaddy/api/v1/links -H "X-Api-Key:
          {{ user.wallets[0].inkey }}"
        </code>
      </q-card-section>
    </q-card>
  </q-expansion-item>
  <q-expansion-item group="api" dense expand-separator label="Get a pay link">
    <q-card>
      <q-card-section>
        <code
          ><span class="text-blue">GET</span>
          /lnaddy/api/v1/links/&lt;pay_id&gt;</code
        >
        <h5 class="text-caption q-mt-sm q-mb-none">Headers</h5>
        <code>{"X-Api-Key": &lt;invoice_key&gt;}</code><br />
        <h5 class="text-caption q-mt-sm q-mb-none">Body (application/json)</h5>
        <h5 class="text-caption q-mt-sm q-mb-none">
          Returns 201 CREATED (application/json)
        </h5>
        <code>{"lnurl": &lt;string&gt;}</code>
        <h5 class="text-caption q-mt-sm q-mb-none">Curl example</h5>
        <code
          >curl -X GET {{ request.base_url }}lnaddy/api/v1/links/&lt;pay_id&gt;
          -H "X-Api-Key: {{ user.wallets[0].inkey }}"
        </code>
      </q-card-section>
    </q-card>
  </q-expansion-item>
  <q-expansion-item
    group="api"
    dense
    expand-separator
    label="Create a pay link"
  >
    <q-btn flat label="Swagger API" type="a" href="../docs#/lnaddy"></q-btn>
    <q-card>
      <q-card-section>
        <code><span class="text-green">POST</span> /lnaddy/api/v1/links</code>
        <h5 class="text-caption q-mt-sm q-mb-none">Headers</h5>
        <code>{"X-Api-Key": &lt;admin_key&gt;}</code><br />
        <h5 class="text-caption q-mt-sm q-mb-none">Body (application/json)</h5>
        <code
          >{"description": &lt;string&gt;, "amount": &lt;integer&gt;, "max":
          &lt;integer&gt;, "min": &lt;integer&gt;, "comment_chars":
          &lt;integer&gt;, "lnaddress": &lt;string&gt; }</code
        >
        <h5 class="text-caption q-mt-sm q-mb-none">
          Returns 201 CREATED (application/json)
        </h5>
        <code>{"lnurl": &lt;string&gt;}</code>
        <h5 class="text-caption q-mt-sm q-mb-none">Curl example</h5>
        <p>
          NOTE: In this API, the "lnaddress" variable is only the "username"
          part of the address. Do not add @domain to the Create a pay link
          request! The "username" is limited to
          <strong> a-z0-9-_.</strong>
          The @domainname portion is the domain where this LNBits instance is
          hosted at.
        </p>
        <code
          >curl -X POST {{ request.base_url }}lnaddy/api/v1/links -d
          '{"description": &lt;string&gt;, "amount": &lt;integer&gt;, "max":
          &lt;integer&gt;, "min": &lt;integer&gt;, "comment_chars":
          &lt;integer&gt;, "lnaddress": &lt;string&gt;}' -H "Content-type:
          application/json" -H "X-Api-Key: {{ user.wallets[0].adminkey }}"
        </code>
      </q-card-section>
    </q-card>
  </q-expansion-item>
  <q-expansion-item
    group="api"
    dense
    expand-separator
    label="Update a pay link"
  >
    <q-card>
      <q-card-section>
        <code
          ><span class="text-green">PUT</span>
          /lnaddy/api/v1/links/&lt;pay_id&gt;</code
        >
        <h5 class="text-caption q-mt-sm q-mb-none">Headers</h5>
        <code>{"X-Api-Key": &lt;admin_key&gt;}</code><br />
        <h5 class="text-caption q-mt-sm q-mb-none">Body (application/json)</h5>
        <code
          >{"description": &lt;string&gt;, "amount": &lt;integer&gt;,
          "lnaddress": &lt;string&gt;}</code
        >
        <h5 class="text-caption q-mt-sm q-mb-none">
          Returns 200 OK (application/json)
        </h5>
        <code>{"lnurl": &lt;string&gt;}</code>
        <h5 class="text-caption q-mt-sm q-mb-none">Curl example</h5>
        <code
          >curl -X PUT {{ request.base_url }}lnaddy/api/v1/links/&lt;pay_id&gt;
          -d '{"description": &lt;string&gt;, "amount": &lt;integer&gt;,
          "lnaddress": &lt;string&gt;}' -H "Content-type: application/json" -H
          "X-Api-Key: {{ user.wallets[0].adminkey }}"
        </code>
      </q-card-section>
    </q-card>
  </q-expansion-item>
  <q-expansion-item
    group="api"
    dense
    expand-separator
    label="Delete a pay link"
    class="q-pb-md"
  >
    <q-card>
      <q-card-section>
        <code
          ><span class="text-pink">DELETE</span>
          /lnaddy/api/v1/links/&lt;pay_id&gt;</code
        >
        <h5 class="text-caption q-mt-sm q-mb-none">Headers</h5>
        <code>{"X-Api-Key": &lt;admin_key&gt;}</code><br />
        <h5 class="text-caption q-mt-sm q-mb-none">Returns 204 NO CONTENT</h5>
        <code></code>
        <h5 class="text-caption q-mt-sm q-mb-none">Curl example</h5>
        <code
          >curl -X DELETE {{ request.base_url
          }}lnaddy/api/v1/links/&lt;pay_id&gt; -H "X-Api-Key: {{
          user.wallets[0].adminkey }}"
        </code>
      </q-card-section>
    </q-card>
  </q-expansion-item>
</q-expansion-item>
