<q-expansion-item
  group="extras"
  icon="info"
  label="LNAddress Simple - Powered by LNURL"
>
  <q-card>
    <q-card-section>
      <p>
        <b
          >WARNING: The other lnaddress extension must be disabled for this
          extension to work</b
        >
      </p>
      <p>
        The Name of this extension is Lightning Address Simple, and is Powered
        by LNURL. The purpose of this extension is to make Free Lightning
        Addresses available without requiring the use of cloudflare or paying
        for the addresses. Its an option for anyone who wants to host lightning
        addresses for a non-production small LNBits install for friends and
        family or for an experimental app that they are building with LNBits.
      </p>
      <p>
        <b>WARNING: LNURL must be used over https or TOR</b><br />
        LNURL is a range of lightning-network standards that allow us to use
        lightning-network differently. An LNURL-pay is a link that wallets use
        to fetch an invoice from a server on-demand. The link or QR code is
        fixed, but each time it is read by a compatible wallet a new QR code is
        issued by the service. It can be used to activate machines without them
        having to maintain an electronic screen to generate and show invoices
        locally, or to sell any predefined good or service automatically.
      </p>
      <p>
        Exploring LNURL and finding use cases, is really helping inform
        lightning protocol development, rather than the protocol dictating how
        lightning-network should be engaged with.
      </p>
      <small
        >Check
        <a href="https://github.com/fiatjaf/awesome-lnurl" target="_blank"
          >Awesome LNURL</a
        >
        for further information.</small
      >
    </q-card-section>
  </q-card>
</q-expansion-item>
