<q-card v-if="createUserDialog.show" class="q-pa-lg q-pt-xl">
  <div class="row">
    <div class="col-12">
      <q-form @submit="createUser">
        <lnbits-dynamic-fields
          :options="createUserDialog.fields"
          v-model="createUserDialog.data"
        ></lnbits-dynamic-fields>
        <div class="row q-mt-lg">
          <q-btn

            color="primary"
            :label="$t('create_account')"
            type="submit"
          ></q-btn>
          <q-btn
            flat
            @click="createUserDialog.show = false"
            :label="$t('back')"
          ></q-btn>
        </div>
      </q-form>
    </div>
  </div>
</q-card>
