<q-dialog v-model="createWalletDialog.show" position="top">
  <q-card class="q-pa-md q-pt-md lnbits__dialog-card">
    <strong>Create Wallet</strong>
    <div class="row">
      <div class="col-12">
        <div class="row q-mt-lg">
          <div class="col">
            <q-input
              v-model="createWalletDialog.data.name"
              :label='$t("name_your_wallet")'
              filled
              dense
              class="q-mb-md"
            >
            </q-input>
          </div>
        </div>
        <div class="row q-mt-lg">
          <div class="col">
            <q-select
              filled
              dense
              v-model="createWalletDialog.data.currency"
              :options="{{ currencies | safe }}"
            ></q-select>
          </div>
        </div>
        <div class="row q-mt-lg">
          <q-btn
            v-close-popup
            @click="createWallet()"
            unelevated
            color="primary"
            type="submit"
            >Create</q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </div>
    </div>
  </q-card>
</q-dialog>
