<div class="row q-mb-lg">
  <div class="col">
    <q-btn
      icon="arrow_back_ios"
      @click="createUserDialog.show = false"
      :label="$t('back')"
    ></q-btn>
    <q-btn
      v-if="createUserDialog.data.id"
      color="primary"
      :label="$t('update_account')"
      class="float-right"
    ></q-btn>
    <q-btn
      v-else
      color="primary"
      :label="$t('create_account')"
      class="float-right"
    ></q-btn>
  </div>
</div>
<q-card v-if="createUserDialog.show" class="q-pa-sm">
  <q-card-section>
    <div class="text-h6">
      <span
        v-if="createUserDialog.data.id"
        v-text="$t('update_account')"
      ></span>
      <span v-else v-text="$t('create_account')"></span>
    </div>
  </q-card-section>
  <q-card-section>
    <q-input
      v-if="createUserDialog.data.id"
      v-model="createUserDialog.data.id"
      :label="$t('user_id')"
      filled
      dense
      readonly
      :type="createUserDialog.data.showUserId ? 'text': 'password'"
      class="q-mb-md"
      ><q-btn
        @click="createUserDialog.data.showUserId = !createUserDialog.data.showUserId"
        dense
        flat
        :icon="createUserDialog.data.showUserId ? 'visibility_off' : 'visibility'"
        color="grey"
      ></q-btn>
    </q-input>
    <q-input
      v-model="createUserDialog.data.username"
      :label="$t('username')"
      filled
      dense
      class="q-mb-md"
    >
    </q-input>
    <q-toggle
      size="xs"
      v-if="!createUserDialog.data.id"
      color="secondary"
      :label="$t('set_password')"
      v-model="createUserDialog.setPassword"
    >
      <q-tooltip>Toggle Admin</q-tooltip>
    </q-toggle>
    <q-input
      v-if="createUserDialog.setPassword"
      v-model="createUserDialog.data.newPassword"
      type="password"
      autocomplete="off"
      :label="$t('password')"
      filled
      dense
      :rules="[(val) => !val || val.length >= 8 || $t('invalid_password')]"
    ></q-input>
    <q-input
      v-if="createUserDialog.setPassword"
      v-model="createUserDialog.data.newPasswordRepeat"
      type="password"
      autocomplete="off"
      :label="$t('password_repeat')"
      filled
      dense
      class="q-mb-md"
      :rules="[(val) => !val || val.length >= 8 || $t('invalid_password')]"
    ></q-input>

    <q-input
      v-model="createUserDialog.data.pubkey"
      :label="$t('pubkey')"
      filled
      dense
      class="q-mb-md"
    >
    </q-input>
    <q-input
      v-model="createUserDialog.data.email"
      :label="$t('email')"
      filled
      dense
      class="q-mb-md"
    >
    </q-input>
  </q-card-section>

  <q-card-section v-if="createUserDialog.data.extra">
    <q-input
      v-model="createUserDialog.data.extra.first_name"
      :label="$t('first_name')"
      filled
      dense
      class="q-mb-md"
    >
    </q-input>
    <q-input
      v-model="createUserDialog.data.extra.last_name"
      :label="$t('last_name')"
      filled
      dense
      class="q-mb-md"
    >
    </q-input>
    <q-input
      v-model="createUserDialog.data.extra.provider"
      :label="$t('auth_provider')"
      filled
      dense
      class="q-mb-md"
    >
    </q-input>
    <q-input
      v-model="createUserDialog.data.extra.picture"
      :label="$t('picture')"
      filled
      dense
      class="q-mb-md"
    >
    </q-input>
  </q-card-section>
  <q-card-section v-if="createUserDialog.data.id">
    <q-btn
      @click="resetPassword(createUserDialog.data.id)"
      :label="$t('reset_password')"
      icon="refresh"
      color="primary"
    >
      <q-tooltip>Generate and copy password reset url</q-tooltip>
    </q-btn>
    <!-- disable for super admin -->
    <q-btn
      @click="deleteUser(createUserDialog.data.id)"
      :label="$t('delete')"
      icon="delete"
      color="negative"
      class="float-right"
    >
      <q-tooltip>Delete User</q-tooltip></q-btn
    >
  </q-card-section>
</q-card>
