<q-card-section>
  <p>
    Gerty (your bitcoin assistant): Use the software Gerty or
    <a
      class="text-secondary"
      target="_blank"
      href="https://shop.lnbits.com/product/gerty-a-bitcoin-assistant"
      >hardware Gerty</a
    ><br />
    <small>
      Created by,
      <a class="text-secondary" href="https://github.com/blackcoffeexbt"
        >Black Coffee</a
      >,
      <a class="text-secondary" href="https://github.com/benarc"
        >Ben Arc</a
      ></small
    >
  </p>
  <a
    class="text-secondary"
    href="https://shop.lnbits.com/product/gerty-a-bitcoin-assistant"
    ><img src="/gerty/static/gerty.jpg" style="max-width: 100%"
  /></a>
</q-card-section>
