<q-card>
  <q-card-section>
    <h4 class="text-subtitle1 q-my-none">
      Stream Alerts: Integrate Bitcoin into your stream alerts!
    </h4>
    <p>
      Accept Bitcoin donations on Twitch, and integrate them into your alerts.
      Present your viewers with a simple donation page, and add those donations
      to Streamlabs to play alerts on your stream!<br />
      For detailed setup instructions, check out
      <a href="https://github.com/Fittiboy/bitcoin-on-twitch"> this guide!</a
      ><br />
      <small>
        Created by, <a href="https://github.com/Fittiboy">Fitti</a></small
      >
    </p>
  </q-card-section>
</q-card>
