<q-expansion-item
  group="extras"
  icon="info"
  label="Info"
  :content-inset-level="0.5"
  default-opened
>
  <q-card>
    <q-card-section>
      <h5 class="text-subtitle1 q-my-none">
        Push Notifications: Receive notification messages on incoming payments
      </h5>
      <p>
        Subscribe and get notified on incoming payments in all your wallets on
        multiple devices.
      </p>
      <p>
        This extension requires HTTPS hosting of LNBits and your browser to
        support modern Web APIs.
      </p>
      <p>
        <small>
          Created by, <a href="mailto:dev@schneimi.de">dev@schneimi.de</a>
        </small>
      </p>
    </q-card-section>
  </q-card>
</q-expansion-item>
