<q-expansion-item group="extras" icon="info" label="LndHub info">
  <q-card>
    <q-card-section>
      <p>
        LndHub is a protocol invented by
        <a href="https://bluewallet.io/">BlueWallet</a> that allows mobile
        wallets to query payments and balances, generate invoices and make
        payments from accounts that exist on a server. The protocol is a
        collection of HTTP endpoints exposed through the internet.
      </p>
      <p>
        For a wallet that supports it, reading a QR code that contains the URL
        along with secret access credentials should enable access. Currently it
        is supported by <a href="https://zeusln.app">Zeus</a> and
        <a href="https://bluewallet.io/">BlueWallet</a>.
      </p>
    </q-card-section>
  </q-card>
</q-expansion-item>
