<div>
  <div class="row q-mt-md">
    <div class="col-12">
      <q-input
        filled
        dense
        v-model.trim="config.baudRate"
        type="number"
        label="Baud Rate"
      ></q-input>
    </div>
  </div>
  <div class="row q-mt-md">
    <div class="col-12">
      <q-input
        filled
        dense
        v-model.trim="config.bufferSize"
        type="number"
        label="Buffer Size"
      ></q-input>
    </div>
  </div>
  <div class="row q-mt-md">
    <div class="col-12">
      <q-input
        filled
        dense
        v-model.trim="config.flowControl"
        label="Flow Control"
      ></q-input>
    </div>
  </div>
  <div class="row q-mt-md">
    <div class="col-12">
      <q-input
        filled
        dense
        v-model.trim="config.parity"
        label="Parity"
      ></q-input>
    </div>
  </div>
  <div class="row q-mt-md">
    <div class="col-12">
      <q-input
        filled
        dense
        v-model.trim="config.dataBits"
        type="number"
        label="Data Bits"
      ></q-input>
    </div>
  </div>

  <div class="row q-mt-md">
    <div class="col-12">
      <q-input
        filled
        dense
        v-model.trim="config.stopBits"
        type="number"
        label="Stop Bits"
      ></q-input>
    </div>
  </div>
</div>
