{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn unelevated color="primary" @click="formDialog.show = true"
          >New Scheduled Payment</q-btn
        >
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Scheduled Payments</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportCSV">Export to CSV</q-btn>
          </div>
        </div>
        <q-table
          dense
          flat
          :data="scheduledPayments"
          row-key="id"
          :columns="scheduledPaymentsTable.columns"
          :pagination.sync="scheduledPaymentsTable.pagination"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="edit"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  @click="showEditModal(props.row)"
                ></q-btn>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="delete"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  @click="deleteScheduledPayment(props.row)"
                ></q-btn>
              </q-td>
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.value }}
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Schedule Event History</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportEventsCSV"
              >Export to CSV</q-btn
            >
          </div>
        </div>
        <q-table
          dense
          flat
          :data="scheduleEvents"
          row-key="id"
          :columns="scheduleEventsTable.columns"
          :pagination.sync="scheduleEventsTable.pagination"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.value }}
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>
  </div>

  <div class="col-12 col-md-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} Scheduled Payments extension
        </h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "scheduledpayments/_api_docs.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="formDialog.show" position="top" @hide="closeFormDialog">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="saveScheduledPayment" class="q-gutter-md">
        <q-select
          filled
          dense
          emit-value
          v-model="formDialog.data.wallet"
          :options="g.user.walletOptions"
          label="Wallet *"
        ></q-select>
        <q-select
          filled
          dense
          emit-value
          v-model="formDialog.data.currency"
          :options="currencyOptions"
          label="Currency *"
        ></q-select>
        <q-input
          filled
          dense
          v-model.trim="formDialog.data.famount"
          label="Amount *"
          placeholder="4.20"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="formDialog.data.recipient"
          label="LNURL or Lightning Address *"
          placeholder="benarc@lnbits.com"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="formDialog.data.interval"
          label="Interval *"
          placeholder="20 4 1 * *"
          hint="Enter a cron expression or click below to see some common options."
        ></q-input>
        <q-btn
          unelevated
          color="secondary"
          @click="showIntervalSettings = true"
          v-if="showIntervalSettings === false"
          >See Common Settings</q-btn
        >
        <div v-if="showIntervalSettings === true">
          <span
            >Click an option below to set the interval for this schedule.</span
          >
          <ul>
            <li>
              <a @click="setInterval('* * * * *')"
                >Pay once wallet balance reaches amount entered (threshold
                payment)</a
              >
            </li>
            <li>
              <a @click="setInterval('* * * * *')">Every Minute</a>
            </li>
            <li>
              <a @click="setInterval('0 * * * *')">Every Hour</a>
            </li>
            <li>
              <a @click="setInterval('0 0 * * *')">Every Day at Midnight</a>
            </li>
            <li>
              <a @click="setInterval('0 8 * * *')">Every Day at 8 AM</a>
            </li>
            <li>
              <a @click="setInterval('0 0 * * 0')">Every Week on Sunday</a>
            </li>
            <li>
              <a @click="setInterval('0 0 1-7,15-21 * 2')"
                >1st and 3rd Tuesdays of Every Month</a
              >
            </li>
            <li>
              <a @click="setInterval('0 0 1 * *')">Every Month</a>
            </li>
            <li>
              <a @click="setInterval('0 0 1 */3 *')">Every Quarter</a>
            </li>
            <li>
              <a @click="setInterval('0 0 1 1 *')">Every Year</a>
            </li>
            <li>
              <a
                style="color: white"
                href="https://crontab.guru/examples.html"
                target="_blank"
              >
                See more examples...
              </a>
            </li>
          </ul>
        </div>
        <q-select
          filled
          dense
          emit-value
          v-model="formDialog.data.timezone"
          :options="timezoneOptions"
          label="Timezone *"
        ></q-select>
        <q-field
          filled
          v-model="formDialog.data.start_date"
          label="Start Date"
          stack-label
        >
          <template v-slot:control>
            <q-date
              class="q-mt-sm full-width"
              style="width: 300px"
              minimal
              v-model="formDialog.data.start_date"
              mask="YYYY-MM-DD"
            />
          </template>
        </q-field>
        <q-field
          filled
          v-model="formDialog.data.end_date"
          label="End Date"
          stack-label
        >
          <template v-slot:control>
            <q-date
              class="q-mt-sm full-width"
              style="width: 300px"
              minimal
              v-model="formDialog.data.end_date"
              mask="YYYY-MM-DD"
            />
          </template>
        </q-field>

        <div class="row q-mt-lg">
          <q-btn
            unelevated
            color="primary"
            :disable="formDialog.data.wallet == null || formDialog.data.currency == null || formDialog.data.famount == null || formDialog.data.recipient == null || formDialog.data.interval == null || formDialog.data.timezone == null"
            type="submit"
            v-if="typeof formDialog.data.id == 'undefined'"
            >Create Scheduled Payment</q-btn
          >
          <q-btn
            unelevated
            color="primary"
            :disable="formDialog.data.wallet == null || formDialog.data.currency == null || formDialog.data.famount == null || formDialog.data.recipient == null || formDialog.data.interval == null || formDialog.data.timezone == null"
            type="submit"
            v-if="typeof formDialog.data.id !== 'undefined'"
            >Save Scheduled Payment</q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  var mapScheduledPayment = function (obj) {
    obj.time = Quasar.utils.date.formatDate(
      new Date(obj.time * 1000),
      'YYYY-MM-DD HH:mm'
    )

    obj.famount = parseFloat(obj.famount / 100).toFixed(2)

    return obj
  }

  var mapScheduleEvent = function (obj) {
    obj.time = Quasar.utils.date.formatDate(
      new Date(obj.time * 1000),
      'YYYY-MM-DD HH:mm'
    )

    return obj
  }

  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        scheduleEvents: [],
        scheduledPayments: [],
        showIntervalSettings: false,
        timezoneOptions: {{ all_timezones|safe }},
        currencyOptions: [
          'USD',
          'EUR',
          'GBP',
          'AED',
          'AFN',
          'ALL',
          'AMD',
          'ANG',
          'AOA',
          'ARS',
          'AUD',
          'AWG',
          'AZN',
          'BAM',
          'BBD',
          'BDT',
          'BGN',
          'BHD',
          'BIF',
          'BMD',
          'BND',
          'BOB',
          'BRL',
          'BSD',
          'BTN',
          'BWP',
          'BYN',
          'BZD',
          'CAD',
          'CDF',
          'CHF',
          'CLF',
          'CLP',
          'CNH',
          'CNY',
          'COP',
          'CRC',
          'CUC',
          'CUP',
          'CVE',
          'CZK',
          'DJF',
          'DKK',
          'DOP',
          'DZD',
          'EGP',
          'ERN',
          'ETB',
          'EUR',
          'FJD',
          'FKP',
          'GBP',
          'GEL',
          'GGP',
          'GHS',
          'GIP',
          'GMD',
          'GNF',
          'GTQ',
          'GYD',
          'HKD',
          'HNL',
          'HRK',
          'HTG',
          'HUF',
          'IDR',
          'ILS',
          'IMP',
          'INR',
          'IQD',
          'IRR',
          'IRT',
          'ISK',
          'JEP',
          'JMD',
          'JOD',
          'JPY',
          'KES',
          'KGS',
          'KHR',
          'KMF',
          'KPW',
          'KRW',
          'KWD',
          'KYD',
          'KZT',
          'LAK',
          'LBP',
          'LKR',
          'LRD',
          'LSL',
          'LYD',
          'MAD',
          'MDL',
          'MGA',
          'MKD',
          'MMK',
          'MNT',
          'MOP',
          'MRO',
          'MUR',
          'MVR',
          'MWK',
          'MXN',
          'MYR',
          'MZN',
          'NAD',
          'NGN',
          'NIO',
          'NOK',
          'NPR',
          'NZD',
          'OMR',
          'PAB',
          'PEN',
          'PGK',
          'PHP',
          'PKR',
          'PLN',
          'PYG',
          'QAR',
          'RON',
          'RSD',
          'RUB',
          'RWF',
          'SAR',
          'SBD',
          'SCR',
          'SDG',
          'SEK',
          'SGD',
          'SHP',
          'SLL',
          'SOS',
          'SRD',
          'SSP',
          'STD',
          'SVC',
          'SYP',
          'SZL',
          'THB',
          'TJS',
          'TMT',
          'TND',
          'TOP',
          'TRY',
          'TTD',
          'TWD',
          'TZS',
          'UAH',
          'UGX',
          'USD',
          'UYU',
          'UZS',
          'VEF',
          'VES',
          'VND',
          'VUV',
          'WST',
          'XAF',
          'XAG',
          'XAU',
          'XCD',
          'XDR',
          'XOF',
          'XPD',
          'XPF',
          'XPT',
          'YER',
          'ZAR',
          'ZMW',
          'ZWL'
        ],
        scheduledPaymentsTable: {
          columns: [
            {name: 'id', align: 'left', label: 'ID', field: 'id'},
            {name: 'time', align: 'left', label: 'Created', field: 'time'},
            {name: 'wallet', align: 'left', label: 'Wallet', field: 'wallet'},
            {
              name: 'currency',
              align: 'left',
              label: 'Currency',
              field: 'currency'
            },
            {
              name: 'recipient',
              align: 'left',
              label: 'Recipient',
              field: 'recipient'
            },
            {
              name: 'famount',
              align: 'left',
              label: 'Fiat Amount',
              field: 'famount'
            },
            {
              name: 'interval',
              align: 'left',
              label: 'Interval',
              field: 'interval'
            },
            {
              name: 'timezone',
              align: 'left',
              label: 'Timezone',
              field: 'timezone',
            },
            {name: 'start_date', align: 'left', label: 'Start Date', field: 'start_date'},
            {name: 'end_date', align: 'left', label: 'End Date', field: 'end_date'}
          ],
          pagination: {
            rowsPerPage: 10
          }
        },
        scheduleEventsTable: {
          columns: [
            {name: 'id', align: 'left', label: 'ID', field: 'id'},
            {name: 'time', align: 'left', label: 'Created', field: 'time'},
            {name: 'schedule_id', align: 'left', label: 'Schedule ID', field: 'schedule_id'},
            {name: 'amount', align: 'left', label: 'Amount', field: 'amount'},
            {
              name: 'status',
              align: 'left',
              label: 'Status',
              field: 'status'
            },
            {
              name: 'payment_hash',
              align: 'left',
              label: 'Payment Hash',
              field: 'payment_hash'
            },
          ],
          pagination: {
            rowsPerPage: 10
          }
        },
        formDialog: {
          show: false,
          data: {}
        }
      }
    },
    methods: {
      closeFormDialog: function () {
        this.formDialog.data = {}
      },
      showEditModal: function (obj) {
        this.formDialog.data = obj
        this.formDialog.show = true
      },
      getScheduledPayments: function () {
        var self = this

        LNbits.api
          .request(
            'GET',
            '/scheduledpayments/api/v1/schedule?all_wallets=true',
            this.g.user.wallets[0].inkey
          )
          .then(function (response) {
            self.scheduledPayments = response.data.map(function (obj) {
              return mapScheduledPayment(obj)
            })
          })
      },
      getScheduleEvents: function () {
        var self = this

        LNbits.api
          .request(
            'GET',
            '/scheduledpayments/api/v1/events?all_wallets=true',
            this.g.user.wallets[0].inkey
          )
          .then(function (response) {
            self.scheduleEvents = response.data.map(function (obj) {
              return mapScheduleEvent(obj)
            }).reverse()
          })
      },
      saveScheduledPayment: function () {
        var data = this.formDialog.data
        var self = this

        LNbits.api
          .request(
            'POST',
            '/scheduledpayments/api/v1/schedule' +
              (data.id ? '/' + data.id : ''),
            _.findWhere(this.g.user.wallets, {id: this.formDialog.data.wallet})
              .adminkey,
            data
          )
          .then(function (response) {
            if (!data.id) {
              self.scheduledPayments.push(mapScheduledPayment(response.data))
            } else {
              self.getScheduledPayments()
            }

            self.formDialog.show = false
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      deleteScheduledPayment: function (obj) {
        var self = this
        var payment = _.findWhere(this.scheduledPayments, {id: obj.id})

        LNbits.utils
          .confirmDialog(
            'Are you sure you want to delete this Scheduled Payment?'
          )
          .onOk(function () {
            LNbits.api
              .request(
                'DELETE',
                '/scheduledpayments/api/v1/schedule/' + obj.id,
                _.findWhere(self.g.user.wallets, {id: payment.wallet}).adminkey
              )
              .then(function (response) {
                self.scheduledPayments = _.reject(
                  self.scheduledPayments,
                  function (payment) {
                    return payment.id == obj.id
                  }
                )
              })
              .catch(function (error) {
                LNbits.utils.notifyApiError(error)
              })
          })
      },
      setInterval: function(interval) {
        this.formDialog.data.interval = interval
        this.$forceUpdate();
      },
      exportCSV: function () {
        LNbits.utils.exportCSV(
          this.scheduledPaymentsTable.columns,
          this.scheduledPayments
        )
      },
      exportEventsCSV: function () {
        LNbits.utils.exportCSV(
          this.scheduleEventsTable.columns,
          this.scheduleEvents
        )
      }
    },
    created: function () {
      if (this.g.user.wallets.length) {
        this.getScheduledPayments()
        this.getScheduleEvents()
      }
    }
  })
</script>
{% endblock %}
