     
            <q-expansion-item
                  group="extras"
                  icon="swap_vertical_circle"
                  label="Info"
                  :content-inset-level="0.5"
                >
                <q-card>
      <q-card-section>
       <h5 class="text-subtitle1 q-my-none">Events: Sell and register tickets for an event</h5>
                <p>Events alows you to make a wave of tickets for an event. Once an attendee has paid for a ticket they get a unqiue code. Events comes with a shareable scanning frontend, so you can register the attendees<br/>
                  <small> Created by,  <a href="https://github.com/benarc">Ben Arc</a></small></p> 
              </q-card>
      </q-card-section>

      </q-card-section>
</q-expansion-item>
<q-expansion-item
  group="extras"
  icon="swap_vertical_circle"
  label="API info"
  :content-inset-level="0.5"
>



</q-expansion-item>
