<q-expansion-item group="extras" icon="info" label="About">
  <q-card>
    <q-card-section>
      <p>
        Make Ecash mints with peg in/out to a wallet, that can create and manage
        ecash.
      </p>
      <small
        >Created by
        <a href="https://github.com/arcbtc" target="_blank">arcbtc</a>,
        <a href="https://github.com/motorina0" target="_blank">vlad</a>,
        <a href="https://github.com/calle" target="_blank">calle</a>.</small
      >
    </q-card-section>
  </q-card>
</q-expansion-item>
