<q-expansion-item group="extras" icon="info" label="About">
  <q-card>
    <q-card-section>
      <p>Create Cashu ecash mints and wallets.</p>
      <small
        >Created by
        <a
          class="text-secondary"
          href="https://github.com/arcbtc"
          target="_blank"
          >arcbtc</a
        >,
        <a
          class="text-secondary"
          href="https://github.com/motorina0"
          target="_blank"
          >vlad</a
        >,
        <a
          class="text-secondary"
          href="https://github.com/calle"
          target="_blank"
          >calle</a
        >.</small
      >
    </q-card-section>
  </q-card>
</q-expansion-item>
