{% extends "public.html" %} {% block page %}
<div class="row q-col-gutter-md justify-center">
  <div class="col-12 col-md-7 col-lg-6 q-gutter-y-md">
    <q-card class="q-pa-lg q-mb-xl">
      <q-card-section class="q-pa-none">
        <center>
          <q-icon
            name="account_balance"
            class="text-grey"
            style="font-size: 10rem"
          ></q-icon>
          <h4 class="q-mt-none q-mb-md">{{ mint_name }}</h4>
          <a
            class="q-my-xl text-white"
            style="font-size: 1.5rem"
            href="../wallet?mint_id={{ mint_id }}"
            >Open wallet</a
          >
        </center>
        <br />
        <br />
        <h6 class="q-my-none">
          <p><strong>Read the following carefully!</strong></p>
          <p>
            This is a
            <a
              href="https://github.com/cashubtc/cashu/"
              style="color: white"
              target="”_blank”"
              >Cashu</a
            >
            mint which is an Ecash system on Bitcoin.
          </p>
          <p>
            <strong>Open this page in your browser</strong><br />
            Before you continue, make sure to open this page in your device's
            native browser application (Safari for iOS, Chrome for Android) if
            you want to add Cashu wallet to your home screen.
          </p>
          <p>
            <strong>Add to home screen</strong><br />
            You can add Cashu to your home screen as a progressive web app
            (PWA). When you open the wallet in your browser, on Android
            (Chrome), click the menu at the upper right. On iOS (Safari), click
            the share button. Now press the Add to Home screen button.
          </p>
          <p>
            <strong>Backup your wallet</strong><br />
            Ecash is a bearer asset, meaning losing access to your wallet will
            mean you will lose the funds. The wallet stores ecash tokens on your
            device's database. If you lose the link or delete your your data
            without backing up, you will lose your tokens. Press the Backup
            button in the wallet to download a copy of your tokens.
          </p>
          <p>
            <strong>This service is in BETA</strong> <br />
            We hold no responsibility for people losing access to funds. Use at
            your own risk!
          </p>
        </h6>
      </q-card-section>
    </q-card>
  </div>

  {% endblock %} {% block scripts %}

  <script>
    new Vue({
      el: '#vue',
      mixins: [windowMixin],
      data: function () {
        return {}
      }
    })
  </script>

  {% endblock %}
</div>
