!data
data/*

!data/boltz
data/boltz/*
!data/boltz/boltz.conf

!data/boltz-client
data/boltz-client/*
!data/boltz-client/boltz.toml

!data/boltz-nginx
data/boltz-nginx/*
!data/boltz-nginx/default.conf

!data/eclair
data/eclair/*
!data/eclair/eclair.conf
