.git
data
docker
docs
tests
venv

lnbits/static/css/*
lnbits/static/bundle.js
lnbits/static/bundle.css

*.md
*.log

.env

.gitignore
.prettierrc
LICENSE
Makefile
mypy.ini
package-lock.json
package.json
pytest.ini
