.DS_Store
._*

__pycache__
*.py[cod]
*$py.class
.mypy_cache
.vscode

*.egg
*.egg-info
.coverage
.pytest_cache
.webassets-cache
htmlcov
Pipfile.lock
test-reports

*.swo
*.swp
*.pyo
*.pyc
*.env
.env
venv

*.sqlite3
.pyre*

__bundle__
