**/.git
**/.svn
**/.hg
**/node_modules

*.yml

**/lnbits/extensions/*
**/lnbits/upgrades/*

**/lnbits/static/vendor
**/lnbits/static/bundle.*
**/lnbits/static/bundle-components.*
**/lnbits/static/css/*

flake.lock

.venv

# Third-party Bitcoin hardware signing libraries.
**/lnbits/onchain/static/js/crypto/*
**/lnbits/onchain/static/js/lib/*
