**/.git
**/.svn
**/.hg
**/node_modules

*.yml

**/lnbits/extensions/*
**/lnbits/upgrades/*

**/lnbits/static/vendor
**/lnbits/static/bundle.*
**/lnbits/static/bundle-components.*
**/lnbits/static/css/*

flake.lock

.venv

tests/fixtures/lnbits-wasm-test-extension/static/html-like.js
