     
            <q-expansion-item
                  group="extras"
                  icon="swap_vertical_circle"
                  label="Info"
                  :content-inset-level="0.5"
                >
                <q-card>
      <q-card-section>
       <h5 class="text-subtitle1 q-my-none">Assistant Faucet Milker</h5>
                <p>Milking faucets with software, known as "assmilking", seems at first to be black-hat, although in fact there might be some unexplored use cases. An LNURL withdraw gives someone the right to pull funds, which can be done over time. An LNURL withdraw could be used outside of just faucets, to provide money streaming and repeat payments.<br/>Paste or scan an LNURL withdraw, enter the amount for the AMilk to pull and the frequency for it to be pulled.<br/>
                  <small> Created by,  <a href="https://github.com/benarc">Ben Arc</a></small></p> 
              </q-card>
      </q-card-section>

      </q-card-section></q-expansion-item>