{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}

    <h3 class="q-my-none">
      Admin panel
    </h3>
    <p></p>
    <!--
  Forked from:
  https://quasar.dev/vue-components/form#Example--Basic
-->
    <q-card>
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="branding" label="Branding"></q-tab>
        <q-tab name="service" label="Service Settings"></q-tab>
        <q-tab name="wallet" label="Wallet Management"></q-tab>
        <q-tab name="funding" label="Funding Sources"></q-tab>
      </q-tabs>

      <q-separator></q-separator>

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="branding">
          <div class="text-h6">Branding</div>
               <div class="row">
          <div class="col">
            <q-input
              filled
              v-model="data.admin.site_title"
              label="Site title"
              class="q-pr-md"
              hint="To replace the default 'LNbits' name and tagline"
            ></q-input>
          </div>
          <div class="col">
            <q-input
              filled
              v-model="data.admin.tagline"
              label="Tagline"
            ></q-input>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <q-input
              filled
              v-model="data.admin.primary_color"
              class="q-pr-md"
              class="my-input"
              label="Primary Color"
              hint="Color theme your LNbits"
            >
              <template v-slot:append>
                <q-icon name="colorize" class="cursor-pointer">
                  <q-popup-proxy
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-color v-model="data.admin.primary_color"></q-color>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
          <div class="col">
            <q-input
              filled
              v-model="data.admin.secondary_color"
              :rules="['anyColor']"
              class="my-input"
              label="Secondary Color"
            >
              <template v-slot:append>
                <q-icon name="colorize" class="cursor-pointer">
                  <q-popup-proxy
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-color v-model="data.admin.secondary_color"></q-color>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
        </div>
        </q-tab-panel>

        <q-tab-panel name="service">
          <div class="text-h6">Service Settings</div>
              <div class="row">
          <div class="col">
            <q-input
              filled
              class="q-pr-md"
              type="number"
              v-model="data.admin.service_fee"
              label="Sevice fee"
              hint="What percentage to charge per transaction *default 0"
            ></q-input>
          </div>
          <div class="col">
            <q-input
              filled
              v-model="data.admin.default_wallet_name"
              label="Default wallet name"
              hint="Default name for wallets generated without being named"
            ></q-input>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <q-input
              filled
              class="q-pr-md"
              v-model="data.admin.data_folder"
              label="Data folder"
              hint="Where your databases will be saved"
            ></q-input>
          </div>
          <div class="col">
            <q-select
              filled
              v-model="data.admin.disabled_ext"
              multiple
              hint="Disable extensions *amilk disabled by default as resource heavy"
              :options="options"
              label="Disable extensions"
            ></q-select>
          </div>
        </div>
        </q-tab-panel>

        <q-tab-panel name="wallet">
          <div class="text-h6">Wallet Management</div>
          </q-tab-panel>
        <q-tab-panel name="funding">
          <div class="text-h6">Funding Sources</div>
           <q-list bordered class="rounded-borders">
          <q-expansion-item
            expand-separator
            icon="payments"
            :label="data.clightning.label"
          >
            <q-card>
              <q-card-section>
                <q-input
                  filled
                  v-model="data.clightning.endpoint"
                  label="GRPC Endpoint"
                  class="q-pr-md"
                  hint="ie /home/bob/.lightning/bitcoin/lightning-rpc"
                ></q-input>
              </q-card-section>
            </q-card>
          </q-expansion-item>

          <q-expansion-item
            expand-separator
            icon="payments"
            :label="data.lndrest.label"
          >
            <q-card>
              <q-card-section>
                <div class="row">
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.lndrest.endpoint"
                      label="LND REST Endpoint"
                      class="q-pr-md"
                      hint="default 127.0.0.1"
                    ></q-input>
                  </div>
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.lndrest.port"
                      label="LND REST port"
                      class="q-pr-md"
                      hint="Deafault 8080"
                    ></q-input>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.lndrest.cert"
                      label="LND self-signed cert"
                      class="q-pr-md"
                      hint="Location of your ssl cert"
                    ></q-input>
                  </div>
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.lndrest.admin"
                      label="LND admin macaroon"
                      class="q-pr-md"
                      hint="Your admin macaroon as hex or location"
                    ></q-input>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.lndrest.invoice"
                      label="LND invoice macaroon"
                      class="q-pr-md"
                      hint="Your invoice macaroon as hex or location"
                    ></q-input>
                  </div>
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.lndrest.read"
                      label="LND read macaroon"
                      class="q-pr-md"
                      hint="Your read macaroon as hex or location"
                    ></q-input>
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </q-expansion-item>

          <q-expansion-item
            expand-separator
            icon="payments"
            :label="data.lndgrpc.label"
          >
            <q-card>
              <q-card-section>
                <div class="row">
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.lndgrpc.endpoint"
                      label="LND GRPC Endpoint"
                      class="q-pr-md"
                      hint="default 127.0.0.1"
                    ></q-input>
                  </div>
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.lndgrpc.port"
                      label="LND GRPC port"
                      class="q-pr-md"
                      hint="Deafault 11009"
                    ></q-input>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.lndgrpc.cert"
                      label="LND self-signed cert"
                      class="q-pr-md"
                      hint="Location of your ssl cert"
                    ></q-input>
                  </div>
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.lndgrpc.admin"
                      label="LND admin macaroon"
                      class="q-pr-md"
                      hint="Your admin macaroon as hex or location"
                    ></q-input>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.lndgrpc.invoice"
                      label="LND invoice macaroon"
                      class="q-pr-md"
                      hint="Your invoice macaroon as hex or location"
                    ></q-input>
                  </div>
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.lndgrpc.read"
                      label="LND read macaroon"
                      class="q-pr-md"
                      hint="Your read macaroon as hex or location"
                    ></q-input>
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </q-expansion-item>

          <q-expansion-item
            expand-separator
            icon="payments"
            :label="data.lntxbot.label"
          >
            <q-card>
              <q-card-section>
                <div class="row">
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.lntxbot.admin"
                      label="Admin key"
                      class="q-pr-md"
                      hint="use /api in LNTXBOT"
                    ></q-input>
                  </div>
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.lntxbot.invoice"
                      label="Invoice key"
                      class="q-pr-md"
                    ></q-input>
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </q-expansion-item>

          <q-expansion-item
            expand-separator
            icon="payments"
            :label="data.lnpay.label"
          >
            <q-card>
              <q-card-section>
                <div class="row">
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.lnpay.cert"
                      label="API key"
                      class="q-pr-md"
                    ></q-input>
                  </div>
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.lnpay.admin"
                      label="Admin key"
                      class="q-pr-md q-pb-md"
                    ></q-input>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.lnpay.invoice"
                      label="Invoice key"
                      class="q-pr-md"
                    ></q-input>
                  </div>
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.lnpay.read"
                      label="Read key"
                      class="q-pr-md"
                    ></q-input>
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </q-expansion-item>

          <q-expansion-item
            expand-separator
            icon="payments"
            :label="data.lnbits.label"
          >
            <q-card>
              <q-card-section>
                <div class="row">
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.lnbits.endpoint"
                      label="LNbits endpoint"
                      class="q-pr-md"
                      hint="ie https://lnbits.com, default 127.0.0.1"
                    ></q-input>
                  </div>
                  <div class="col"></div>
                </div>
                <div class="row">
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.lnbits.admin"
                      label="Admin key"
                      class="q-pr-md q-pb-md"
                    ></q-input>
                  </div>
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.lnbits.invoice"
                      label="Invoice key"
                      class="q-pr-md"
                    ></q-input>
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </q-expansion-item>

          <q-expansion-item
            expand-separator
            icon="payments"
            :label="data.opennode.label"
          >
            <q-card>
              <q-card-section>
                <div class="row">
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.opennode.admin"
                      label="Admin key"
                      class="q-pr-md"
                    ></q-input>
                  </div>
                  <div class="col">
                    <q-input
                      filled
                      v-model="data.opennode.invoice"
                      label="Invoice key"
                      class="q-pr-md"
                    ></q-input>
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </q-list>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
     
        <div class="q-pt-md">
          <q-btn
            label="Save"
            type="submit"
            color="deep-purple"
          ></q-btn>
          <q-btn
            v-if="cancel.on"
            label="Cancel"
            type="reset"
            color="primary"
            flat
            class="q-ml-sm"
          ></q-btn>
        </div>
      </q-form>

{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  const queryString = window.location.search
  const urlParams = new URLSearchParams(queryString)
  const usr = urlParams.get('usr')
  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        tab: 'branding',
        cancel: {},
        data: {
          admin: {},
          clightning: {endpoint: ''},
          lndrest: {endpoint: '', invoice: '', read: '', admin: '', cert: ''},
          lndgrpc: {
            endpoint: '',
            port: '',
            invoice: '',
            read: '',
            admin: '',
            cert: ''
          },
          lntxbot: {invoice: '', admin: ''},
          lnpay: {endpoint: '', invoice: '', read: '', admin: '', cert: ''},
          lnbits: {endpoint: '', invoice: '', read: '', admin: ''},
          opennode: {invoice: '', read: '', admin: ''}
        },

        options: [
          'lnurlw',
          'lnurlp',
          'usermanager',
          'events',
          'lndhub',
          'lntickets',
          'paywall',
          'tpos',
          'amilk'
        ]
      }
    },
    created: function () {
      var self = this
      ;(self.data.admin.user = '{{ admin_user }}'),
        (self.data.admin.allowed_users = ''),
        (self.data.admin.site_title = '{{admin.site_title}}'),
        (self.data.admin.tagline = '{{admin.tagline}}'),
        (self.data.admin.primary_color = '{{admin.primary_color}}'),
        (self.data.admin.secondary_color = '{{admin.secondary_color}}'),
        (self.data.admin.service_fee = parseInt('{{admin.service_fee}}')),
        (self.data.admin.default_wallet_name = '{{admin.default_wallet_name}}'),
        (self.data.admin.data_folder = '{{admin.data_folder}}'),
        (self.data.admin.disabled_ext = '{{admin.disabled_ext}}'.split(','))

      if (usr != null) {
        self.cancel.on = true
      }
      funding = JSON.parse('{{ funding  | tojson }}')
      self.data.lndrest.label = 'LND REST'
      self.data.clightning.label = 'CLightning GRPC'
      self.data.lndgrpc.label = 'LND GRPC'
      self.data.lntxbot.label = 'LNTXBOT'
      self.data.lnpay.label = 'LNpay'
      self.data.lnbits.label = 'LNbits'
      self.data.opennode.label = 'Opennode'
      var i
      for (i = 0; i < funding.length; i++) {
        if (funding[i][1] == 'CLightningWallet') {
          self.data.clightning.endpoint = funding[i][2]
          if (funding[i][8] == 1) {
            self.data.clightning.label = 'CLightning GRPC (main funding source)'
          }
        }
        if (funding[i][1] == 'LndRestWallet') {
          self.data.lndrest.endpoint = funding[i][2]
          self.data.lndrest.read = funding[i][4]
          self.data.lndrest.invoice = funding[i][5]
          self.data.lndrest.admin = funding[i][6]
          self.data.lndrest.cert = funding[i][7]
          if (funding[i][8] == 1) {
            self.data.lndrest.label = 'LND REST (main funding source)'
          }
        }
        if (funding[i][1] == 'LndWallet') {
          self.data.lndgrpc.endpoint = funding[i][2]
          self.data.lndgrpc.port = funding[i][3]
          self.data.lndgrpc.read = funding[i][4]
          self.data.lndgrpc.invoice = funding[i][5]
          self.data.lndgrpc.admin = funding[i][6]
          self.data.lndgrpc.cert = funding[i][7]
          if (funding[i][8] == 1) {
            self.data.lndgrpc.label = 'LND GRPC (main funding source)'
          }
        }
        if (funding[i][1] == 'LntxbotWallet') {
          self.data.lntxbot.invoice = funding[i][5]
          self.data.lntxbot.admin = funding[i][6]

          if (funding[i][8] == 1) {
            self.data.lntxbot.label = 'LNTXBOT (main funding source)'
          }
        }
        if (funding[i][1] == 'LNPayWallet') {
          self.data.lnpay.read = funding[i][4]
          self.data.lnpay.invoice = funding[i][5]
          self.data.lnpay.admin = funding[i][6]
          self.data.lnpay.cert = funding[i][7]

          if (funding[i][8] == 1) {
            self.data.lnpay.label = 'LNpay (main funding source)'
          }
        }
        if (funding[i][1] == 'LnbitsWallet') {
          self.data.lnbits.endpoint = funding[i][2]
          self.data.lnbits.read = funding[i][4]
          self.data.lnbits.invoice = funding[i][5]
          self.data.lnbits.admin = funding[i][6]

          if (funding[i][8] == 1) {
            self.data.lnbits.label = 'LNbits (main funding source)'
          }
        }
        if (funding[i][1] == 'OpenNodeWallet') {
          self.data.opennode.read = funding[i][4]
          self.data.opennode.invoice = funding[i][5]
          self.data.opennode.admin = funding[i][6]

          if (funding[i][8] == 1) {
            self.data.opennode.label = 'Opennode (main funding source)'
          }
        }
      }
    },
    methods: {
      createWallet: function () {
        LNbits.href.createWallet(this.walletName)
      },
      LaunchLNbits: function () {
        var self = this
        var data = self.data
        data.admin.disabled_ext = data.admin.disabled_ext.toString()
        console.log(data.admin.disabled_ext)
        LNbits.api
          .request('POST', '/api/v1/admin', 'wallet.inkey', data.admin)
          .then(function (response) {
            console.log(response.data)
            window.location.href = '/wallet?usr=' + response.data[0]
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      cancelAdmin: function () {
        if (usr != null) {
          window.location.href = '/wallet?usr=' + usr
        }
      },

      processing: function () {
        this.$q.notify({
          timeout: 0,
          message: 'Processing...',
          icon: null
        })
      }
    }
  })
</script>
{% endblock %}
