{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md justify-center">
  <div class="col q-gutter-y-md">
    <q-card>
      <div class="q-pa-md">
        <div class="q-gutter-y-md">
          <q-tabs v-model="tab" active-color="primary" align="justify">
            <q-tab
              name="funding"
              label="Funding"
              @update="val => tab = val.name"
            ></q-tab>
            <q-tab
              name="users"
              label="Users"
              @update="val => tab = val.name"
            ></q-tab>
            <q-tab
              name="server"
              label="Server"
              @update="val => tab = val.name"
            ></q-tab>
            <q-tab
              name="theme"
              label="Theme"
              @update="val => tab = val.name"
            ></q-tab>
          </q-tabs>
        </div>
      </div>
      <q-form @submit="UpdateLNbits">
        <q-tab-panels v-model="tab" animated>
          {% include "admin/_tab_funding.html" %} {% include
          "admin/_tab_users.html" %} {% include "admin/_tab_server.html" %} {%
          include "admin/_tab_theme.html" %}
        </q-tab-panels>
      </q-form>
    </q-card>
  </div>
</div>

{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  const queryString = window.location.search
  const urlParams = new URLSearchParams(queryString)
  const usr = urlParams.get('usr')
  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        wallet: {data: {}},
        cancel: {},
        tab: 'funding',
        data: {
          funding_sources: [
            'CLightningWallet',
            'LndRestWallet',
            'LndWallet',
            'LntxbotWallet',
            'LNPayWallet',
            'LnbitsWallet',
            'OpenNodeWallet'
          ],
        },
        themes: [
          'classic',
          'bitcoin',
          'flamingo',
          'mint',
          'autumn',
          'monochrome',
          'salvador'
        ],
        options: [
          'bleskomat',
          'captcha',
          'events',
          'example',
          'livestream',
          'lndhub',
          'lnurlp',
          'offlineshop',
          'paywall',
          'splitpayments',
          'subdomains',
          'tpos',
          'usermanager',
          'watchonly',
          'withdraw',
          'copilot',
          'hivemind',
          'jukebox',
          'lnticket',
          'ngrok',
          'amilk'
        ]
      }
    },
    created: function () {
      var self = this
      if (usr != null) {
        self.cancel.on = true
      }
      this.data.settings = JSON.parse('{{ settings | tojson|safe }}')
      this.data.balance = {{ balance|safe }}
      console.log(this.data.settings, this.data.balance)
    },
    methods: {
      addAdminUser() {
        let addUser = this.data.admin_users_add
        let admin_users = this.data.admin.admin_users
        if (addUser && addUser.length && !admin_users.includes(addUser)) {
          admin_users.push(addUser)
          this.data.admin.admin_users = admin_users
          this.data.admin_users_add = ''
        }
      },
      removeAdminUser(user) {
        let admin_users = this.data.admin.admin_users
        this.data.admin.admin_users = admin_users.filter(u => u !== user)
      },
      addAllowedUser() {
        let addUser = this.data.allowed_users_add
        let allowed_users = this.data.admin.allowed_users
        if (addUser && addUser.length && !allowed_users.includes(addUser)) {
          allowed_users.push(addUser)
          this.data.admin.allowed_users = allowed_users
          this.data.allowed_users_add = ''
        }
      },
      removeAllowedUser(user) {
        let allowed_users = this.data.admin.allowed_users
        this.data.admin.allowed_users = allowed_users.filter(u => u !== user)
      },
      addAdSpace() {
        let adSpace = this.data.ad_space_add
        let spaces = this.data.admin.ad_space
        if (adSpace.length && !spaces.includes(adSpace)) {
          spaces.push(adSpace)
          this.data.admin.ad_space = spaces
          this.data.ad_space_add = ''
        }
      },
      removeAdSpace(ad) {
        let spaces = this.data.admin.ad_space
        this.data.admin.ad_space = spaces.filter(s => s !== ad)
      },
      restartServer() {
        LNbits.api
          .request(
            'GET',
            '/admin/api/v1/admin/restart/',
            this.g.user.wallets[0].adminkey
          )
          .then(response => {
            this.$q.notify({
              type: 'positive',
              message: 'Success! Restarted Server',
              icon: null
            })
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      topupWallet() {
        LNbits.api
          .request(
            'GET',
            '/admin/api/v1/admin/' +
              this.wallet.data.id +
              '/' +
              this.wallet.data.amount,
            this.g.user.wallets[0].adminkey
          )
          .then(response => {
            this.$q.notify({
              type: 'positive',
              message:
                'Success! Added ' +
                this.wallet.data.amount +
                ' to ' +
                this.wallet.data.id,
              icon: null
            })
            this.wallet.data = {}
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },

      createWallet: function () {
        LNbits.href.createWallet(this.walletName)
      },
      addSource: function (source) {
        var self = this
        self.data.admin.edited.push(source)
        console.log(self.data.admin.edited)
      },
      updateFunding(fund) {
        let data = this.data.admin.funding.find(v => v.backend_wallet == fund)

        LNbits.api
          .request(
            'POST',
            '/admin/api/v1/admin/funding',
            this.g.user.wallets[0].adminkey,
            data
          )
          .then(response => {
            //let wallet = response.data.backend_wallet
            //this.data.admin.funding[wallet] = response.data
            //this.data.admin.funding[wallet].endpoint = response.data.endpoint
            //console.log(this.data.admin.funding)
            //console.log(this.data.admin)
            this.$q.notify({
              type: 'positive',
              message: `Success! ${response.data.backend_wallet} changed!`,
              icon: null
            })
          })
      },
      UpdateLNbits() {
        let {
          admin_users,
          allowed_users,
          admin_ext,
          disabled_ext,
          funding_source,
          force_https,
          reserve_fee_min,
          reserve_fee_pct,
          service_fee,
          hide_api,
          site_title,
          site_tagline,
          site_description,
          default_wallet_name,
          denomination,
          theme,
          custom_logo,
          ad_space
        } = this.data.admin
        let data = {
          admin_users: admin_users.toString(),
          allowed_users: allowed_users.toString(),
          admin_ext: admin_ext.toString(),
          disabled_ext: disabled_ext.toString(),
          funding_source,
          force_https,
          reserve_fee_min,
          reserve_fee_pct,
          service_fee,
          hide_api,
          site_title,
          site_tagline,
          site_description,
          default_wallet_name,
          denomination,
          theme: theme.toString(),
          custom_logo: custom_logo.toString(),
          ad_space: ad_space.toString()
        }
        LNbits.api
          .request(
            'POST',
            '/admin/api/v1/admin/',
            this.g.user.wallets[0].adminkey,
            data
          )
          .then(response => {
            //console.log(response.data)
            this.$q.notify({
              type: 'positive',
              message: 'Success! Settings changed!',
              icon: null
            })
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },

      processing: function () {
        this.$q.notify({
          timeout: 0,
          message: 'Processing...',
          icon: null
        })
      }
    }
  })
</script>
{% endblock %}
