<!-- @format -->

{% extends "base.html" %} {% block messages %}

<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <i class="fa fa-bell-o"></i>
  <span class="label label-danger">!</span>
</a>
<ul class="dropdown-menu">
  <li class="header"><b>Instant wallet, bookmark to save</b></li>
  <li></li>
</ul>
{% endblock %} 


{% block menuitems %}
  <li class="treeview">
    <a href="#">
      <i class="fa fa-bitcoin"></i> <span>Wallets</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      {% for w in user_wallets %}
      <li>
        <a href="{{ url_for('wallet') }}?wal={{ w.id }}&usr={{ w.user }}"><i class="fa fa-bolt"></i> {{ w.name }}</a>
      </li>
      {% endfor %}
      <li><a onclick="sidebarmake()">Add a wallet +</a></li>
      <div id="sidebarmake"></div>
    </ul>
  </li>
  <li class="active treeview">
    <a href="#">
      <i class="fa fa-th"></i> <span>Extensions</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      {% for extension in EXTENSIONS %}
        {% if extension.code in user_ext %}
          <li>
            <a href="{{ url_for(extension.code + '.index') }}?usr={{ user }}"><i class="fa fa-plus"></i> {{ extension.name }}</a>
          </li>
        {% endif %}
      {% endfor %}
      <li>
      <a href="{{ url_for('extensions') }}?usr={{ user }}">Manager</a></li>
    </ul>
  </li>
{% endblock %}

{% block body %}
<!-- Right side column. Contains the navbar and content of the page -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
      <h1>
      TPOS, the shareable PoS
      <small> contributor/artist  <a href="https://github.com/talvasconcelos">Tiago Vasconcelos</a></small>

    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="{{ url_for('wallet') }}?usr={{ user }}"><i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li>
      <a href="{{ url_for('extensions') }}?usr={{ user }}"><li class="fa fa-dashboard">Extensions</li></a>
      </li>
       <li>
        <i class="active" class="fa fa-dashboard">example</i>
      </li>
    </ol>
    <br /><br />

    
    
  <!-- DOWNLOAD AND SEARCH ADMINLITE2 FOR HTML-->
    
 <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">

            <div class="col-md-6">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title"> Make a POS</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                  <div class="box-body">

                    <div class="form-group">
                      <label for="exampleInputEmail1">PoS Name</label>
                      <input id="nme" type="text" pattern="^[A-Za-z]+$" class="form-control" >
                    </div>

                       <div class="form-group">
                      <label>Select a wallet</label>
                      <select id="wal" class="form-control">
                         <option>Select a wallet</option>
                         {% for w in user_wallets %}
                        <option>{{w.name}}-{{w.id}}</option>
                         {% endfor %}
                      </select>
                    </div>

                  <div class="form-group">
                  <label>Fiat currency</label>
                  <select id="cur" class="form-control">
  <option value="USD" selected="selected">United States Dollars</option>
  <option value="EUR">Euro</option>
  <option value="GBP">United Kingdom Pounds</option>
  <option value="DZD">Algeria Dinars</option>
  <option value="ARP">Argentina Pesos</option>
  <option value="AUD">Australia Dollars</option>
  <option value="ATS">Austria Schillings</option>
  <option value="BSD">Bahamas Dollars</option>
  <option value="BBD">Barbados Dollars</option>
  <option value="BEF">Belgium Francs</option>
  <option value="BMD">Bermuda Dollars</option>
  <option value="BRL">Brazil Real</option>
  <option value="BGL">Bulgaria Lev</option>
  <option value="CAD">Canada Dollars</option>
  <option value="CLP">Chile Pesos</option>
  <option value="CNY">China Yuan Renmimbi</option>
  <option value="CYP">Cyprus Pounds</option>
  <option value="CSK">Czech Republic Koruna</option>
  <option value="DKK">Denmark Kroner</option>
  <option value="NLG">Dutch Guilders</option>
  <option value="XCD">Eastern Caribbean Dollars</option>
  <option value="EGP">Egypt Pounds</option>
  <option value="FJD">Fiji Dollars</option>
  <option value="FIM">Finland Markka</option>
  <option value="FRF">France Francs</option>
  <option value="DEM">Germany Deutsche Marks</option>
  <option value="XAU">Gold Ounces</option>
  <option value="GRD">Greece Drachmas</option>
  <option value="HKD">Hong Kong Dollars</option>
  <option value="HUF">Hungary Forint</option>
  <option value="ISK">Iceland Krona</option>
  <option value="INR">India Rupees</option>
  <option value="IDR">Indonesia Rupiah</option>
  <option value="IEP">Ireland Punt</option>
  <option value="ILS">Israel New Shekels</option>
  <option value="ITL">Italy Lira</option>
  <option value="JMD">Jamaica Dollars</option>
  <option value="JPY">Japan Yen</option>
  <option value="JOD">Jordan Dinar</option>
  <option value="KRW">Korea (South) Won</option>
  <option value="LBP">Lebanon Pounds</option>
  <option value="LUF">Luxembourg Francs</option>
  <option value="MYR">Malaysia Ringgit</option>
  <option value="MXP">Mexico Pesos</option>
  <option value="NLG">Netherlands Guilders</option>
  <option value="NZD">New Zealand Dollars</option>
  <option value="NOK">Norway Kroner</option>
  <option value="PKR">Pakistan Rupees</option>
  <option value="XPD">Palladium Ounces</option>
  <option value="PHP">Philippines Pesos</option>
  <option value="XPT">Platinum Ounces</option>
  <option value="PLZ">Poland Zloty</option>
  <option value="PTE">Portugal Escudo</option>
  <option value="ROL">Romania Leu</option>
  <option value="RUR">Russia Rubles</option>
  <option value="SAR">Saudi Arabia Riyal</option>
  <option value="XAG">Silver Ounces</option>
  <option value="SGD">Singapore Dollars</option>
  <option value="SKK">Slovakia Koruna</option>
  <option value="ZAR">South Africa Rand</option>
  <option value="KRW">South Korea Won</option>
  <option value="ESP">Spain Pesetas</option>
  <option value="XDR">Special Drawing Right (IMF)</option>
  <option value="SDD">Sudan Dinar</option>
  <option value="SEK">Sweden Krona</option>
  <option value="CHF">Switzerland Francs</option>
  <option value="TWD">Taiwan Dollars</option>
  <option value="THB">Thailand Baht</option>
  <option value="TTD">Trinidad and Tobago Dollars</option>
  <option value="TRL">Turkey Lira</option>
  <option value="VEB">Venezuela Bolivar</option>
  <option value="ZMK">Zambia Kwacha</option>
  <option value="EUR">Euro</option>
  <option value="XCD">Eastern Caribbean Dollars</option>
  <option value="XDR">Special Drawing Right (IMF)</option>
  <option value="XAG">Silver Ounces</option>
  <option value="XAU">Gold Ounces</option>
  <option value="XPD">Palladium Ounces</option>
  <option value="XPT">Platinum Ounces</option>
                  </select>
                </div>


                  </div><!-- /.box-body -->

                  <div class="box-footer">

                    <button onclick="postfau()" type="button" class="btn btn-info">Create POS</button><p style="color:red;" id="error"></p>
                  </div>
                </form>
              </div><!-- /.box -->


              <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title">Select POS</h3>
                </div><!-- /.box-header -->
                <form role="form">
                  <div class="box-body">
                     <div class="form-group">

                      <select class="form-control" id="fauselect" onchange="drawwithdraw()">
                        <option>Select a PoS</option>
                         {% for w in user_fau %}
                        <option id="{{w.uni}}"   >{{w.nme}}-{{w.uni}}</option>
                         {% endfor %}
                      </select>
                    </div>

                   <center> <br/><div id="qrcode" style="width:340px" ></div><br/><div style="width:75%;word-wrap: break-word;" id="qrcodetxt" ></div></center>
                </div>
               </form>

              </div><!-- /.box -->


              </div>



    </div>

    <!-- /.content -->
  </section>

  <script>

    window.user = {{ usr | megajson | safe }}
    window.user_wallets = {{ user_wallets | megajson | safe }}
    window.user_ext = {{ user_ext | megajson | safe }}
    window.user_fau = {{ user_fau | megajson | safe }}


    function getAjax(url, thekey, success) {
  var xhr = window.XMLHttpRequest
    ? new XMLHttpRequest()
    : new ActiveXObject('Microsoft.XMLHTTP')
  xhr.open('GET', url, true)
  xhr.onreadystatechange = function() {
    if (xhr.readyState > 3 && xhr.status == 200) {
      success(xhr.responseText)
    }
  }
  xhr.setRequestHeader('Grpc-Metadata-macaroon', thekey)
  xhr.setRequestHeader('Content-Type', 'application/json')

  xhr.send()
  return xhr
}


    //draws withdraw QR code
function drawwithdraw() {



      walname = document.getElementById("fauselect").value

      thewithdraw = walname.split("-");
  theurl = window.location.hostname + "{{ url_for('tpos.tpos') }}?pos=" + thewithdraw[1]

      new QRCode(document.getElementById('qrcode'), {
        text: theurl,
        width: 300,
        height: 300,
        colorDark: '#000000',
        colorLight: '#ffffff',
        correctLevel: QRCode.CorrectLevel.M
      })

     
      document.getElementById('qrcodetxt').innerHTML = 
      "<a href='{{ url_for('tpos.tpos') }}?pos=" + thewithdraw[1] + "'><h4>Shareable link</h4></a>" 
      document.getElementById("qrcode").style.backgroundColor = "white";
      document.getElementById("qrcode").style.padding = "20px";


}

function postfau(){

  nme = document.getElementById('nme').value
  wal = document.getElementById('wal').value
  cur = document.getElementById('cur').value
  wall = wal.split("-")
      console.log(window.location.hostname + "-" + wall[1])

  getAjax(
    "{{ url_for('tpos.index') }}?nme=" + nme + "&usr=" + user + "&cur=" + cur + "&wal=" + wall[1],
    "filla",

    function(data) {  location.replace("{{ url_for('tpos.index') }}?usr=" + user)
})


}


  </script>
</div>
{% endblock %}
