{% extends "base.html" %}

{% from "macros.jinja" import window_vars with context %}


{% block scripts %}
  {{ window_vars(user) }}
  <script>

    new Vue({
      el: '#vue',
      mixins: [windowMixin],
        data () {

     var optionswal = []

     for (i = 0; i < user[3].length; i++) {optionswal[i] += String(user[3][i][1] + "-" + user[3][i][0]);}

    return {
      model: null,
      model2: null,
      model3: null,
      optionswal,
      optionscur: [
        'USD',  'EUR',  'GBP',  'DZD',  'ARP',  'AUD',  'ATS',  'BSD',  'BBD',  'BEF',  'BMD',  'BRL',  'BGL',  'CAD',  'CLP',  'CNY',  'CYP',  'CSK',  'DKK',  'NLG',  'XCD',  'EGP',  'FJD',  'FIM',  'FRF',  'DEM',  'XAU',  'GRD',  'HKD',  'HUF',  'ISK',  'INR',  'IDR',  'IEP',  'ILS',  'ITL',  'JMD',  'JPY',  'JOD',  'KRW',  'LBP',  'LUF',  'MYR',  'MXP',  'NLG',  'NZD',  'NOK',  'PKR',  'XPD',  'PHP',  'XPT',  'PLZ',  'PTE',  'ROL',  'RUR',  'SAR',  'XAG',  'SGD',  'SKK',  'ZAR',  'KRW',  'ESP',  'XDR',  'SDD',  'SEK',  'CHF',  'TWD',  'THB',  'TTD',  'TRL',  'VEB',  'ZMK',  'EUR',  'XCD',  'XDR',  'XAG',  'XAU',  'XPD',  'XPT',
      ]
      
    }
  }

    });
  </script>
{% endblock %}

{% block page %}


  
   
    <div class="row">
      <div class="col-md-6 q-pr-sm">
<div class="q-gutter-y-md">

      <q-card >
        <q-card-section>
            <q-form class="q-gutter-md">
              <h4>Make a PoS</h4>
              <div>
              <q-input square filled id="nme"label="PoS Name" /><br/>
            </div>
            <div>
              <q-select filled v-model="model" id="wal"  :options="optionswal" label="Select a wallet">
              </q-select>
            </div>
            <div>
              <q-select filled v-model="model2" id="cur" :options="optionscur" label="Fiat currency">
              </q-select>


            </div>
        </q-card-section>
          <q-card-actions class="q-px-md">
            <q-btn unelevated color="deep-purple" onclick="postfau()" size="lg" class="full-width" label="Create PoS" />
          </q-card-actions><br/>
        </q-form>
      </q-card>

      <q-card>
        <q-card-section>
          <h4>Select PoS</h4>
            <div>
              <q-select filled v-model="model3" id="cur" :options="optionswal" label="Fiat currency">
              </q-select>
              <center> <br/><div id="qrcode" style="width:340px" ></div><br/><div style="width:75%;word-wrap: break-word;" id="qrcodetxt" ></div></center>
                
            </div>
         <br/>
      </q-card>
    
    </div></div></div>


<script>
    window.user = {{ usr | megajson | safe }}
    window.user_wallets = {{ user_wallets | megajson | safe }}
    window.user_ext = {{ user_ext | megajson | safe }}
    window.user_fau = {{ user_fau | megajson | safe }}
    
  setTimeout(() => app.options = options, 1000)

    function getAjax(url, thekey, success) {
  var xhr = window.XMLHttpRequest
    ? new XMLHttpRequest()
    : new ActiveXObject('Microsoft.XMLHTTP')
  xhr.open('GET', url, true)
  xhr.onreadystatechange = function() {
    if (xhr.readyState > 3 && xhr.status == 200) {
      success(xhr.responseText)
    }
  }
  xhr.setRequestHeader('Grpc-Metadata-macaroon', thekey)
  xhr.setRequestHeader('Content-Type', 'application/json')

  xhr.send()
  return xhr
}


    //draws withdraw QR code
function drawwithdraw() {



      walname = document.getElementById("fauselect").value

      thewithdraw = walname.split("-");
  theurl = window.location.hostname + "{{ url_for('tpos.tpos') }}?pos=" + thewithdraw[1]

      new QRCode(document.getElementById('qrcode'), {
        text: theurl,
        width: 300,
        height: 300,
        colorDark: '#000000',
        colorLight: '#ffffff',
        correctLevel: QRCode.CorrectLevel.M
      })

     
      document.getElementById('qrcodetxt').innerHTML = 
      "<a href='{{ url_for('tpos.tpos') }}?pos=" + thewithdraw[1] + "'><h4>Shareable link</h4></a>" 
      document.getElementById("qrcode").style.backgroundColor = "white";
      document.getElementById("qrcode").style.padding = "20px";


}

function postfau(){

  nme = document.getElementById('nme').value
  wal = document.getElementById('wal').value
  cur = document.getElementById('cur').value
  wall = wal.split("-")
      console.log(window.location.hostname + "-" + wall[1])

  getAjax(
    "{{ url_for('tpos.index') }}?nme=" + nme + "&usr=" + user + "&cur=" + cur + "&wal=" + wall[1],
    "filla",

    function(data) {  location.replace("{{ url_for('tpos.index') }}?usr=" + user)
})
}

  </script>

{% endblock %}
