<q-expansion-item
  group="extras"
  icon="swap_vertical_circle"
  label="About lnSubdomains"
  :content-inset-level="0.5"
>
  <q-card>
    <q-card-section>
      <h5 class="text-subtitle1 q-my-none">
        lnSubdomains: Get paid sats to sell your subdomains
      </h5>
      <p>
        Charge people for using your subdomain name...<br />
        Are you the owner of <b>cool-domain.com</b> and want to sell
        <i>cool-subdomain</i>.<b>cool-domain.com</b>
        <br />
        <small>
          Created by, <a href="https://github.com/grmkris">Kris</a></small
        >
      </p>
    </q-card-section>
  </q-card>
</q-expansion-item>
