<q-expansion-item
  group="extras"
  icon="swap_vertical_circle"
  label="About lnSubdomains"
  :content-inset-level="0.5"
>
  <q-card>
    <q-card-section>
      <h5 class="text-subtitle1 q-my-none">
        lnSubdomains: Get paid sats to sell your subdomains
      </h5>
      <p>
        Charge people for using your subdomain name...<br />

        <a
          href="https://github.com/lnbits/lnbits/tree/master/lnbits/extensions/subdomains"
          >More details</a
        >
        <br />
        <small>
          Created by, <a href="https://github.com/grmkris">Kris</a></small
        >
      </p>
    </q-card-section>
  </q-card>
</q-expansion-item>
