<q-tab-panel name="exchange_providers">
  <h6 class="q-my-none q-mb-sm">Exchange Providers</h6>

  <div class="row q-mb-md">
    <div class="col-12">
      <q-btn
        @click="addExchangeProvider()"
        label="Add Exchange Provider"
        color="primary"
        class="q-mb-md"
      >
      </q-btn>
    </div>
  </div>

  <q-table
    row-key="name"
    :rows="formData.lnbits_exchange_rate_providers"
    :columns="exchangesTable.columns"
    v-model:pagination="exchangesTable.pagination"
    :filter="exchangesTable.search"
    :loading="exchangesTable.loading"
    @request="fetchUsers"
  >
    <template v-slot:header="props">
      <q-tr :props="props">
        <q-th auto-width></q-th>
        <q-th v-for="col in props.cols" :key="col.name" :props="props">
          <span v-text="col.label"></span>
        </q-th>
      </q-tr>
    </template>
    <template v-slot:body="props">
      <q-tr auto-width :props="props">
        <q-td>
          <q-btn
            @click="removeExchangeProvider(props.row)"
            round
            icon="delete"
            size="sm"
            color="negative"
            class="q-ml-xs"
          >
          </q-btn>
        </q-td>
        <q-td>
          <q-input dense filled v-model="props.row.name" type="text"> </q-input>
        </q-td>
        <q-td>
          <q-input dense filled v-model="props.row.api_url" type="text">
          </q-input
        ></q-td>
        <q-td>
          <q-input dense filled v-model="props.row.path" type="text"> </q-input>
        </q-td>
        <q-td>
          <q-select
            filled
            dense
            v-model="props.row.exclude_to"
            multiple
            :options="{{ currencies | safe }}"
          ></q-select>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</q-tab-panel>
