<q-tab-panel name="funding">
  <q-card-section class="q-pa-none">
    <h6 class="q-my-none">Wallets Management</h6>
    <br />
    <div>
      <div class="row">
        <div class="col">
          <p>Funding Source Info</p>
          <ul>
            <li
              v-text="'Funding Source: '+ settings.lnbits_backend_wallet_class"
            ></li>
            <li
              v-text="'Node Balance: ' + (auditData.node_balance_msats /
              1000).toLocaleString() + ' sats'"
            ></li>
            <li
              v-text="'LNbits Balance: ' + (auditData.lnbits_balance_msats /
              1000).toLocaleString() + ' sats'"
            ></li>
            <li
              v-text="'Reserve Percent: ' + (auditData.node_balance_msats /
              auditData.lnbits_balance_msats * 100).toFixed(2) + ' %'"
            ></li>
          </ul>
          <br />
        </div>
        <div class="col">
          {% if LNBITS_NODE_UI_AVAILABLE %}
          <p>Node Management</p>
          <q-toggle
            label="Node UI"
            v-model="formData.lnbits_node_ui"
          ></q-toggle>
          <q-toggle
            v-if="formData.lnbits_node_ui"
            label="Public node UI"
            v-model="formData.lnbits_public_node_ui"
          ></q-toggle>
          <br />
          <q-toggle
            v-if="formData.lnbits_node_ui"
            label="Transactions Tab (Disable on large CLN nodes)"
            v-model="formData.lnbits_node_ui_transactions"
          ></q-toggle>
          {% else %}
          <p>Node Management not supported by active funding source</p>
          {% endif %}
        </div>
      </div>
      <div class="row q-col-gutter-md">
        <div class="col-12 col-md-4">
          <p>Invoice Expiry</p>
          <q-input
            filled
            v-model.number="formData.lightning_invoice_expiry"
            type="number"
            label="Invoice expiry (seconds)"
            mask="#######"
          >
          </q-input>
        </div>
        <div class="col-12 col-md-8">
          <p>Fee reserve</p>
          <div class="row q-col-gutter-md">
            <div class="col-6">
              <q-input
                type="number"
                filled
                v-model="formData.lnbits_reserve_fee_min"
                label="Reserve fee in msats"
              >
              </q-input>
            </div>
            <div class="col-6">
              <q-input
                type="number"
                filled
                name="lnbits_reserve_fee_percent"
                v-model="formData.lnbits_reserve_fee_percent"
                label="Reserve fee in percent"
                step="0.1"
              ></q-input>
            </div>
          </div>
        </div>
      </div>
      <div v-if="isSuperUser">
        <lnbits-funding-sources
          :form-data="formData"
          :allowed-funding-sources="settings.lnbits_allowed_funding_sources"
        />
      </div>
    </div>
  </q-card-section>
</q-tab-panel>
