<q-tab-panel name="security">
  <q-card-section class="q-pa-none">
    <h6 class="q-my-none">Security tools</h6>
    <br />
    <div>
      <div class="row">
        <div class="column" style="width: 100%">
          <div
            class="col bg-primary"
            style="padding-left: 5px; max-height: 20px; color: #fafafa"
          >
            SERVER LOGS
          </div>
          <div class="col" style="background-color: #292929">
            <q-scroll-area
              ref="logScroll"
              style="padding: 10px; color: #fafafa; height: 320px"
            >
              <small v-for="log in logs"
                >{% raw %}{{ log }}{% endraw %}<br
              /></small>
            </q-scroll-area>
          </div>
        </div>
      </div>
      <div class="row q-col-gutter-md">
        <div class="col-12 col-md-6">
          <div>
            <br />
            <p>Blocked IPs</p>
            <q-input
              filled
              v-model="formBlockedIPs"
              @keydown.enter="addBlockedIPs"
              type="text"
              label="Enter IP and hit enter"
              hint="Block access by IP"
            >
              <q-btn
                @click="addExtensionsManifest"
                dense
                flat
                icon="add"
              ></q-btn>
            </q-input>
            <div>
              {%raw%}
              <q-chip
                v-for="blocked_ip in formData.lnbits_blocked_ips"
                :key="blocked_ip"
                removable
                @remove="removeBlockedIPs(blocked_ip)"
                color="primary"
                text-color="white"
              >
                {{ blocked_ip }}
              </q-chip>
              {%endraw%}
            </div>
            <br />
          </div>
        </div>
        <div class="col-12 col-md-6">
          <br />
          <p>Allowed IPs</p>
          <q-input
            filled
            v-model="formAllowedIPs"
            @keydown.enter="addAllowedIPs"
            type="text"
            label="Enter IP and hit enter"
            hint="Allow access by IP (will override blocked IPs)"
          >
            <q-btn @click="addExtensionsManifest" dense flat icon="add"></q-btn>
          </q-input>
          <div>
            {%raw%}
            <q-chip
              v-for="allowed_ip in formData.lnbits_allowed_ips"
              :key="manifestUrl"
              removable
              @remove="removeAllowedIPs(allowed_ip)"
              color="primary"
              text-color="white"
            >
              {{ allowed_ip }}
            </q-chip>
            {%endraw%}
          </div>
          <br />
        </div>
      </div>
      <div class="row q-col-gutter-md">
        <div class="col-12 col-md-6">
          <br />
          <p>Rate Limit</p>
          <q-input
            filled
            type="number"
            v-model.number="formData.lnbits_rate_limit"
            label="Rate limit IP per hr"
            hint="Rate limit IPs per hour to avoid spam attacks"
          ></q-input>
          <br />
        </div>
      </div>
    </div>
  </q-card-section>
</q-tab-panel>
