<q-tab-panel name="library">
  <q-card-section class="q-pa-none">
    <h6 class="q-my-none q-mb-sm">
      <span v-text="$t('image_library')"></span>
    </h6>
    <q-btn
      color="primary"
      label="Add Image"
      @click="$refs.imageInput.click()"
      class="q-mb-md"
    />
    <input
      type="file"
      ref="imageInput"
      accept="image/png, image/jpeg, image/gif"
      style="display: none"
      @change="e => uploadImage(e.target.files[0])"
    />
  </q-card-section>

  <div v-if="images && library_images.length > 0">
    <q-card v-for="image in images" :key="image.filename" class="q-mb-sm">
      <q-img :src="image.url" style="height: 150px" />

      <q-card-section
        class="q-pt-sm q-pb-none row items-center justify-between"
      >
        <div
          class="text-body2 ellipsis"
          style="max-width: 80%"
          v-text="image.url"
        ></div>
        <q-btn
          dense
          flat
          icon="content_copy"
          @click="copyText(image.url)"
          :title="$t('copy')"
        ></q-btn>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          color="negative"
          icon="delete"
          flat
          @click="deleteImage(image.filename)"
        />
      </q-card-actions>
    </q-card>
  </div>

  <!-- Empty state -->
  <div v-else>
    <q-card class="q-pa-md">
      <div class="text-subtitle2 text-grey">No images uploaded yet.</div>
    </q-card>
  </div>
</q-tab-panel>
