<q-tab-panel name="server">
  <q-card-section class="q-pa-none">
    <div>
      <h6 class="q-my-none"><span v-text="$t('currency_settings')"></span></h6>
      <div class="row q-col-gutter-md">
        <div class="col-12 col-md-6">
          <p><span v-text="$t('allowed_currencies')"></span></p>
          <q-select
            filled
            v-model="formData.lnbits_allowed_currencies"
            multiple
            :hint="$t('allowed_currencies_hint')"
            :label="$t('allowed_currencies')"
            :options="{{ currencies | safe }}"
          ></q-select>
          <br />
        </div>
        <div class="col-12 col-md-6">
          <p><span v-text="$t('default_account_currency')"></span></p>
          <q-select
            filled
            v-model="formData.lnbits_default_accounting_currency"
            clearable
            :hint="$t('default_account_currency_hint')"
            :label="$t('currency')"
            :options="formData.lnbits_allowed_currencies?.length ? formData.lnbits_allowed_currencies : {{ currencies }}"
          ></q-select>
          <br />
        </div>
      </div>

      <br />
      <h6 class="q-my-none"><span v-text="$t('service_fee')"></span></h6>
      <div class="row q-col-gutter-md">
        <div class="col-12 col-md-6">
          <p><span v-text="$t('service_fee')"></span></p>
          <q-input
            filled
            type="number"
            v-model.number="formData.lnbits_service_fee"
            :label="$t('service_fee_label')"
            step="0.1"
            :hint="$t('service_fee_hint')"
          ></q-input>
          <br />
        </div>
        <div class="col-12 col-md-6">
          <p><span v-text="$t('service_fee_max')"></span></p>
          <q-input
            filled
            type="number"
            v-model.number="formData.lnbits_service_fee_max"
            :label="$t('service_fee_max_label')"
            :hint="$t('service_fee_max_hint')"
          ></q-input>
          <br />
        </div>
        <div class="col-12 col-md-6">
          <p><span v-text="$t('fee_wallet')"></span></p>
          <q-input
            filled
            v-model="formData.lnbits_service_fee_wallet"
            :label="$t('fee_wallet_label')"
            :hint="$t('fee_wallet_hint')"
          ></q-input>
          <br />
        </div>
        <div class="col-12 col-md-6">
          <p><span v-text="$t('disable_fee_internal')"></span></p>
          <q-item tag="label" v-ripple>
            <q-item-section>
              <q-item-label v-text="$t('disable_fee')"></q-item-label>
              <q-item-label
                caption
                v-text="$t('disable_fee_internal_desc')"
              ></q-item-label>
            </q-item-section>
            <q-item-section avatar>
              <q-toggle
                size="md"
                v-model="formData.lnbits_service_fee_ignore_internal"
                checked-icon="check"
                color="green"
                unchecked-icon="clear"
              />
            </q-item-section>
          </q-item>
          <br />
        </div>
      </div>
    </div>
  </q-card-section>
</q-tab-panel>
