{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md justify-center">
  <div class="col q-my-md">
    <h6 class="q-my-none">App Installer</h6>
  </div>
</div>

<div class="row q-col-gutter-md justify-center">
  <div class="col q-gutter-y-md">
    <q-card>
      <div class="q-pa-md">
        <div class="q-gutter-y-md">
          <q-tabs v-model="tab" active-color="primary" align="justify">
            <q-tab
              name="apps"
              :label="$t('apps')"
              @update="val => tab = val.name"
            ></q-tab>

            <q-tab
              name="config"
              :label="$t('config_file')"
              @update="val => tab = val.name"
            ></q-tab>
          </q-tabs>
        </div>
      </div>

      <q-form name="settings_form" id="settings_form">
        <q-tab-panels v-model="tab" animated>
          {% include "admin/_tab_install_apps.html" %} {% include
          "admin/_tab_install_config.html" %}
        </q-tab-panels>
      </q-form>
    </q-card>
  </div>
</div>

{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  var mapPackages = function (obj) {
    return obj
  }
  var mapConfig = function (obj) {
    return obj
  }
  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        tab: 'apps',
        packages: [],
        config: ''
      }
    },
    computed: {},
    methods: {
      getPackages() {
        self = this
        LNbits.api.request('GET', '/admin/api/v1/apps').then(response => {
          self.packages = response.data
        })
      },
      getNixConfig() {
        self = this
        LNbits.api.request('GET', '/admin/api/v1/config').then(response => {
          self.config = response.data
        })
      },
      updateConfig() {
        self = this
        LNbits.api
          .request('POST', '/admin/api/v1/updateconfig', 'null', {
            config: this.config
          })
          .then(response => {
            console.log(response)
            this.$q.notify({
              type: 'positive',
              message: 'Saved',
              icon: null
            })
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      }
    },
    created() {
      this.getPackages()
      this.getNixConfig()
      console.log(this.config)
    }
  })
</script>
{% endblock %}
