{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md q-mb-md">
  <div class="col-sm-9 col-xs-12">
    <p class="text-h4 gt-sm">
      {%raw%}{{ $t('nix_package_installer') }}{%endraw%}
    </p>
  </div>
</div>

<div class="row q-col-gutter-md q-mb-md">
  <div class="col-12">
    <q-card>
      <div class="q-pa-xs">
        <div class="q-gutter-y-md">
          <q-tabs v-model="tab" active-color="primary" align="left">
            <q-tab
              name="packages"
              :label="$t('packages')"
              @update="val => tab = val.name"
            ></q-tab>
            <q-tab
              name="support_packages"
              :label="$t('support_packages')"
              @update="val => tab = val.name"
            ></q-tab>
            <q-tab
              name="config"
              :label="$t('config_file')"
              @update="val => tab = val.name"
            ></q-tab>
          </q-tabs>
        </div>
      </div>
    </q-card>
  </div>
</div>
<q-card class="no-border no-outline no-box-shadow">
  <q-form
    name="settings_form"
    id="settings_form"
    class="no-border no-outline no-box-shadow"
  >
    <q-tab-panels
      v-model="tab"
      animated
      class="bg-dark no-border no-outline no-box-shadow"
    >
      {% include "admin/_tab_install_packages.html" %}{% include
      "admin/_tab_install_support_packages.html" %} {% include
      "admin/_tab_install_config.html" %}
    </q-tab-panels>
  </q-form>
</q-card>

{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        tab: 'packages',
        packages: null,
        supportpackages: null,
        config: '',
        configAr: []
      }
    },
    computed: {},
    methods: {
      getPackages() {
        self = this
        LNbits.api.request('GET', '/admin/api/v1/apps').then(response => {

          var packages = JSON.stringify(response.data.packages)
          this.packages = JSON.parse(packages)
          for (var i = 0; i < this.packages.length; i++) {
            const flake = this.packages[i].repo.trim().split('/')
            const flakeStr = './' + flake[flake.length - 1]
            if (self.configAr.includes(flakeStr)) {
              this.packages[i].installed = true
            }
          }
          console.log(self.configAr)

          var supportpackages = JSON.stringify(response.data.support_packages)
          this.supportpackages = JSON.parse(supportpackages)
          for (var i = 0; i < this.supportpackages.length; i++) {
            const flake = this.supportpackages[i].repo.trim().split('/')
            const flakeStr = './' + flake[flake.length - 1]
            if (self.configAr.includes(flakeStr)) {
              this.supportpackages[i].installed = true
            }
          }
          console.log(self.configAr)

        })
      },
      getNixConfig() {
        self = this
        LNbits.api.request('GET', '/admin/api/v1/config').then(response => {
          self.config = response.data
          self.configAr = self.config.split(/\r\n|\r|\n/).map(function (item) {
            return item.trim()
          })
        })
      },
      updateConfig() {
        self = this
        LNbits.api
          .request('POST', '/admin/api/v1/updateconfig', 'null', {
            config: this.config
          })
          .then(response => {
            console.log(response)
            this.$q.notify({
              type: 'positive',
              message: 'Saved',
              icon: null
            })
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      }
    },
    created() {
      this.getNixConfig()
      this.getPackages()
    }
  })
</script>
{% endblock %}
