<q-card>
  <q-card-section>
    <p>
      Onchain Wallet (watch-only) extension uses mempool.space<br />
      For use with "account Extended Public Key"
      <a
        href="https://iancoleman.io/bip39/"
        target="_blank"
        style="color: unset"
        >https://iancoleman.io/bip39/</a
      >
      <br />
      Flash binaries
      <a
        href="https://lnbits.github.io/hardware-wallet"
        target="_blank"
        style="color: unset"
        >directly from browser</a
      >
      <small>
        <br />Created by,
        <a target="_blank" style="color: unset" href="https://github.com/arcbtc"
          >Ben Arc</a
        >
        (using,
        <a
          target="_blank"
          style="color: unset"
          href="https://github.com/diybitcoinhardware/embit"
          >Embit</a
        ></small
      >)
      <br />
      <br />
      <a target="_blank" href="/docs#/watchonly" style="color: unset"
        >Swagger REST API Documentation</a
      >
    </p>
  </q-card-section>
</q-card>
