<q-expansion-item
  group="extras"
  icon="swap_vertical_circle"
  label="Info"
  :content-inset-level="0.5"
>
  <q-card>
    <q-card-section>
      <h5 class="text-subtitle1 q-my-none">
        Twitch Alerts: Integrate Bitcoin into your stream alerts!
      </h5>
      <p>
        Accept Bitcoin donations on Twitch, and integrate them into your alerts.
        Present your viewers with a simple donation page, and add those donations
        to Streamlabs to play alerts on your stream!<br />
        <small>
          Created by, <a href="https://github.com/Fittiboy">Fitti</a></small
        >
      </p>
    </q-card-section>
  </q-card>
</q-expansion-item>
