{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn
          label="Create Swap Out"
          unelevated
          color="primary"
          @click="() => {swapOutDialog.show = true; endSwapInCard();}"
        >
          <q-tooltip class="bg-grey-8" anchor="bottom left" self="top left">
            Send offchain funds to onchain address (LN -> BTC)
          </q-tooltip>
        </q-btn>
        <q-btn
          label="Create Swap In"
          unelevated
          color="primary"
          @click="() => startSwapIn()"
        >
          <q-tooltip class="bg-grey-8" anchor="bottom left" self="top left">
            Send onchain funds offchain (BTC - LN)
          </q-tooltip>
        </q-btn>
      </q-card-section>
    </q-card>
    <!-- SWAP IN CREATE -->
    {% include "swap/_swap_in_create.html" %}
    <!-- END SWAP IN CREATE -->
    <q-card>
      <q-card-section v-if="recurrent.length > 0">
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Recurrent</h5>
          </div>
        </div>
        <q-table
          dense
          flat
          :data="recurrent"
          row-key="wallet"
          :columns="recurrentTable.columns"
          :visible-columns="visibleColumns"
          :pagination.sync="recurrentTable.pagination"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.value }}
                <q-tooltip
                  v-if="col.label == 'Onchain Address'"
                  class="bg-grey-8"
                  anchor="bottom left"
                  self="top left"
                >
                  Addresses will be pulled from watch-only extension at the time
                  of the swap out
                </q-tooltip>
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="updateRecurrentDialog(props.row.id)"
                  icon="edit"
                  color="light-blue"
                >
                </q-btn>
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteRecurrent(props.row.id)"
                  icon="cancel"
                  color="pink"
                ></q-btn>
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>
    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Swap Outs</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportSwapOutsCSV"
              >Export to CSV</q-btn
            >
          </div>
        </div>
        <q-table
          dense
          flat
          :data="swapOuts"
          row-key="id"
          :columns="swapOutsTable.columns"
          :pagination.sync="swapOutsTable.pagination"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-icon
                  v-if="props.row.recurrent"
                  name="autorenew"
                  size="xs"
                  color="green-3"
                  unelevated
                  dense
                >
                  <q-tooltip>Recurrent Swap</q-tooltip>
                </q-icon>

                <q-icon
                  v-else
                  name="touch_app"
                  size="xs"
                  color="grey-5"
                  unelevated
                  dense
                >
                  <q-tooltip>Manual Swap</q-tooltip>
                </q-icon>
              </q-td>
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.value }}
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>
    <q-card v-if="swapIns.length > 0">
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Swap Ins</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportSwapOutsCSV"
              >Export to CSV</q-btn
            >
          </div>
        </div>
        <q-table
          dense
          flat
          :data="swapIns"
          row-key="id"
          :columns="swapInsTable.columns"
          :pagination.sync="swapInsTable.pagination"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-icon
                  v-if="props.row.done"
                  name="check"
                  size="xs"
                  color="green-3"
                  unelevated
                  dense
                >
                  <q-tooltip>Swap In done</q-tooltip>
                </q-icon>
                <q-btn
                  v-else
                  flat
                  dense
                  size="xs"
                  @click="updateSwapIn(props.row.id)"
                  icon="edit"
                  color="light-blue"
                >
                  <q-tooltip>Enter TXID</q-tooltip>
                </q-btn>
              </q-td>
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.value }}
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>
  </div>
  <div class="col-12 col-md-4 col-lg-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">{{SITE_TITLE}} Swap extension</h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "swap/_api_docs.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>
  <q-dialog v-model="swapOutDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <q-form @submit="sendSwapOutFormData" class="q-gutter-md">
        <q-select
          filled
          dense
          emit-value
          v-model="swapOutDialog.data.wallet"
          :options="g.user.walletOptions"
          label="Wallet *"
          :disable="swapOutDialog.data.id ? true : false"
        >
        </q-select>

        <q-input
          filled
          dense
          emit-value
          v-model.trim="swapOutDialog.data.amount"
          type="number"
          label="Amount "
          :hint="balance"
        ></q-input>
        <q-input
          filled
          dense
          emit-value
          v-model.trim="swapOutDialog.data.fee"
          type="number"
          label="Fee "
        ></q-input>
        <div>
          <div v-if="swapOutDialog.data.onchain">
            <q-select
              filled
              dense
              emit-value
              v-model="swapOutDialog.data.onchainwallet"
              :options="walletLinks"
              label="Onchain Wallet"
            />
          </div>
          <div v-else>
            <q-input
              filled
              dense
              emit-value
              v-model.trim="swapOutDialog.data.onchainaddress"
              type="text"
              label="Address "
            >
            </q-input>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div v-if="walletLinks.length > 0">
              <q-checkbox
                v-model="swapOutDialog.data.onchain"
                label="Use Watch-Only Address"
              />
            </div>
            <div v-else>
              <q-checkbox
                :value="false"
                label="Use Watch-Only Address"
                disabled
              >
                <q-tooltip>
                  Watch-Only extension MUST be activated and have a wallet
                </q-tooltip>
              </q-checkbox>
            </div>
          </div>
          <div class="col">
            <q-toggle
              v-model="swapOutDialog.data.recurrent"
              label="Make this recurrent"
              color="primary"
              :disable="swapOutDialog.data.id ? true : false"
            >
              <q-tooltip>
                By enabling this, every time the balance reaches this amount, it
                will trigger a Swap Out
                <br />
                It won't trigger a Swap now!
              </q-tooltip>
            </q-toggle>
          </div>
        </div>
        <div class="row q-mt-lg">
          <q-btn
            v-if="swapOutDialog.data.id"
            unelevated
            color="primary"
            type="submit"
            :label="swapOutDialog.data.recurrent ? 'Update Recurrent Swap' : 'Update Swap'"
          ></q-btn>
          <q-btn
            v-else
            unelevated
            color="primary"
            :disable="(swapOutDialog.data.onchainaddress == null && swapOutDialog.data.onchainwallet == null) || swapOutDialog.data.amount < 1 || swapOutDialog.data.fee < 1"
            type="submit"
            :label="swapOutDialog.data.recurrent ? 'Create Recurrent Swap' : 'Create Swap'"
          ></q-btn>
          <q-btn
            v-close-popup
            flat
            color="grey"
            class="q-ml-auto"
            @click="resetSwapOutDialog"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  Vue.component(VueQrcode.name, VueQrcode)

  const mapSwapOuts = obj => {
    if ('fee' in obj) {
      obj.fee = obj.fee / 1000 > 1 ? obj.fee / 1000 : 1
    }
    obj.date = Quasar.utils.date.formatDate(
      new Date(obj.time * 1000),
      'YYYY-MM-DD HH:mm'
    )
    return obj
  }

  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        swapOuts: [],
        swapIns: [],
        recurrent: [],
        offers: [],
        rawOffers: {},
        walletLinks: [],
        swapOutDialog: {
          show: false,
          data: {
            recurrent: false
          }
        },
        swapOutsTable: {
          columns: [
            {name: 'id', align: 'left', label: 'ID', field: 'id'},
            {name: 'wallet', align: 'left', label: 'Wallet', field: 'wallet'},
            {
              name: 'amount',
              align: 'left',
              label: 'Amount',
              field: 'amount'
            },
            {
              name: 'address',
              align: 'left',
              label: 'Onchain Address',
              field: 'onchainaddress'
            },
            {
              name: 'fee',
              align: 'left',
              label: 'Fee',
              field: 'fee'
            }
          ],
          pagination: {
            rowsPerPage: 10
          }
        },
        swapInsTable: {
          columns: [
            {name: 'id', align: 'left', label: 'ID', field: 'id'},
            {name: 'wallet', align: 'left', label: 'Wallet', field: 'wallet'},
            {
              name: 'amount',
              align: 'left',
              label: 'Amount',
              field: 'amount'
            },
            {
              name: 'reserve_id',
              align: 'left',
              label: 'Reserve ID',
              field: 'reserve_id'
            },
            {
              name: 'txid',
              align: 'left',
              label: 'TX ID',
              field: 'txid'
            },
            {
              name: 'done',
              align: 'left',
              label: 'Done',
              field: 'done'
            }
          ],
          pagination: {
            rowsPerPage: 10
          }
        },
        recurrentTable: {
          columns: [
            {name: 'id', align: 'left', label: 'ID', field: 'id'},
            {name: 'wallet', align: 'left', label: 'Wallet', field: 'wallet'},
            {
              name: 'threshold',
              align: 'left',
              label: 'Threshold',
              field: 'threshold'
            },
            {
              name: 'address',
              align: 'left',
              label: 'Onchain Address',
              field: 'onchainaddress'
            },
            {
              name: 'fee',
              align: 'left',
              label: 'Fee',
              field: 'fee'
            }
          ],
          pagination: {
            rowsPerPage: 10
          }
        },
        visibleColumns: ['wallet', 'threshold', 'address', 'fee'],
        offersTable: {
          columns: [
            {name: 'address', align: 'left', label: 'Address', field: 'addr'},
            {
              name: 'fee',
              align: 'left',
              label: 'Fee (sat)',
              field: 'fee_msat',
              format: val => parseInt(val / 1000)
            },
            {name: 'sat', align: 'left', label: 'Amount (sat)', field: 'sat'}
          ],
          rows: this.offers,
          pagination: {
            rowsPerPage: 0
          }
        },
        selected: [],
        swapInCard: {
          show: false,
          data: {},
          step: 1
        },
        etl: {},
        receive: {
          show: false,
          status: 'pending',
          paymentReq: null
        },
        tip: 1
      }
    },
    computed: {
      balance() {
        if (!this.swapOutDialog.data.wallet) return
        let walId = this.swapOutDialog.data.wallet
        let wallet = this.getWallet(walId)

        return `Max: ${wallet.sat}`
      },
      batchAddresses() {
        this.selected.map(obj => {
          return 'Hello'
        })
      }
    },
    methods: {
      getWallet(walId) {
        return this.g.user.wallets.find(wal => wal.id == walId)
      },
      getWalletLinks() {
        LNbits.api
          .request(
            'GET',
            '/watchonly/api/v1/wallet',
            this.g.user.wallets[0].inkey
          )
          .then(response => {
            this.walletLinks = response.data.map(l => l.id)
            console.log(this.walletLinks)
          })
          .catch(error => {
            LNbits.utils.notifyApiError(error)
          })
      },
      //SWAP OUT
      resetSwapOutDialog() {
        this.swapOutDialog = {
          show: false,
          data: {
            recurrent: false
          }
        }
      },
      getSwapOuts: function () {
        LNbits.api
          .request(
            'GET',
            '/swap/api/v1/out?all_wallets=true',
            this.g.user.wallets[0].inkey
          )
          .then(response => {
            this.swapOuts = response.data.map(function (obj) {
              return mapSwapOuts(obj)
            })
          })
      },
      sendSwapOutFormData: function () {
        let wallet = _.findWhere(this.g.user.wallets, {
          id: this.swapOutDialog.data.wallet
        })
        let data = {...this.swapOutDialog.data}
        data.fee = data.fee * 1000

        if (data.onchain && data.onchainwallet) {
          data.onchainaddress = ''
        } else {
          data.onchainwallet = null
        }

        if (data.recurrent) {
          data.threshold = data.amount
          delete data.amount
          delete data.recurrent
          if (data.id) {
            this.updateRecurrent(wallet, data)
          } else {
            this.createRecurrent(wallet, data)
          }
          return
        }
        if (data.id) {
          this.updateSwapOut(wallet, data)
        } else {
          this.createSwapOut(wallet, data)
        }
      },
      exportSwapOutsCSV() {
        LNbits.utils.exportCSV(this.swapOutsTable.columns, this.swapOuts)
      },
      createSwapOut(wallet, data) {
        LNbits.api
          .request(
            'POST',
            '/swap/api/v1/out',
            this.g.user.wallets[0].adminkey,
            data
          )
          .then(res => {
            this.swapOuts.push(mapSwapOuts(res.data))
            this.resetSwapOutDialog()
          })
          .catch(error => {
            LNbits.utils.notifyApiError(error)
          })
      },
      // RECURRENT
      getRecurrents() {
        LNbits.api
          .request(
            'GET',
            '/swap/api/v1/recurrent?all_wallets=true',
            this.g.user.wallets[0].inkey
          )
          .then(response => {
            this.recurrent = response.data.map(function (obj) {
              return mapSwapOuts(obj)
            })
            console.log(this.recurrent)
          })
      },
      createRecurrent(wallet, data) {
        LNbits.api
          .request(
            'POST',
            '/swap/api/v1/recurrent',
            this.g.user.wallets[0].adminkey,
            data
          )
          .then(res => {
            this.recurrent.push(mapSwapOuts(res.data))
            this.resetSwapOutDialog()
          })
          .catch(error => {
            LNbits.utils.notifyApiError(error)
          })
      },
      updateRecurrentDialog(swap_id) {
        let swap = _.findWhere(this.recurrent, {id: swap_id})
        data = _.clone(swap)
        data.amount = data.threshold
        delete data.threshold
        data.recurrent = true
        if (data.onchainwallet) {
          data.onchain = true
          data.onchainaddress = ''
        }
        this.swapOutDialog = {data, show: true}
      },
      updateRecurrent(wallet, data) {
        LNbits.api
          .request(
            'PUT',
            '/swap/api/v1/recurrent/' + data.id,
            this.g.user.wallets[0].adminkey,
            data
          )
          .then(res => {
            this.getRecurrents()
            this.resetSwapOutDialog()
          })
          .catch(error => {
            LNbits.utils.notifyApiError(error)
          })
      },
      deleteRecurrent(swap_id) {
        let swap = _.findWhere(this.recurrent, {id: swap_id})
        LNbits.utils
          .confirmDialog('Are you sure you want to delete this domain link?')
          .onOk(() => {
            LNbits.api
              .request(
                'DELETE',
                '/swap/api/v1/recurrent/' + swap.id,
                this.g.user.wallets[0].adminkey
              )
              .then(response => {
                this.recurrent = _.reject(this.recurrent, obj => {
                  return obj.id == swap_id
                })
              })
              .catch(function (error) {
                LNbits.utils.notifyApiError(error)
              })
          })
      },
      // SWAP IN
      getSwapIns() {
        LNbits.api
          .request(
            'GET',
            '/swap/api/v1/in?all_wallets=true',
            this.g.user.wallets[0].inkey
          )
          .then(response => {
            this.swapIns = response.data.map(function (obj) {
              return mapSwapOuts(obj)
            })
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      startSwapIn() {
        this.swapInCard.step = 1
        this.getBlockchainTip().then(() => {
          this.swapInCard.show = true
          this.startEventSource()
          this.getEtlOffers()
        })
      },
      endSwapInCard() {
        this.selected = []
        this.swapInCard.data = {}
        this.swapInCard.show = false
        //this.es.close()
      },
      startEventSource(auto = false) {
        const es = new EventSource(
          `https://etleneum.com/~~~/session?src=lnbits-swap`
        )
        es.addEventListener('lnurls', e => {
          let data = JSON.parse(e.data)
          this.swapInCard.data.lnurlAuth = data.auth
          this.swapInCard.data.lnurlW = data.withdraw
          this.etl.lnurls = {...data}
          if (auto) {
            this.lnurlAuth()
          }
        })
        es.addEventListener('auth', e => {
          let data = JSON.parse(e.data)
          this.etl.account = {...data}
          this.swapInCard.data.account = data.account
          this.swapInCard.data.session_id = data.session

          if (data.balance > 100 * 1000) {
            console.log('has balance')
            this.swapInCard.data.balance = data.balance
          }
        })
        es.addEventListener('withdraw', e => {
          let data = JSON.parse(e.data)
          console.log('withdraw', data)
        })
        this.es = es
      },
      lnurlAuth() {
        let auth = this.swapInCard.data.lnurlAuth
        let selectedWallet = this.g.user.wallets.find(
          wal => wal.id == this.swapInCard.data.wallet
        )
        console.log(auth)
        LNbits.api
          .request('GET', `/swap/api/v1/auth/${auth}`, selectedWallet.adminkey)
          //.then(() => (this.swapInCard.step = 2))
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      getEtlOffers() {
        LNbits.api
          .request('GET', '/swap/api/v1/offers')
          .then(res => {
            let offers = res.data
            this.rawOffers = offers
            this.offers = Object.keys(offers)
              .map(addr => ({...offers[addr], addr}))
              .map(offer => ({
                ...offer,
                reserved:
                  offer.reserved && offer.reserved.to ? offer.reserved.to : null
              }))
              .filter(c => !c.reserved)
              .sort((a, b) => a.fee_msat - b.fee_msat)
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      reserveOffers() {
        console.log(this.selected)
        this.swapInCard.data.addresses = this.selected
        let data = {}
        data.addresses = this.selected.filter(addr => {
          return addr['addr']
        })
        data.fees = data.addresses.length * 100

        LNbits.api
          .request(
            'POST',
            '/swap/api/v1/reserve/' + this.swapInCard.data.session_id,
            this.g.user.wallets[0].adminkey,
            data
          )
          .then(res => {
            this.swapInCard.data.reserve_id = res.data.id
            this.receive.paymentReq = res.data.invoice
            this.receive.show = true
            console.log(this.selected.reduce((acc, cur) => acc + cur.sat, 0))
            dismissMsg = this.$q.notify({
              timeout: 0,
              message: 'Waiting for payment...'
            })
            console.log(res.data)
            this.startCallStream(res.data.id, 'reserve')
          })
          .catch(function (error) {
            console.error(error)
            LNbits.utils.notifyApiError(error)
          })
      },
      createSwapIn() {
        LNbits.api
          .request('POST', '/swap/api/v1/in', this.g.user.wallets[0].adminkey, {
            wallet: this.swapInCard.data.wallet,
            session_id: this.swapInCard.data.account,
            reserve_id: this.swapInCard.data.reserve_id,
            amount: this.selected.reduce((acc, cur) => acc + cur.sat, 0)
          })
          .then(res => {
            this.swapIns.push(mapSwapOuts(res.data))
            this.swapInCard.data.id = res.data.id
            //this.closeReceiveDialog()
            //this.callStream.close()
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      async updateSwapIn(swap_id) {
        let swap = _.findWhere(this.swapIns, {id: swap_id})
        this.swapInCard.data = swap
        await this.getEtlOffers()
        await this.getCallInfo(swap.reserve_id)
        this.startEventSource(true)
        this.swapInCard.show = true
        this.swapInCard.step = 3
        this.scrollToElement('swapin')
        console.log(this.swapInCard)
      },
      updateSwapInTx() {
        this.closeReceiveDialog()
        this.callStream.close()
        LNbits.api
          .request(
            'PUT',
            '/swap/api/v1/in/' + this.swapInCard.data.id,
            this.g.user.wallets[0].adminkey,
            {
              txid: this.swapInCard.data.txid
            }
          )
          .then(res => {
            let wallet = this.swapInCard.data.wallet
            let lnurl_w = this.swapInCard.data.lnurlW
            let swap_id = this.swapInCard.data.id
            this.endSwapInCard()
            this.callStream.close()
            this.getSwapIns()
            this.checkBalance(wallet, lnurl_w, swap_id)
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      checkBalance(wallet, lnurl_w, swap_id) {
        let _wallet = this.g.user.wallets.find(wal => wal.id == wallet)
        LNbits.api
          .request(
            'GET',
            `/swap/api/v1/checkbalance/${lnurl_w}?id=${swap_id}`,
            _wallet.inkey
          )
          .then(_ => {
            this.endSwapInCard()
            this.es.close()
            this.getSwapIns()
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      callTxSent(swap_id, txid) {
        LNbits.api
          .request(
            'GET',
            `/swap/api/v1/in/${swap_id}/${txid}?session=${this.swapInCard.data.session_id}`,
            this.g.user.wallets[0].adminkey
          )
          .then(res => {
            this.receive.paymentReq = res.data.invoice
            this.receive.show = true
            dismissMsg = this.$q.notify({
              timeout: 0,
              message: 'Waiting for payment...'
            })
            this.startCallStream(res.data.id, 'txsent')
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      getCallInfo(callId) {
        const contractId = 'c8w0c13v75'
        axios
          .get(`https://etleneum.com/~/contract/${contractId}/call/${callId}`, {
            headers: {'Content-Type': 'application/json'}
          })
          .then(resp => {
            this.selected = resp.data.value.payload.addresses.map(a => {
              console.log(this.rawOffers[a])
              return {addr: a, ...this.rawOffers[a]}
            })
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      callBump() {
        LNbits.api
          .request('GET', `/swap/api/v1/bump`, this.g.user.wallets[0].inkey)
          .then(res => {
            this.receive.paymentReq = res.data.invoice
            this.receive.show = true
            dismissMsg = this.$q.notify({
              timeout: 0,
              message: 'Waiting for payment...'
            })
            this.startCallStream(res.data.id, 'bump')
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      updateSwapInWithdraw() {
        this.callStream.close()
      },
      getSelectedString() {
        return this.selected.length === 0
          ? ''
          : `${this.selected.length} offer${
              this.selected.length > 1 ? 's' : ''
            } selected of ${this.offers.length}`
      },
      startCallStream(callId, method) {
        const contractId = 'c8w0c13v75'
        const es = new EventSource(
          `https://etleneum.com/~~~/contract/${contractId}`
        )

        es.addEventListener('call-made', e => {
          let data = JSON.parse(e.data)
          if (data.id === callId) {
            this.$q.notify({
              type: 'positive',
              message: 'Sent, thank you!',
              icon: 'thumb_up'
            })
            switch (method) {
              case 'reserve':
                this.createSwapIn()
                this.swapInCard.step = 3
                break
              case 'txsent':
                this.updateSwapInTx()
                break
              case 'bump':
                let {wallet, lnurlW, id} = this.swapInCard.data
                this.checkBalance(wallet, lnurlW, id)
                this.getSwapIns()
                break
              default:
                // code block
                return
            }
            this.closeReceiveDialog()
          }
        })

        es.addEventListener('call-error', e => {
          let data = JSON.parse(e.data)
          if (data.kind === 'internal') {
            this.$q.notify({
              message: `internal error, please notify: ${data.message}`
            })
          } else if (data.kind === 'runtime') {
            this.$q.notify({
              message: `runtime error: ${data.message}`
            })
          }
        })

        this.callStream = es
      },
      async getBlockchainTip() {
        try {
          this.tip = await (
            await fetch('https://blockstream.info/api/blocks/tip/height')
          ).json()
        } catch (err) {
          this.$q.notify({
            message: `Failed to load blockchain tip: ${err}`
          })
        }
        console.log(this.tip)
      },
      closeReceiveDialog() {
        dismissMsg()
        this.receive = {
          show: false,
          status: 'complete',
          paymentReq: null
        }
        if (this.callStream) {
          this.callStream.close()
        }
      },
      scrollToElement(id) {
        const el = document.getElementById(id)
        if (el) {
          el.scrollIntoView({behavior: 'smooth'})
        }
      }
    },
    created: function () {
      this.getRecurrents()
      this.getSwapOuts()
      this.getSwapIns()
      this.getWalletLinks()
      this.getEtlOffers()
    }
  })
</script>
{% endblock %}
