{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn label="Create Swap Out" unelevated color="primary" @click="swapOutDialog.show = true">
          <q-tooltip class="bg-grey-8" anchor="bottom left" self="top left">
            Send offchain funds to onchain address (LN -> BTC)
          </q-tooltip>
        </q-btn>
        <q-btn disabled label="Create Swap In" unelevated color="primary" @click="swapOutDialog.show = true">
          <q-tooltip class="bg-grey-8" anchor="bottom left" self="top left">
            Send onchain funds offchain (BTC - LN)
          </q-tooltip>
        </q-btn>
      </q-card-section>
    </q-card>
    <q-card>
      <q-card-section v-if="recurrent.length > 0">
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Recurrent</h5>
          </div>
        </div>
        <q-table
          dense
          flat
          :data="recurrent"
          row-key="wallet"
          :columns="recurrentTable.columns"
          :visible-columns="visibleColumns"
          :pagination.sync="recurrentTable.pagination"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.value }}
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="updateRecurrentDialog(props.row.id)"
                  icon="edit"
                  color="light-blue"
                >
                </q-btn>
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteRecurrent(props.row.id)"
                  icon="cancel"
                  color="pink"
                ></q-btn>
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>
    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Swap Outs</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportSwapOutsCSV"
              >Export to CSV</q-btn
            >
          </div>
        </div>
        <q-table
          dense
          flat
          :data="swapOuts"
          row-key="id"
          :columns="swapOutsTable.columns"
          :pagination.sync="swapOutsTable.pagination"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="email"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  type="a"
                  :href="'mailto:' + props.row.email"
                ></q-btn>
              </q-td>
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.value }}
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>
  </div>
  <div class="col-12 col-md-4 col-lg-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} Swap extension
        </h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "swap/_api_docs.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>
  <q-dialog v-model="swapOutDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <q-form @submit="sendSwapOutFormData" class="q-gutter-md">
        <q-select
          filled
          dense
          emit-value
          v-model="swapOutDialog.data.wallet"
          :options="g.user.walletOptions"
          label="Wallet *"
          :disable="swapOutDialog.data.id ? true : false"
        >
        </q-select>
        
        <q-input
          filled
          dense
          emit-value
          v-model.trim="swapOutDialog.data.amount"
          type="number"
          label="Amount "
          :hint="balance"
          ></q-input
        >
        <q-input
          filled
          dense
          emit-value
          v-model.trim="swapOutDialog.data.fee"
          type="number"
          label="Fee "
          ></q-input
        >
        <div>
          <div v-if="swapOutDialog.data.onchain">
            <q-select
              filled
              dense
              emit-value
              v-model="swapOutDialog.data.onchainwallet"
              :options="walletLinks"
              label="Onchain Wallet"
            />
          </div>
          <div v-else>
            <q-input
              filled
              dense
              emit-value
              v-model.trim="swapOutDialog.data.onchainaddress"
              type="text"
              label="Address ">
            </q-input>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div v-if="walletLinks.length > 0">
              <q-checkbox
                v-model="swapOutDialog.data.onchain"
                label="Use Watch-Only Address"
              />
            </div>
            <div v-else>
              <q-checkbox :value="false" label="Use Watch-Only Address" disabled>
                <q-tooltip>
                  Watch-Only extension MUST be activated and have a wallet
                </q-tooltip>
              </q-checkbox>
            </div>
          </div>
          <div class="col">
            <q-toggle
                v-model="swapOutDialog.data.recurrent"
                label="Make this recurrent"
                color="primary"
                :disable="swapOutDialog.data.id ? true : false">
                <q-tooltip>
                  By enabling this, every time the balance reaches this amount, it will trigger a Swap Out
                </q-tooltip>
              </q-toggle>
              
          </div>
        </div>
        <div class="row q-mt-lg">
          <q-btn
            v-if="swapOutDialog.data.id"
            unelevated
            color="primary"
            type="submit"
            >Update Swap</q-btn
          >
          <q-btn
            v-else
            unelevated
            color="primary"
            :disable="swapOutDialog.data.onchainaddress == null || swapOutDialog.data.amount < 1 || swapOutDialog.data.fee < 1"
            type="submit"
            >Create Swap</q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto" @click="resetSwapOutDialog"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  const mapSwapOuts = obj => {
    obj.date = Quasar.utils.date.formatDate(
      new Date(obj.time * 1000),
      'YYYY-MM-DD HH:mm'
    )
    return obj
  }

  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        swapOuts: [],
        recurrent: [],
        walletLinks: [],
        swapOutDialog: {
          show: false,
          data: {
            recurrent: false
          }
        },
        swapOutsTable: {
          columns: [
            {name: 'id', align: 'left', label: 'ID', field: 'id'},
            {name: 'wallet', align: 'left', label: 'Wallet', field: 'wallet'},
            {
              name: 'amount',
              align: 'left',
              label: 'Amount',
              field: 'amount'
            },
            {
              name: 'address',
              align: 'left',
              label: 'Onchain Address',
              field: 'onchainaddress'
            },
            {
              name: 'fee',
              align: 'left',
              label: 'Fee',
              field: 'fee'
            }
          ],
          pagination: {
            rowsPerPage: 10
          }
        },
        recurrentTable: {
          columns: [
            {name: 'id', align: 'left', label: 'ID', field: 'id'},
            {name: 'wallet', align: 'left', label: 'Wallet', field: 'wallet'},
            {
              name: 'threshold',
              align: 'left',
              label: 'Threshold',
              field: 'threshold'
            },
            {
              name: 'address',
              align: 'left',
              label: 'Onchain Address',
              field: 'onchainaddress'
            },
            {
              name: 'fee',
              align: 'left',
              label: 'Fee',
              field: 'fee'
            }
          ],
          pagination: {
            rowsPerPage: 10
          }
        },
        visibleColumns: ['wallet', 'threshold', 'address', 'fee']
      }
    },
    computed: {
      balance() {
        if(!this.swapOutDialog.data.wallet) return
        let walId = this.swapOutDialog.data.wallet
        let wallet = this.getWallet(walId)
        
        return `Max: ${wallet.sat}`     
      }
    },
    methods: {
      getWallet(walId) {
        return this.g.user.wallets.find(wal => wal.id == walId)
      },
      getWalletLinks() {
        LNbits.api
          .request(
            'GET',
            '/watchonly/api/v1/wallet',
            this.g.user.wallets[0].inkey
          )
          .then(response => {
            this.walletLinks = response.data.map(l => l.id)
            console.log(this.walletLinks)
          })
          .catch(error => {
            LNbits.utils.notifyApiError(error)
          })
      },
      //SWAP OUT
      resetSwapOutDialog(){
        this.swapOutDialog = {
          show: false,
          data: {
            recurrent: false
          }
        }
      },
      getSwapOuts: function () {
        LNbits.api
          .request(
            'GET',
            '/swap/api/v1/out?all_wallets=true',
            this.g.user.wallets[0].inkey
          )
          .then(response => {
            this.swapOuts = response.data.map(function (obj) {
              return mapSwapOuts(obj)
            })
          })
      },
      sendSwapOutFormData: function () {
        let wallet = _.findWhere(this.g.user.wallets, {
          id: this.swapOutDialog.data.wallet
        })
        let data = this.swapOutDialog.data
        if(data.recurrent) {
          data.threshold = data.amount
          delete data.amount
          delete data.recurrent
          if(data.id) {
            this.updateRecurrent(wallet, data)
          } else {
            this.createRecurrent(wallet, data)
          }
          return
        }
        if (data.id) {
          this.updateSwapOut(wallet, data)
        } else {
          this.createSwapOut(wallet, data)
        }
      },
      exportSwapOutsCSV() {
        LNbits.utils.exportCSV(this.swapOutsTable.columns, this.swapOuts)
      },
      createSwapOut(wallet, data){
        LNbits.api
          .request('POST', '/swap/api/v1/out', this.g.user.wallets[0].adminkey, data)
          .then(res => {
            this.swapOuts.push(mapSwapOuts(res.data))
            this.resetSwapOutDialog()
          })
          .catch(error => {
            LNbits.utils.notifyApiError(error)
          })
      },
      // RECURRENT
      getRecurrents(){
        LNbits.api
          .request(
            'GET',
            '/swap/api/v1/recurrent?all_wallets=true',
            this.g.user.wallets[0].inkey
          )
          .then(response => {
            this.recurrent = response.data.map(function (obj) {
              return mapSwapOuts(obj)
            })
            console.log(this.recurrent)
          })
      },
      createRecurrent(wallet, data){
        LNbits.api
        .request('POST', '/swap/api/v1/recurrent', this.g.user.wallets[0].adminkey, data)
        .then(res => {
          this.recurrent.push(mapSwapOuts(res.data))
          this.updateRecurrentDialog = {
            show: false,
            data: {}
          }
        })
        .catch(error => {
          LNbits.utils.notifyApiError(error)
        })
      },
      updateRecurrentDialog(swap_id){
        let swap = _.findWhere(this.recurrent, {id: swap_id})
        this.swapOutDialog.data = _.clone(swap)
        this.swapOutDialog.data.amount = swap.threshold
        this.swapOutDialog.data.recurrent = true
        this.swapOutDialog.show = true
      },
      updateRecurrent(wallet, data){
        LNbits.api
        .request('PUT', '/swap/api/v1/recurrent/' + data.id, this.g.user.wallets[0].adminkey, data)
        .then(res => {
          this.getRecurrents()
          this.resetSwapOutDialog()
        })
        .catch(error => {
          LNbits.utils.notifyApiError(error)
        })
      },
      deleteRecurrent(swap_id){
        let swap = _.findWhere(this.recurrent, {id: swap_id})
        .confirmDialog('Are you sure you want to delete this domain link?')
        .onOk(() => {
          LNbits.api
            .request(
              'DELETE',
              '/swap/api/v1/recurrent/' + swap.id, this.g.user.wallets[0].adminkey
            )
            .then((response) => {
              this.recurrent = _.reject(this.recurrent, (obj) => {
                return obj.id == swap_id
              })
            })
            .catch(function (error) {
              LNbits.utils.notifyApiError(error)
            })
        })
      }
    },
    created: function () {
      this.getRecurrents()
      this.getSwapOuts()
      this.getWalletLinks()
    }
  })
</script>
{% endblock %}
