{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-7 q-gutter-y-md">
    {% include "royalties/partials/_create_royalty_account.html" %} 
    {% include "royalties/partials/_royalty_accounts_table.html" %} 
  </div>
  <div class="col-12 col-md-5 col-lg-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">LNbits Royalties Extension</h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list>  {% include "royalties/partials/_api.html" %}  </q-list>
      </q-card-section>
    </q-card>
  </div>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        form:{
          royalty:{
            data:{}
          }
        },
        table:{
          data:{
            columns:[
              { name: 'b1', align: 'left', label: '', field: ''},
              { name: 'id', align: 'left', label: 'ID', field: 'id', sortable: true},
              { name: 'wallet', align: 'left', label: 'Wallet', field: 'wallet', sortable: true}
            ],
            data:[]
          }
        }
      }
    },
    methods:{
      async formSubmit(){
        let res, payload
        payload = {...this.form.royalty.data}
        res = await LNbits.api
          .request('POST',
          `/royalties/api/v1/account`, 
          this.g.user.wallets[0].adminkey,
          payload
          ),
          res.data.success && (
              this.table.data.push(res.data.success),
              this.formReset(),
              this.$q.notify('Royalty account created')
              )
      },
      formReset(){
        for(name in this.form){
          for(items in this.form[name]){
              items == 'data' 
              ? this.form[name][items] = {}
              : this.form[name][items] = false
          } 
        }
      },
      confirm(p){

      },
      exportCSV(){}
    },
    created: async function () {
      let res
      res = await LNbits.api
        .request(
          'GET',
          `/royalties/api/v1/account`, 
          this.g.user.wallets[0].adminkey
        )
        res.data.success && (this.table.data.data = res.data.success)
    }
  })
</script>
{% endblock %}
