<q-card>
  <q-card-section>
    <p>
      SatsPayServer, create Onchain/LN charges.<br />WARNING: If using with the
      WatchOnly extension, we highly reccomend using a fresh extended public Key
      specifically for SatsPayServer!<br />
      <small>
        Created by, <a href="https://github.com/benarc">Ben Arc</a></small
      >
    </p>
    <br />
    <br />
    <a target="_blank" href="/docs#/satspay" class="text-white"
      >Swagger REST API Documentation</a
    >
  </q-card-section>
</q-card>
