<q-card>
  <q-card-section>
    <p>
      Register LNURLDevice devices to receive payments in your LNbits wallet.<br />
      Build your own here
      <a href="https://github.com/arcbtc/bitcoinpos"
        >https://github.com/arcbtc/bitcoinpos</a
      ><br />
      <small>
        Created by, <a href="https://github.com/benarc">Ben Arc</a></small
      >
    </p>
  </q-card-section>
  <q-expansion-item
    group="extras"
    icon="swap_vertical_circle"
    label="API info"
    :content-inset-level="0.5"
  >
    <q-expansion-item
      group="api"
      dense
      expand-separator
      label="Create lnurldevice"
    >
      <q-card>
        <q-card-section>
          <code
            ><span class="text-blue"></span> /lnurldevice/api/v1/lnurlpos</code
          >
          <h5 class="text-caption q-mt-sm q-mb-none">Headers</h5>
          <code>{"X-Api-Key": &lt;admin_key&gt;}</code><br />
          <h5 class="text-caption q-mt-sm q-mb-none">
            Body (application/json)
          </h5>
          <h5 class="text-caption q-mt-sm q-mb-none">
            Returns 200 OK (application/json)
          </h5>
          <code>[&lt;lnurldevice_object&gt;, ...]</code>
          <h5 class="text-caption q-mt-sm q-mb-none">Curl example</h5>
          <code
            >curl -X POST {{ request.base_url }}lnurldevice/api/v1/lnurlpos -d
            '{"title": &lt;string&gt;, "message":&lt;string&gt;, "currency":
            &lt;integer&gt;}' -H "Content-type: application/json" -H "X-Api-Key:
            {{user.wallets[0].adminkey }}"
          </code>
        </q-card-section>
      </q-card>
    </q-expansion-item>
    <q-expansion-item
      group="api"
      dense
      expand-separator
      label="Update lnurldevice"
    >
      <q-card>
        <q-card-section>
          <code
            ><span class="text-blue">PUT</span>
            /lnurldevice/api/v1/lnurlpos/&lt;lnurldevice_id&gt;</code
          >
          <h5 class="text-caption q-mt-sm q-mb-none">Headers</h5>
          <code>{"X-Api-Key": &lt;admin_key&gt;}</code><br />
          <h5 class="text-caption q-mt-sm q-mb-none">
            Body (application/json)
          </h5>
          <h5 class="text-caption q-mt-sm q-mb-none">
            Returns 200 OK (application/json)
          </h5>
          <code>[&lt;lnurldevice_object&gt;, ...]</code>
          <h5 class="text-caption q-mt-sm q-mb-none">Curl example</h5>
          <code
            >curl -X POST {{ request.base_url
            }}lnurldevice/api/v1/lnurlpos/&lt;lnurldevice_id&gt; -d ''{"title":
            &lt;string&gt;, "message":&lt;string&gt;, "currency":
            &lt;integer&gt;} -H "Content-type: application/json" -H "X-Api-Key:
            {{user.wallets[0].adminkey }}"
          </code>
        </q-card-section>
      </q-card>
    </q-expansion-item>

    <q-expansion-item
      group="api"
      dense
      expand-separator
      label="Get lnurldevice"
    >
      <q-card>
        <q-card-section>
          <code
            ><span class="text-blue">GET</span>
            /lnurldevice/api/v1/lnurlpos/&lt;lnurldevice_id&gt;</code
          >
          <h5 class="text-caption q-mt-sm q-mb-none">Headers</h5>
          <code>{"X-Api-Key": &lt;invoice_key&gt;}</code><br />
          <h5 class="text-caption q-mt-sm q-mb-none">
            Body (application/json)
          </h5>
          <h5 class="text-caption q-mt-sm q-mb-none">
            Returns 200 OK (application/json)
          </h5>
          <code>[&lt;lnurldevice_object&gt;, ...]</code>
          <h5 class="text-caption q-mt-sm q-mb-none">Curl example</h5>
          <code
            >curl -X GET {{ request.base_url
            }}lnurldevice/api/v1/lnurlpos/&lt;lnurldevice_id&gt; -H "X-Api-Key:
            {{ user.wallets[0].inkey }}"
          </code>
        </q-card-section>
      </q-card>
    </q-expansion-item>
    <q-expansion-item
      group="api"
      dense
      expand-separator
      label="Get lnurldevices"
    >
      <q-card>
        <q-card-section>
          <code
            ><span class="text-blue">GET</span>
            /lnurldevice/api/v1/lnurlposs</code
          >
          <h5 class="text-caption q-mt-sm q-mb-none">Headers</h5>
          <code>{"X-Api-Key": &lt;invoice_key&gt;}</code><br />
          <h5 class="text-caption q-mt-sm q-mb-none">
            Body (application/json)
          </h5>
          <h5 class="text-caption q-mt-sm q-mb-none">
            Returns 200 OK (application/json)
          </h5>
          <code>[&lt;lnurldevice_object&gt;, ...]</code>
          <h5 class="text-caption q-mt-sm q-mb-none">Curl example</h5>
          <code
            >curl -X GET {{ request.base_url }}lnurldevice/api/v1/lnurlpos -H
            "X-Api-Key: {{ user.wallets[0].inkey }}"
          </code>
        </q-card-section>
      </q-card>
    </q-expansion-item>
    <q-expansion-item
      group="api"
      dense
      expand-separator
      label="Delete a pay link"
      class="q-pb-md"
    >
      <q-card>
        <q-card-section>
          <code
            ><span class="text-pink">DELETE</span>
            /lnurldevice/api/v1/lnurlpos/&lt;lnurldevice_id&gt;</code
          >
          <h5 class="text-caption q-mt-sm q-mb-none">Headers</h5>
          <code>{"X-Api-Key": &lt;admin_key&gt;}</code><br />
          <h5 class="text-caption q-mt-sm q-mb-none">Returns 204 NO CONTENT</h5>
          <code></code>
          <h5 class="text-caption q-mt-sm q-mb-none">Curl example</h5>
          <code
            >curl -X DELETE {{ request.base_url
            }}lnurldevice/api/v1/lnurlpos/&lt;lnurldevice_id&gt; -H "X-Api-Key:
            {{ user.wallets[0].adminkey }}"
          </code>
        </q-card-section>
      </q-card>
    </q-expansion-item>
  </q-expansion-item>
</q-card>
