{% extends "public.html" %} {% block page %} {% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='vendor/vue-qrcode@1.0.2/vue-qrcode.min.js') }}"></script>
<script>
  Vue.component(VueQrcode.name, VueQrcode)

  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data() {
      return {
        newProgress: 0.4,
        counter: 1,
        newTimeLeft: '',
        lnbtc: true,
        onbtc: false,
        charge_time_elapsed: '{{charge.time_elapsed}}',
        charge_amount: '{{charge.amount}}',
        charge_balance: '{{charge.balance}}',
        charge_paid: '{{charge.paid}}'
      }
    },
    methods: {},
    created: function () {}
  })
</script>
{% endblock %}
