{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        {% raw %}
        <q-btn
          unelevated
          color="deep-purple"
          @click="formDialogCopilot.show = true"
          >New copilot instance
        </q-btn>
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Copilots</h5>
          </div>

          <div class="col-auto">
            <q-input
              borderless
              dense
              debounce="300"
              v-model="filter"
              placeholder="Search"
            >
              <template v-slot:append>
                <q-icon name="search"></q-icon>
              </template>
            </q-input>
            <q-btn flat color="grey" @click="exportcopilotCSV"
              >Export to CSV</q-btn
            >
          </div>
        </div>
        <q-table
          flat
          dense
          :data="CopilotLinks"
          row-key="id"
          :columns="CopilotsTable.columns"
          :pagination.sync="CopilotsTable.pagination"
          :filter="filter"
        >
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th auto-width></q-th>

              <q-th
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
                auto-width
              >
                <div v-if="col.name == 'id'"></div>
                <div v-else>{{ col.label }}</div>
              </q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="link"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  type="a"
                  :href="props.row.displayUrl"
                  target="_blank"
                >
                  <q-tooltip> Payment link </q-tooltip>
                </q-btn>
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteCopilotLink(props.row.id)"
                  icon="cancel"
                  color="pink"
                >
                  <q-tooltip> Delete copilot </q-tooltip>
                </q-btn>
              </q-td>
              <q-td
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
                auto-width
              >
                <div v-if="col.name == 'id'"></div>
                <div v-else>{{ col.value }}</div>
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>
  </div>

  <div class="col-12 col-md-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">LNbits StreamCopilot Extension</h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "copilot/_api_docs.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>
  <q-dialog
    v-model="formDialogCopilot.show"
    position="top"
    @hide="closeFormDialog"
  >
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <q-form @submit="sendFormDataCopilot" class="q-gutter-md">
        <q-input
          filled
          dense
          v-model.trim="formDialogCopilot.data.description"
          type="text"
          label="*Description"
        ></q-input>

        <q-input
          filled
          dense
          v-model.trim="formDialogCopilot.data.amount"
          type="number"
          label="*Amount (sats)"
        ></q-input>

        <q-input
          filled
          dense
          v-model.trim="formDialogCopilot.data.time"
          type="number"
          max="1440"
          label="*Mins valid for (max 1440)"
        >
        </q-input>

        <q-input
          filled
          dense
          v-model.trim="formDialogCopilot.data.webhook"
          type="url"
          label="Webhook (URL to send transaction data to once paid)"
        >
        </q-input>

        <q-input
          filled
          dense
          v-model.trim="formDialogCopilot.data.completelink"
          type="url"
          label="Completed button URL"
        >
        </q-input>
        <q-input
          filled
          dense
          v-model.trim="formDialogCopilot.data.completelinktext"
          type="text"
          label="Completed button text (ie 'Back to merchant')"
        >
        </q-input>

        <div class="row">
          <div class="col">
            <div v-if="walletLinks.length > 0">
              <q-checkbox
                v-model="formDialogCopilot.data.onchain"
                label="Onchain"
              />
            </div>
            <div v-else>
              <q-checkbox :value="false" label="Onchain" disabled>
                <q-tooltip>
                  Watch-Only extension MUST be activated and have a wallet
                </q-tooltip>
              </q-checkbox>
            </div>
          </div>
          <div class="col">
            <div>
              <q-checkbox
                v-model="formDialogCopilot.data.lnbits"
                label="LNbits wallet"
              />
            </div>
          </div>
        </div>

        <div v-if="formDialogCopilot.data.onchain">
          <q-select
            filled
            dense
            emit-value
            v-model="formDialogCopilot.data.onchainwallet"
            :options="walletLinks"
            label="Onchain Wallet"
          />
        </div>

        <q-select
          v-if="formDialogCopilot.data.lnbits"
          filled
          dense
          emit-value
          v-model="formDialogCopilot.data.lnbitswallet"
          :options="g.user.walletOptions"
          label="Wallet *"
        >
        </q-select>
        <div class="row q-mt-lg">
          <q-btn
            unelevated
            color="deep-purple"
            :disable="
                formDialogCopilot.data.time == null ||
                formDialogCopilot.data.amount == null"
            type="submit"
            >Create Copilot</q-btn
          >
          <q-btn @click="cancelCopilot" flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script src="{{ url_for('static', filename='vendor/vue-qrcode@1.0.2/vue-qrcode.min.js') }}"></script>
<style></style>
<script>
  Vue.component(VueQrcode.name, VueQrcode)

  var mapCopilot = obj => {
    obj._data = _.clone(obj)
    obj.theTime = obj.time * 60 - (Date.now() / 1000 - obj.timestamp)
    obj.time = obj.time + 'mins'

    if (obj.time_elapsed) {
      obj.date = 'Time elapsed'
    } else {
      obj.date = Quasar.utils.date.formatDate(
        new Date((obj.theTime - 3600) * 1000),
        'HH:mm:ss'
      )
    }
    obj.displayUrl = ['/copilot/', obj.id].join('')
    return obj
  }

  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        filter: '',
        watchonlyactive: false,
        balance: null,
        checker: null,
        walletLinks: [],
        CopilotLinks: [],
        CopilotLinksObj: [],
        onchainwallet: '',
        currentaddress: '',
        Addresses: {
          show: false,
          data: null
        },
        mempool: {
          endpoint: ''
        },

        CopilotsTable: {
          columns: [
            {
              name: 'theId',
              align: 'left',
              label: 'ID',
              field: 'id'
            },
            {
              name: 'description',
              align: 'left',
              label: 'Title',
              field: 'description'
            },
            {
              name: 'timeleft',
              align: 'left',
              label: 'Time left',
              field: 'date'
            },
            {
              name: 'time to pay',
              align: 'left',
              label: 'Time to Pay',
              field: 'time'
            },
            {
              name: 'amount',
              align: 'left',
              label: 'Amount to pay',
              field: 'amount'
            },
            {
              name: 'balance',
              align: 'left',
              label: 'Balance',
              field: 'balance'
            },
            {
              name: 'onchain address',
              align: 'left',
              label: 'Onchain Address',
              field: 'onchainaddress'
            },
            {
              name: 'LNbits wallet',
              align: 'left',
              label: 'LNbits wallet',
              field: 'lnbitswallet'
            },
            {
              name: 'Webhook link',
              align: 'left',
              label: 'Webhook link',
              field: 'webhook'
            },
            {
              name: 'Paid link',
              align: 'left',
              label: 'Paid link',
              field: 'completelink'
            }
          ],
          pagination: {
            rowsPerPage: 10
          }
        },
        formDialog: {
          show: false,
          data: {}
        },
        formDialogCopilot: {
          show: false,
          data: {
            onchain: false,
            lnbits: false,
            description: '',
            time: null,
            amount: null
          }
        },
        qrCodeDialog: {
          show: false,
          data: null
        }
      }
    },
    methods: {},
    created: function () {}
  })
</script>
{% endblock %}
