{% extends "public.html" %} {% block page %}
<div class="q-pa-sm" style="width: 400px; margin: 10px auto">
  <q-card class="my-card">
    <div class="column">
      <center>
        <div class="col" style="margin: 15px; font-size: 25px">
          {{ copilot.title }}
        </div>
      </center>
      <div class="col">say what</div>
      <div class="col" style="margin: 2px 15px; max-height: 100px">
        <center>
          <q-btn flat dense outline @click="openCompose"
            >Open compose window</q-btn
          >
        </center>
      </div>
      <q-separator></q-separator>
      <div class="col">
        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
        </div>
        <q-separator></q-separator>
      </div>
    </div>
  </q-card>
</div>

{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='vendor/vue-qrcode@1.0.2/vue-qrcode.min.js') }}"></script>
<script>
  Vue.component(VueQrcode.name, VueQrcode)

  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data() {
      return {
        newProgress: 0.4,
        counter: 1,
        newTimeLeft: '',
        lnbtc: true,
        onbtc: false
      }
    },
    methods: {
      openCompose: function () {
        let params = `scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no,width=900,height=500,left=200,top=200`

        open('../copilot/cp/{{ copilot.id }}', 'test', params)
      }
    },
    created: function () {}
  })
</script>
{% endblock %}
