<q-expansion-item
  group="extras"
  icon="swap_vertical_circle"
  label="API info"
  :content-inset-level="0.5"
>
  <q-expansion-item group="api" dense expand-separator label="List withdraw links">
    <q-card>
      <q-card-section>

      </q-card-section>
    </q-card>
  </q-expansion-item>
  <q-expansion-item group="api" dense expand-separator label="Create a withdraw link">
    <q-card>
      <q-card-section>

      </q-card-section>
    </q-card>
  </q-expansion-item>
  <q-expansion-item group="api" dense expand-separator label="Update a withdraw link">
    <q-card>
      <q-card-section>

      </q-card-section>
    </q-card>
  </q-expansion-item>
  <q-expansion-item group="api" dense expand-separator label="Delete a withdraw link" class="q-pb-md">
    <q-card>
      <q-card-section>

      </q-card-section>
    </q-card>
  </q-expansion-item>
</q-expansion-item>
