<q-expansion-item
  group="extras"
  icon="swap_vertical_circle"
  label="API info"
  :content-inset-level="0.5"
>
  <q-btn flat label="Swagger API" type="a" href="../docs#/withdraw"></q-btn>
  <q-expansion-item
    group="api"
    dense
    expand-separator
    label="List withdraw links"
  >
    <q-card>
      <q-card-section>
        <code><span class="text-blue">GET</span> /withdraw/api/v1/links</code>
        <h5 class="text-caption q-mt-sm q-mb-none">Headers</h5>
        <code>{"X-Api-Key": &lt;invoice_key&gt;}</code><br />
        <h5 class="text-caption q-mt-sm q-mb-none">Body (application/json)</h5>
        <h5 class="text-caption q-mt-sm q-mb-none">
          Returns 200 OK (application/json)
        </h5>
        <code>[&lt;withdraw_link_object&gt;, ...]</code>
        <h5 class="text-caption q-mt-sm q-mb-none">Curl example</h5>
        <code
          >curl -X GET {{ request.base_url }}withdraw/api/v1/links -H
          "X-Api-Key: {{ user.wallets[0].inkey }}"
        </code>
      </q-card-section>
    </q-card>
  </q-expansion-item>
  <q-expansion-item
    group="api"
    dense
    expand-separator
    label="Get a withdraw link"
  >
    <q-card>
      <q-card-section>
        <code
          ><span class="text-blue">GET</span>
          /withdraw/api/v1/links/&lt;withdraw_id&gt;</code
        >
        <h5 class="text-caption q-mt-sm q-mb-none">Headers</h5>
        <code>{"X-Api-Key": &lt;invoice_key&gt;}</code><br />
        <h5 class="text-caption q-mt-sm q-mb-none">Body (application/json)</h5>
        <h5 class="text-caption q-mt-sm q-mb-none">
          Returns 201 CREATED (application/json)
        </h5>
        <code>{"lnurl": &lt;string&gt;}</code>
        <h5 class="text-caption q-mt-sm q-mb-none">Curl example</h5>
        <code
          >curl -X GET {{ request.base_url
          }}withdraw/api/v1/links/&lt;withdraw_id&gt; -H "X-Api-Key: {{
          user.wallets[0].inkey }}"
        </code>
      </q-card-section>
    </q-card>
  </q-expansion-item>
  <q-expansion-item
    group="api"
    dense
    expand-separator
    label="Create a withdraw link"
  >
    <q-card>
      <q-card-section>
        <code><span class="text-green">POST</span> /withdraw/api/v1/links</code>
        <h5 class="text-caption q-mt-sm q-mb-none">Headers</h5>
        <code>{"X-Api-Key": &lt;admin_key&gt;}</code><br />
        <h5 class="text-caption q-mt-sm q-mb-none">Body (application/json)</h5>
        <code
          >{"title": &lt;string&gt;, "min_withdrawable": &lt;integer&gt;,
          "max_withdrawable": &lt;integer&gt;, "uses": &lt;integer&gt;,
          "wait_time": &lt;integer&gt;, "is_unique": &lt;boolean&gt;,
          "webhook_url": &lt;string&gt;}</code
        >
        <h5 class="text-caption q-mt-sm q-mb-none">
          Returns 201 CREATED (application/json)
        </h5>
        <code>{"lnurl": &lt;string&gt;}</code>
        <h5 class="text-caption q-mt-sm q-mb-none">Curl example</h5>
        <code
          >curl -X POST {{ request.base_url }}withdraw/api/v1/links -d
          '{"title": &lt;string&gt;, "min_withdrawable": &lt;integer&gt;,
          "max_withdrawable": &lt;integer&gt;, "uses": &lt;integer&gt;,
          "wait_time": &lt;integer&gt;, "is_unique": &lt;boolean&gt;,
          "webhook_url": &lt;string&gt;}' -H "Content-type: application/json" -H
          "X-Api-Key: {{ user.wallets[0].adminkey }}"
        </code>
      </q-card-section>
    </q-card>
  </q-expansion-item>
  <q-expansion-item
    group="api"
    dense
    expand-separator
    label="Update a withdraw link"
  >
    <q-card>
      <q-card-section>
        <code
          ><span class="text-green">PUT</span>
          /withdraw/api/v1/links/&lt;withdraw_id&gt;</code
        >
        <h5 class="text-caption q-mt-sm q-mb-none">Headers</h5>
        <code>{"X-Api-Key": &lt;admin_key&gt;}</code><br />
        <h5 class="text-caption q-mt-sm q-mb-none">Body (application/json)</h5>
        <code
          >{"title": &lt;string&gt;, "min_withdrawable": &lt;integer&gt;,
          "max_withdrawable": &lt;integer&gt;, "uses": &lt;integer&gt;,
          "wait_time": &lt;integer&gt;, "is_unique": &lt;boolean&gt;}</code
        >
        <h5 class="text-caption q-mt-sm q-mb-none">
          Returns 200 OK (application/json)
        </h5>
        <code>{"lnurl": &lt;string&gt;}</code>
        <h5 class="text-caption q-mt-sm q-mb-none">Curl example</h5>
        <code
          >curl -X PUT {{ request.base_url
          }}withdraw/api/v1/links/&lt;withdraw_id&gt; -d '{"title":
          &lt;string&gt;, "min_withdrawable": &lt;integer&gt;,
          "max_withdrawable": &lt;integer&gt;, "uses": &lt;integer&gt;,
          "wait_time": &lt;integer&gt;, "is_unique": &lt;boolean&gt;}' -H
          "Content-type: application/json" -H "X-Api-Key: {{
          user.wallets[0].adminkey }}"
        </code>
      </q-card-section>
    </q-card>
  </q-expansion-item>
  <q-expansion-item
    group="api"
    dense
    expand-separator
    label="Delete a withdraw link"
  >
    <q-card>
      <q-card-section>
        <code
          ><span class="text-pink">DELETE</span>
          /withdraw/api/v1/links/&lt;withdraw_id&gt;</code
        >
        <h5 class="text-caption q-mt-sm q-mb-none">Headers</h5>
        <code>{"X-Api-Key": &lt;admin_key&gt;}</code><br />
        <h5 class="text-caption q-mt-sm q-mb-none">Returns 204 NO CONTENT</h5>
        <code></code>
        <h5 class="text-caption q-mt-sm q-mb-none">Curl example</h5>
        <code
          >curl -X DELETE {{ request.base_url
          }}withdraw/api/v1/links/&lt;withdraw_id&gt; -H "X-Api-Key: {{
          user.wallets[0].adminkey }}"
        </code>
      </q-card-section>
    </q-card>
  </q-expansion-item>
  <q-expansion-item
    group="api"
    dense
    expand-separator
    label="Get hash check (for captchas to prevent milking)"
  >
    <q-card>
      <q-card-section>
        <code
          ><span class="text-blue">GET</span>
          /withdraw/api/v1/links/&lt;the_hash&gt;/&lt;lnurl_id&gt;</code
        >
        <h5 class="text-caption q-mt-sm q-mb-none">Headers</h5>
        <code>{"X-Api-Key": &lt;invoice_key&gt;}</code><br />
        <h5 class="text-caption q-mt-sm q-mb-none">Body (application/json)</h5>
        <h5 class="text-caption q-mt-sm q-mb-none">
          Returns 201 CREATED (application/json)
        </h5>
        <code>{"status": &lt;bool&gt;}</code>
        <h5 class="text-caption q-mt-sm q-mb-none">Curl example</h5>
        <code
          >curl -X GET {{ request.base_url
          }}withdraw/api/v1/links/&lt;the_hash&gt;/&lt;lnurl_id&gt; -H
          "X-Api-Key: {{ user.wallets[0].inkey }}"
        </code>
      </q-card-section>
    </q-card>
  </q-expansion-item>
  <q-expansion-item
    group="api"
    dense
    expand-separator
    label="Get image to embed"
    class="q-pb-md"
  >
    <q-card>
      <q-card-section>
        <code
          ><span class="text-blue">GET</span>
          /withdraw/img/&lt;lnurl_id&gt;</code
        >
        <h5 class="text-caption q-mt-sm q-mb-none">Curl example</h5>
        <code
          >curl -X GET {{ request.base_url }}withdraw/img/&lt;lnurl_id&gt;"
        </code>
      </q-card-section>
    </q-card>
  </q-expansion-item>
</q-expansion-item>
