<q-expansion-item group="extras" icon="info" label="Powered by LNURL">
  <q-card>
    <q-card-section>
      <p>
        <b>WARNING: LNURL must be used over https or TOR</b><br />
        LNURL is a range of lightning-network standards that allow us to use
        lightning-network differently. An LNURL withdraw is the permission for
        someone to pull a certain amount of funds from a lightning wallet. In
        this extension time is also added - an amount can be withdraw over a
        period of time. A typical use case for an LNURL withdraw is a faucet,
        although it is a very powerful technology, with much further reaching
        implications. For example, an LNURL withdraw could be minted to pay for
        a subscription service.
      </p>
      <p>
        Exploring LNURL and finding use cases, is really helping inform
        lightning protocol development, rather than the protocol dictating how
        lightning-network should be engaged with.
      </p>
      <small
        >Check
        <a
          class="text-secondary"
          href="https://github.com/fiatjaf/awesome-lnurl"
          target="_blank"
          >Awesome LNURL</a
        >
        for further information.</small
      >
    </q-card-section>
  </q-card>
</q-expansion-item>
