{% extends "print.html" %} {% block page %}

<div class="row">
  <div class="" id="vue">
    {% for page in link %}
    <page size="A4" id="pdfprint">
      <table style="width: 100%">
        {% for threes in page %}
        <tr style="height: 59.4mm">
          {% for one in threes %}
          <td style="width: 105mm">
            <center>
              <qrcode
                :value="theurl + '/?lightning={{one}}'"
                :options="{width: 150}"
              ></qrcode>
            </center>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </page>
    {% endfor %}
  </div>
</div>
{% endblock %} {% block styles %}
<style>
  body {
    background: rgb(204, 204, 204);
  }
  page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  }
  page[size='A4'] {
    width: 21cm;
    height: 29.7cm;
  }
  @media print {
    body,
    page {
      margin: 0px !important;
      box-shadow: none !important;
    }
    .q-page {
      padding: 0px !important;
    }
  }
</style>
{% endblock %} {% block scripts %}
<script>
  Vue.component(VueQrcode.name, VueQrcode)

  new Vue({
    el: '#vue',
    data: function () {
      return {
        theurl: location.protocol + '//' + location.host,
        printDialog: {
          show: true,
          data: null
        }
      }
    }
  })
</script>
{% endblock %}
