<q-expansion-item group="extras" icon="info" label="Powered by LNURL">
  <q-card>
    <q-card-section>
      <p>
        <b>WARNING: LNURL must be used over https or TOR</b><br />
        LNURL is a range of lightning-network standards that allow us to use
        lightning-network differently. An LNURL-pay is a link that wallets use
        to fetch an invoice from a server on-demand. The link or QR code is
        fixed, but each time it is read by a compatible wallet a new QR code is
        issued by the service. It can be used to activate machines without them
        having to maintain an electronic screen to generate and show invoices
        locally, or to sell any predefined good or service automatically.
      </p>
      <p>
        Exploring LNURL and finding use cases, is really helping inform
        lightning protocol development, rather than the protocol dictating how
        lightning-network should be engaged with.
      </p>
      <small
        >Check
        <a
          class="text-secondary"
          href="https://github.com/fiatjaf/awesome-lnurl"
          target="_blank"
          >Awesome LNURL</a
        >
        for further information.</small
      >
    </q-card-section>
  </q-card>
</q-expansion-item>
