<template>
    <div class="column justify-start">
        <div class="q-py-md" style="font-size:1rem;" ><strong>Create</strong></div>
        <span>Select the wallet from the dropdown list. Royalties will be paid to this wallet.</span>
        <span>If you already have an account id you can enter it into the id field. If you want to auto generate an id press the create royalty account button.</span>
        <div class="q-py-md" style="font-size:1rem;"><strong>Delete</strong></div>
        <span>To delete the royalty account, press the red cancel button in the account's table. Then confirm.</span>
        <span>To change wallet but keep the same id. Copy the id, delete the account and create a new account with the copied id.</span>
    </div>
</template>