{% if not ajax %} {% extends "base.html" %} {% endif %}
<!---->
{% from "macros.jinja" import window_vars with context %}
<!---->
{% block scripts %} {{ window_vars(user, wallet, extensions, extension_data)
}}{% endblock %} {% block page %}

<div class="row q-col-gutter-md q-mb-md">
  <div class="col-12">
    <q-stepper v-model="step" ref="stepper" color="primary" animated>
      <q-step
        :name="1"
        title="Describe"
        icon="create_new_folder"
        :done="step > 1"
        style="min-height: 200px"
      >
        <q-img
          :src="'{{ static_url_for('static', 'images/builder/build_01.png') }}'"
        ></q-img>
        <div class="row q-col-gutter-md q-mt-md">
          <div class="col-md-4 col-sm-12">
            <q-input
              filled
              label="Extension Name"
              hint="The name of your extension"
            >
            </q-input>
          </div>
          <div class="col-md-4 col-sm-12">
            <q-input
              filled
              label="Extension ID"
              hint="The ID of your extension. Lowercase letters, numbers, and underscores only (snake_case)."
            >
            </q-input>
          </div>
          <div class="col-md-4 col-sm-12">
            <q-input
              filled
              label="Short description"
              hint="A brief description that is shown in the extension list."
            >
            </q-input>
          </div>
        </div>
        <div class="row q-mt-lg">
          <div class="col-12">
            <q-input
              filled
              label="Description"
              hint="A detailed description of your extension."
              type="textarea"
              rows="3"
              maxlength="1000"
            >
            </q-input>
          </div>
        </div>
      </q-step>

      <q-step
        :name="2"
        title="Settings"
        icon="settings"
        :done="step > 2"
        style="min-height: 200px"
      >
        <q-img
          :src="'{{ static_url_for('static', 'images/builder/build_02.png') }}'"
        ></q-img>
        <div class="row q-mt-lg">
          <div class="col-12">
            <q-toggle
              size="md"
              checked-icon="check"
              color="green"
              label="Global Settings"
            />
          </div>
        </div>
        <div class="row q-mt-lg">
          <div class="col-12"><span> Settings Fields</span><br /></div>
        </div>
      </q-step>

      <q-step
        :name="3"
        title="Top Objects"
        icon="list"
        style="min-height: 200px"
      >
      </q-step>

      <q-step
        :name="4"
        title="Runtime Objects"
        icon="blur_linear"
        style="min-height: 200px"
      >
        Try out different ad text to see what brings in the most customers, and
        learn how to enhance your ads using features like ad extensions. If you
        run into any problems with your ads, find out how to tell if they're
        running and how to resolve approval issues.
      </q-step>

      <q-step
        :name="5"
        title="Public Pages"
        icon="link"
        style="min-height: 200px"
      >
        Try out different ad text to see what brings in the most customers, and
        learn how to enhance your ads using features like ad extensions. If you
        run into any problems with your ads, find out how to tell if they're
        running and how to resolve approval issues.
      </q-step>
      <q-step
        :name="6"
        title="Review"
        icon="how_to_reg"
        style="min-height: 200px"
      >
        Try out different ad text to see what brings in the most customers, and
        learn how to enhance your ads using features like ad extensions. If you
        run into any problems with your ads, find out how to tell if they're
        running and how to resolve approval issues.
      </q-step>
      <q-step
        :name="7"
        title="Publish"
        icon="publish"
        style="min-height: 200px"
      >
        Try out different ad text to see what brings in the most customers, and
        learn how to enhance your ads using features like ad extensions. If you
        run into any problems with your ads, find out how to tell if they're
        running and how to resolve approval issues.
      </q-step>

      <template v-slot:navigation>
        <div class="row">
          <div class="col q-pa-md">
            <q-stepper-navigation class="float-right">
              <q-btn
                v-if="step > 1"
                flat
                color="grey-8"
                class="q-mr-sm"
                @click="$refs.stepper.previous()"
                label="Back"
              />

              <q-btn
                @click="$refs.stepper.next()"
                color="primary"
                :label="step === 7 ? 'Finish' : 'Next'"
              />
            </q-stepper-navigation>
          </div>
        </div>
      </template>

      <template v-slot:message>
        <q-banner v-if="step === 1" class="bg-grey-8 text-white q-px-lg">
          <span>
            Tell us soomething about your extensions. This is the first step,
            you can return and change it.
          </span>
        </q-banner>
        <q-banner v-else-if="step === 2" class="bg-grey-8 text-white q-px-lg">
          <span>
            Define what settings your extension will have. You can choose if
            each user has its own settings or if these are global settings set
            by the admin.
          </span>
        </q-banner>
        <q-banner v-else-if="step ===3" class="bg-grey-8 text-white q-px-lg">
          <span>
            Define the top objects of your extension. These are the main
            components that will be used in your extension.
          </span>
        </q-banner>
        <q-banner v-else class="bg-blue-8 text-white q-px-lg">
          The final step is creating the ad...
        </q-banner>
      </template>
    </q-stepper>
  </div>
</div>
<div class="row q-col-gutter-md"></div>
{% endblock %}
