{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block scripts %} {{ window_vars(user) }}
<script src="/core/static/js/extensions.js"></script>
{% endblock %} {% block page %}
<div class="row q-col-gutter-md q-mb-md">
  <div class="col-sm-9 gt-sm col-xs-12 mt-lg">
    <p class="text-h4">
      Extensions
      <q-btn
        flat
        color="primary"
        type="a"
        :href="['/install?usr=', user.id].join('')"
        >Add Extensions</q-btn
      >
    </p>
  </div>

  <div class="col-sm-3 col-xs-12 q-ml-auto">
    <q-input v-model="searchTerm" label="Search extensions">
      <q-icon
        v-if="searchTerm !== ''"
        name="close"
        @click="searchTerm = ''"
        class="cursor-pointer q-mt-lg"
      />
    </q-input>
  </div>
</div>

<div class="row q-col-gutter-md">
  <div
    class="col-6 col-md-4 col-lg-3"
    v-for="extension in filteredExtensions"
    :key="extension.code"
  >
    <q-card>
      <q-card-section style="min-height: 140px">
        <div class="row">
          <div class="col-3">
            <q-img
              v-if="extension.tile"
              :src="extension.tile"
              spinner-color="white"
              style="max-width: 100%"
            ></q-img>
            <div v-else>
              <q-icon
                class="gt-sm"
                name="extension"
                color="primary"
                size="70px"
              ></q-icon>
              <q-icon
                class="lt-md"
                name="extension"
                color="primary"
                size="35px"
              ></q-icon>
            </div>
          </div>
          <div class="col-9 q-pl-sm">
            {% raw %}
            <div class="text-h5 gt-sm q-mt-sm q-mb-xs gt-sm">
              {{ extension.name }}
            </div>
            <div
              class="text-h5 gt-sm q-mt-sm q-mb-xs lt-md"
              style="min-height: 60px"
            >
              {{ extension.name }}
            </div>
            <div
              class="text-subtitle2 gt-sm"
              style="font-size: 11px; height: 34px"
            >
              {{ extension.shortDescription }}
            </div>
            <div class="text-subtitle1 lt-md q-mt-sm q-mb-xs">
              {{ extension.name }}
            </div>
            <div
              class="text-subtitle2 lt-md"
              style="font-size: 9px; height: 34px"
            >
              {{ extension.shortDescription }}
            </div>
            {% endraw %}
          </div>
        </div>
      </q-card-section>
      <q-card-section>
        <div>
          <q-rating
            class="gt-sm"
            v-model="maxStars"
            disable
            size="1.5em"
            :max="5"
            color="primary"
          ></q-rating>
          <q-rating
            v-model="maxStars"
            class="lt-md"
            size="1.5em"
            :max="5"
            color="primary"
          ></q-rating
          ><q-tooltip>Ratings coming soon</q-tooltip>
        </div>
      </q-card-section>
      <q-separator></q-separator>
      <q-card-actions>
        <div v-if="extension.isEnabled">
          <q-btn
            flat
            color="primary"
            type="a"
            :href="[extension.url, '?usr=', g.user.id].join('')"
            >Open</q-btn
          >
          <q-btn
            flat
            color="grey-5"
            type="a"
            :href="['{{ url_for('core.extensions') }}', '?usr=', g.user.id, '&disable=', extension.code].join('')"
          >
            Disable</q-btn
          >
        </div>
        <q-btn
          v-else
          flat
          color="primary"
          type="a"
          :href="['{{ url_for('core.extensions') }}', '?usr=', g.user.id, '&enable=', extension.code].join('')"
        >
          Enable</q-btn
        >
      </q-card-actions>
    </q-card>
  </div>
</div>
{% endblock %}
