{% extends "public.html" %} {% block scripts %}
<script src="{{ static_url_for('static', 'js/index.js') }}"></script>
{% endblock %} {% block page %}
<div class="row q-col-gutter-md justify-center">
  <div class="col-12 col-md-7 col-lg-6 q-gutter-y-md">
    {% if lnurl or LNBITS_NEW_ACCOUNTS_ALLOWED %}
    <q-card>
      <q-card-section>
        {% if lnurl %}
        <q-btn
          unelevated
          color="primary"
          @click="processing"
          type="a"
          href="{{ url_for('core.lnurlwallet') }}?lightning={{ lnurl }}"
          v-text="$t('press_to_claim')"
        ></q-btn>
        {% elif LNBITS_NEW_ACCOUNTS_ALLOWED %}
        <q-form @submit="createWallet" class="q-gutter-md">
          <q-input
            filled
            dense
            v-model="walletName"
            :label='$t("name_your_wallet", { name: "{{ SITE_TITLE }} *" })'
          ></q-input>
          <q-btn
            unelevated
            color="primary"
            :disable="walletName == ''"
            type="submit"
            :label="$t('add_wallet')"
          ></q-btn>
        </q-form>
        {% endif %}
      </q-card-section>
    </q-card>
    {% endif %}

    <q-card>
      <q-card-section>
        <h3 class="q-my-none">{{SITE_TITLE}}</h3>
        <h5 class="q-my-md">{{SITE_TAGLINE}}</h5>
        <div v-if="'{{SITE_TITLE}}' == 'LNbits'">
          <p v-text="$t('lnbits_description')"></p>
          <div class="row q-mt-md q-gutter-sm">
            <q-btn
              outline
              color="grey"
              type="a"
              href="https://github.com/lnbits/lnbits"
              target="_blank"
              rel="noopener"
              :label="$t('view_github')"
            ></q-btn>
            <q-btn
              outline
              color="grey"
              type="a"
              href="https://legend.lnbits.com/paywall/GAqKguK5S8f6w5VNjS9DfK"
              target="_blank"
              rel="noopener"
              :label="$t('donate')"
            ></q-btn>
          </div>
        </div>
        <div v-else>
          <div v-html="formatDescription"></div>
        </div>
      </q-card-section>
    </q-card>
  </div>

  <!-- Ads -->
  <div class="col-12 col-md-3 col-lg-3" v-if="'{{SITE_TITLE}}' == 'LNbits'">
    <div class="row q-col-gutter-lg justify-center">
      <div class="col-6 col-sm-4 col-md-8 q-gutter-y-sm">
        <q-btn
          flat
          color="secondary"
          :label="$t('runs_on')"
          class="full-width"
        ></q-btn>
        <div class="row">
          <div class="col">
            <a href="https://github.com/ElementsProject/lightning">
              <q-img
                contain
                :src="($q.dark.isActive) ? '{{ static_url_for('static', 'images/cln.png') }}' : '{{ static_url_for('static', 'images/clnl.png') }}'"
              ></q-img>
            </a>
          </div>
          <div class="col q-pl-md">
            <a href="https://github.com/lightningnetwork/lnd">
              <q-img
                contain
                :src="($q.dark.isActive) ? '{{ static_url_for('static', 'images/lnd.png') }}' : '{{ static_url_for('static', 'images/lnd.png') }}'"
              ></q-img>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <a href="https://opennode.com">
              <q-img
                contain
                :src="($q.dark.isActive) ? '{{ static_url_for('static', 'images/opennode.png') }}' : '{{ static_url_for('static', 'images/opennodel.png') }}'"
              ></q-img>
            </a>
          </div>
          <div class="col q-pl-md">
            <a href="https://lnpay.co/">
              <q-img
                contain
                :src="($q.dark.isActive) ? '{{ static_url_for('static', 'images/lnpay.png') }}' : '{{ static_url_for('static', 'images/lnpayl.png') }}'"
              ></q-img>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <a href="https://github.com/rootzoll/raspiblitz">
              <q-img
                contain
                :src="($q.dark.isActive) ? '{{ static_url_for('static', 'images/blitz.png') }}' : '{{ static_url_for('static', 'images/blitzl.png') }}'"
              ></q-img>
            </a>
          </div>
          <div class="col q-pl-md">
            <a href="https://start9.com/">
              <q-img
                contain
                :src="($q.dark.isActive) ? '{{ static_url_for('static', 'images/start9.png') }}' : '{{ static_url_for('static', 'images/start9l.png') }}'"
              ></q-img>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="https://getumbrel.com/">
              <q-img
                contain
                :src="($q.dark.isActive) ? '{{ static_url_for('static', 'images/umbrel.png') }}' : '{{ static_url_for('static', 'images/umbrell.png') }}'"
              ></q-img>
            </a>
          </div>
          <div class="col q-pl-md">
            <a href="https://mynodebtc.com">
              <q-img
                contain
                :src="($q.dark.isActive) ? '{{ static_url_for('static', 'images/mynode.png') }}' : '{{ static_url_for('static', 'images/mynodel.png') }}'"
              ></q-img>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="https://github.com/shesek/spark-wallet">
              <q-img
                contain
                :src="($q.dark.isActive) ? '{{ static_url_for('static', 'images/spark.png') }}' : '{{ static_url_for('static', 'images/sparkl.png') }}'"
              ></q-img>
            </a>
          </div>
          <div class="col q-pl-md">
            <a href="https://voltage.cloud">
              <q-img
                contain
                :src="($q.dark.isActive) ? '{{ static_url_for('static', 'images/voltage.png') }}' : '{{ static_url_for('static', 'images/voltagel.png') }}'"
              ></q-img>
            </a>
          </div>
        </div>
      </div>

      {% if AD_SPACE %} {% for ADS in AD_SPACE %} {% set AD = ADS.split(';') %}
      <div class="col-6 col-sm-4 col-md-8 q-gutter-y-sm">
        <q-btn flat color="secondary" class="full-width q-mb-md"
          >{{ AD_TITLE }}</q-btn
        >

        <a href="{{ AD[0] }}" class="q-ma-md">
          <img
            v-if="($q.dark.isActive)"
            src="{{ AD[1] }}"
            style="max-width: 90%"
          />
          <img v-else src="{{ AD[2] }}" style="max-width: 90%" />
        </a>
      </div>
      {% endfor %} {% endif %}
    </div>
  </div>
</div>
{% endblock %}
