{% if not ajax %} {% extends "base.html" %} {% endif %}
<!---->
{% from "macros.jinja" import window_vars with context %}
<!---->
{% block scripts %} {{ window_vars(user) }}{% endblock %} {% block page %}

<div class="row q-col-gutter-md q-mb-md">
  <div class="col-12">
    <q-card>
      <div>
        <div class="q-gutter-y-md">
          <q-tabs v-model="tab" align="left">
            <q-tab
              name="wallets"
              :label="$t('wallets')"
              @update="val => tab = val.name"
            ></q-tab>
            <q-tab
              name="payments"
              :label="$t('payments')"
              @update="val => tab = val.name"
            ></q-tab>
          </q-tabs>
        </div>
      </div>
    </q-card>
  </div>
</div>

<div>
  <div>
    <div>
      <div v-if="tab==='wallets'">
        <q-table
          grid
          grid-header
          flat
          bordered
          :rows="wallets"
          :columns="walletsTable.columns"
          v-model:pagination="walletsTable.pagination"
          :loading="walletsTable.loading"
          @request="getUserWallets"
          row-key="id"
          :filter="filter"
          hide-header
        >
          <template v-slot:top-right>
            <q-input
              borderless
              dense
              debounce="300"
              v-model="filter"
              placeholder="Search"
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </template>
          <template v-slot:item="props">
            <div class="q-pa-xs col-xs-12 col-sm-6 col-md-4">
              <q-card
                class="q-ma-sm cursor-pointer"
                @click="goToWallet(props.row.id)"
              >
                <q-card-section class="text-center">
                  <strong> <span v-text="props.row.name"></span></strong>
                  <br />
                  <span
                    v-text="formattedSatAmount(props.row.balance_msat / 1000)"
                  ></span>
                </q-card-section>
                <q-separator />

                <q-card-section class="text-left">
                  <small>
                    <strong>Currency: </strong>
                    <span v-text="props.row.currency || 'sat'"></span>
                  </small>
                  <br />
                  <small>
                    <strong>Id: </strong>
                    <span v-text="props.row.id"></span>
                  </small>
                </q-card-section>
              </q-card>
            </div>
          </template>
        </q-table>
      </div>
      <div v-else>pppayyemtns 2</div>
    </div>
  </div>
</div>

{% endblock %}
