<template>
    {%raw%}
    <div class="column items-start">
        <code><span class="text-light-green text-bold">GET</span> winlose/api/v1/withdraw/&lt;id&gt;</code>
        <h5 class="text-caption text-grey-7 q-mt-sm q-mb-none text-bold">Headers - admin key required.</h5>
        <code>{"X-Api-Key": "<i>{{ g.user.wallets[0].adminkey }}</i>"}</code>
        <div class="q-my-xs">Withdrawals can only be claimed once! Add the account user id to withdraw their sats.</div>
        <h5 class="text-caption q-mt-sm q-mb-none text-grey-7 text-bold">
            Returns 200 OK (application/json)
        </h5>
        <span>Withdraw request</span>
        <code>
            {
                "success": {
                    "lnurl": &lt;string&gt;, // Withdraw lnurlw. Used to create QRcode for withdrawal.
                    "chk_url": &lt;string&gt;, // Use to check for Withdrawal.
                    "amount": &lt;int&gt;, // Withdraw amount in satoshis.
                    }
            }
        </code>
        <span class="q-mt-md">Withdraw check</span>
        <code>
            {
                "success": {
                    "withdraw":&lt;boolean&gt;,  // true; Sats have been withdrawn. false; Not yet withdrawn.
                    "id":  &lt;string&gt;, // ID of the withdrawal.
                    "amount": &lt;int&gt;, // Withdrawn amount in satoshis.
                    }
            }
        </code>
        <h5 class="text-caption text-grey-7 q-mt-sm q-mb-none text-bold">Curl example</h5>
        <code
            >curl {{ api.base_url }}/winlose/api/v1/withdraw/&lt;wl user_id&gt; -H "X-Api-Key:
            <i>{{  g.user.wallets[0].adminkey}}</i>"</code>
    </div>
    {%endraw%}
</template