<q-card>
  <q-card-section>
    <img src="https://boltz.exchange/static/media/Shape.6c1a92b3.svg" alt="" />
    <img
      src="https://boltz.exchange/static/media/Boltz.02fb7acb.svg"
      style="padding: 5px 9px"
      alt=""
    />
    <p><b>NON CUSTODIAL atomic swap service</b></p>
    <h5 class="text-subtitle1 q-my-none">
      Providing trustless and account-free swap services since 2018. Move IN and
      OUT of the lightning network and remain in control of your bitcoin, at all
      time.
    </h5>
    <p>
      Link:
      <a target="_blank" href="https://boltz.exchange"
        >https://boltz.exchange
      </a>
      <br />
      README:
      <a
        target="_blank"
        href="https://github.com/lnbits/lnbits-legend/tree/main/lnbits/extensions/boltz"
        >read more</a
      >
    </p>
    <p>
      <small
        >Extension created by,
        <a target="_blank" href="https://github.com/dni">dni</a></small
      >
    </p>
  </q-card-section>
</q-card>
<q-card>
  <q-card-section>
    <h3 class="text-subtitle1 q-my-none">
      <b>Fee Information</b>
    </h3>
    <span>
      {% raw %} Every swap consists of 2 onchain transactions, lockup and claim
      / refund, routing fees and a Boltz fee of
      <b>{{ boltzConfig.fee_percentage }}%</b>. {% endraw %}
    </span>
  </q-card-section>
  <q-expansion-item
    group="extras"
    icon="swap_vertical_circle"
    label="Fee example: Lightning -> Onchain"
    :content-inset-level="0.5"
  >
    <q-card-section>
      {% raw %} You want to swap out {{ boltzExample.amount }} sats, Lightning
      to Onchain:
      <ul style="padding-left: 12px">
        <li>Onchain lockup tx fee: ~{{ boltzExample.onchain_boltz }} sats</li>
        <li>
          Onchain claim tx fee: {{ boltzExample.onchain_lnbits }} sats
          (hardcoded)
        </li>
        <li>Routing fees (paid by you): unknown</li>
        <li>
          Boltz fees: {{ boltzExample.boltz_fee }} sats ({{
          boltzConfig.fee_percentage }}%)
        </li>
        <li>
          Fees total: {{ boltzExample.reverse_fee_total }} sats + routing fees
        </li>
        <li>You receive: {{ boltzExample.reverse_receive }} sats</li>
      </ul>
      <p>
        onchain_amount_received = amount - (amount * boltz_fee / 100) -
        lockup_fee - claim_fee
      </p>
      {% endraw %}
    </q-card-section>
  </q-expansion-item>
  <q-expansion-item
    group="extras"
    icon="swap_vertical_circle"
    label="Fee example: Onchain -> Lightning"
    :content-inset-level="0.5"
  >
    <q-card-section>
      {% raw %} You want to swap in {{ boltzExample.amount }} sats, Onchain to
      Lightning:
      <ul style="padding-left: 12px">
        <li>Onchain lockup tx fee: whatever you choose when paying</li>
        <li>Onchain claim tx fee: ~{{ boltzExample.onchain_boltz }} sats</li>
        <li>Routing fees (paid by boltz): unknown</li>
        <li>
          Boltz fees: {{ boltzExample.boltz_fee }} sats ({{
          boltzConfig.fee_percentage }}%)
        </li>
        <li>
          Fees total: {{ boltzExample.normal_fee_total }} sats + lockup_fee
        </li>
        <li>
          You pay onchain: {{ boltzExample.normal_expected_amount }} sats +
          lockup_fee
        </li>
        <li>You receive lightning: {{ boltzExample.amount }} sats</li>
      </ul>
      <p>onchain_payment = amount + (amount * boltz_fee / 100) + claim_fee</p>
      {% endraw %}
    </q-card-section>
  </q-expansion-item>
</q-card>
