<q-card>
  <q-card-section>
    <img src="https://boltz.exchange/static/media/Shape.6c1a92b3.svg" alt="" />
    <img
      src="https://boltz.exchange/static/media/Boltz.02fb7acb.svg"
      style="padding: 5px 9px"
      alt=""
    />
    <h5 class="text-subtitle1 q-my-none">
      Boltz.exchange: Do onchain to offchain and vice-versa swaps
    </h5>
    <p>
      Submarine and Reverse Submarine Swaps on LNbits via boltz.exchange API<br />
    </p>
    <p>
      Link :
      <a target="_blank" href="https://boltz.exchange"
        >https://boltz.exchange
      </a>
    </p>
    <p>
      <a
        target="_blank"
        href="https://github.com/lnbits/lnbits-legend/tree/main/lnbits/extensions/boltz"
        >More details</a
      >
    </p>
    <p>
      <small
        >Created by,
        <a target="_blank" href="https://github.com/dni">dni</a></small
      >
    </p>
  </q-card-section>
</q-card>
