{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn
          label="Swap (In)"
          unelevated
          color="primary"
          @click="submarineSwapDialog.show = true"
        >
          <q-tooltip class="bg-grey-8" anchor="bottom left" self="top left">
            Send onchain funds offchain (BTC -> LN)
          </q-tooltip>
        </q-btn>
        <q-btn
          label="Reverse Swap (Out)"
          unelevated
          color="primary"
          @click="reverseSubmarineSwapDialog.show = true"
        >
          <q-tooltip class="bg-grey-8" anchor="bottom left" self="top left">
            Send offchain funds to onchain address (LN -> BTC)
          </q-tooltip>
        </q-btn>
        <q-btn
          label="Auto Reverse Swap (Out)"
          unelevated
          color="primary"
          @click="autoReverseSubmarineSwapDialog.show = true"
        >
          <q-tooltip class="bg-grey-8" anchor="bottom left" self="top left">
            Automatically send offchain funds to onchain address (LN -> BTC)
            with a predefined threshold
          </q-tooltip>
        </q-btn>
        <q-btn
          label="Check Swaps"
          icon="cached"
          unelevated
          color="primary"
          @click="checkSwaps"
        >
          <q-tooltip class="bg-grey-8" anchor="bottom left" self="top left">
            Check all pending swaps if they can be refunded.
          </q-tooltip>
        </q-btn>
      </q-card-section>
    </q-card>
    {% include "boltz/_submarineSwapList.html" %} {% include
    "boltz/_reverseSubmarineSwapList.html" %} {% include
    "boltz/_autoReverseSwapList.html" %}
  </div>
  <div class="col-12 col-md-4 col-lg-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">{{SITE_TITLE}} Boltz extension</h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "boltz/_api_docs.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>
  {% include "boltz/_submarineSwapDialog.html" %} {% include
  "boltz/_reverseSubmarineSwapDialog.html" %} {% include
  "boltz/_autoReverseSwapDialog.html" %} {% include "boltz/_qrDialog.html" %} {%
  include "boltz/_statusDialog.html" %} {% include "boltz/_checkSwapDialog.html"
  %}
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  Vue.component(VueQrcode.name, VueQrcode)
  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        mempool: '',
        boltzConfig: {},
        submarineSwaps: [],
        reverseSubmarineSwaps: [],
        autoReverseSubmarineSwaps: [],
        statuses: [],
        submarineSwapDialog: {
          show: false,
          data: {}
        },
        reverseSubmarineSwapDialog: {
          show: false,
          data: {
            instant_settlement: true
          }
        },
        autoReverseSubmarineSwapDialog: {
          show: false,
          data: {
            instant_settlement: true
          }
        },
        qrCodeDialog: {
          show: false,
          data: {}
        },
        statusDialog: {
          show: false,
          data: {}
        },
        checkSwapDialog: {
          show: false,
          data: {}
        },
        allStatusTable: {
          columns: [
            {
              name: 'swap_id',
              align: 'left',
              label: 'swap_id',
              field: 'swap_id'
            },
            {
              name: 'status',
              align: 'left',
              label: 'status',
              field: 'message'
            },
            {
              name: 'boltz',
              align: 'left',
              label: 'boltz',
              field: 'boltz'
            },
            {
              name: 'mempool',
              align: 'left',
              label: 'mempool',
              field: 'mempool'
            },
            {
              name: 'timeout_block_height',
              align: 'left',
              label: 'block height',
              field: 'timeout_block_height'
            }
          ],
          pagination: {
            rowsPerPage: 10
          }
        },
        autoReverseSubmarineSwapTable: {
          columns: [
            {
              name: 'time',
              align: 'left',
              label: 'time',
              field: 'time',
              sortable: true,
              format: function (val, row) {
                return new Date(val * 1000).toUTCString()
              }
            },
            {
              name: 'wallet',
              align: 'left',
              label: 'wallet',
              field: data => {
                let wallet = _.findWhere(this.g.user.wallets, {
                  id: data.wallet
                })
                if (wallet) {
                  return wallet.name
                }
              }
            },
            {
              name: 'status',
              align: 'left',
              label: 'status',
              field: 'status'
            },
            {
              name: 'boltz_id',
              align: 'left',
              label: 'boltz id',
              field: 'boltz_id'
            },
            {
              name: 'onchain_amount',
              align: 'left',
              label: 'onchain amount',
              field: 'onchain_amount'
            },
            {
              name: 'timeout_block_height',
              align: 'left',
              label: 'timeout block height',
              field: 'timeout_block_height'
            }
          ],
          pagination: {
            rowsPerPage: 10
          }
        },
        reverseSubmarineSwapTable: {
          columns: [
            {
              name: 'time',
              align: 'left',
              label: 'time',
              field: 'time',
              sortable: true,
              format: function (val, row) {
                return new Date(val * 1000).toUTCString()
              }
            },
            {
              name: 'wallet',
              align: 'left',
              label: 'wallet',
              field: data => {
                let wallet = _.findWhere(this.g.user.wallets, {
                  id: data.wallet
                })
                if (wallet) {
                  return wallet.name
                }
              }
            },
            {
              name: 'status',
              align: 'left',
              label: 'status',
              field: 'status'
            },
            {
              name: 'boltz_id',
              align: 'left',
              label: 'boltz id',
              field: 'boltz_id'
            },
            {
              name: 'onchain_amount',
              align: 'left',
              label: 'onchain amount',
              field: 'onchain_amount'
            },
            {
              name: 'timeout_block_height',
              align: 'left',
              label: 'timeout block height',
              field: 'timeout_block_height'
            }
          ],
          pagination: {
            rowsPerPage: 10
          }
        },
        submarineSwapTable: {
          columns: [
            {
              name: 'time',
              align: 'left',
              label: 'time',
              field: 'time',
              sortable: true,
              format: function (val, row) {
                return new Date(val * 1000).toUTCString()
              }
            },
            {
              name: 'wallet',
              align: 'left',
              label: 'wallet',
              field: data => {
                let wallet = _.findWhere(this.g.user.wallets, {
                  id: data.wallet
                })
                if (wallet) {
                  return wallet.name
                }
              }
            },
            {
              name: 'status',
              align: 'left',
              label: 'status',
              field: 'status'
            },
            {
              name: 'boltz_id',
              align: 'left',
              label: 'boltz id',
              field: 'boltz_id'
            },
            {
              name: 'expected_amount',
              align: 'left',
              label: 'expected amount',
              field: 'expected_amount'
            },
            {
              name: 'timeout_block_height',
              align: 'left',
              label: 'timeout block height',
              field: 'timeout_block_height'
            }
          ],
          pagination: {
            rowsPerPage: 10
          }
        }
      }
    },
    methods: {
      getLimits() {
        const cfg = this.boltzConfig.data
        if (cfg) {
          return {
            min: cfg.limits.minimal,
            max: cfg.limits.maximal
          }
        }
        return {
          min: 0,
          max: 0
        }
      },
      amountLabel() {
        let limits = this.getLimits()
        return 'min: (' + limits.min + '), max: (' + limits.max + ')'
      },
      disableSubmarineSwapDialog() {
        const data = this.submarineSwapDialog.data
        let limits = this.getLimits()
        return (
          data.wallet == null ||
          data.refund_address == null ||
          data.refund_address.search(
            /^(bcrt1|bc1|[13])[a-zA-HJ-NP-Z0-9]{25,39}$/
          ) !== 0 ||
          data.amount < limits.min ||
          data.amount > limits.max
        )
      },
      disableReverseSubmarineSwapDialog() {
        const data = this.reverseSubmarineSwapDialog.data
        let limits = this.getLimits()
        return (
          data.onchain_address == null ||
          data.onchain_address.search(
            /^(bcrt1|bc1|[13])[a-zA-HJ-NP-Z0-9]{25,39}$/
          ) !== 0 ||
          data.wallet == null ||
          data.amount < limits.min ||
          data.amount > limits.max
        )
      },
      disableAutoReverseSubmarineSwapDialog() {
        const data = this.autoReverseSubmarineSwapDialog.data
        let limits = this.getLimits()
        return (
          data.onchain_address == null ||
          data.onchain_address.search(
            /^(bcrt1|bc1|[13])[a-zA-HJ-NP-Z0-9]{25,39}$/
          ) !== 0 ||
          data.wallet == null ||
          data.amount < limits.min ||
          data.amount > limits.max
        )
      },
      downloadRefundFile(swapId) {
        let swap = _.findWhere(this.submarineSwaps, {id: swapId})
        let json = {
          id: swap.boltz_id,
          currency: 'BTC',
          redeemScript: swap.redeem_script,
          privateKey: swap.refund_privkey,
          timeoutBlockHeight: swap.timeout_block_height
        }
        let hiddenElement = document.createElement('a')
        hiddenElement.href =
          'data:application/json;charset=utf-8,' +
          encodeURI(JSON.stringify(json))
        hiddenElement.target = '_blank'
        hiddenElement.download = 'boltz-refund-' + swap.boltz_id + '.json'
        hiddenElement.click()
      },
      refundSwap(swapId) {
        LNbits.api
          .request(
            'POST',
            '/boltz/api/v1/swap/refund?swap_id=' + swapId,
            this.g.user.wallets[0].adminkey
          )
          .then(res => {
            this.resetStatusDialog()
          })
          .catch(error => {
            console.log('error', error)
            LNbits.utils.notifyApiError(error)
          })
      },
      openMempool(swap_id) {
        var swap = _.findWhere(this.submarineSwaps, {id: swap_id})
        if (swap === undefined) {
          var swap = _.findWhere(this.reverseSubmarineSwaps, {id: swap_id})
          var address = swap.lockup_address
        } else {
          var address = swap.address
        }
        var mempool_address = this.mempool

        // used for development, replace docker hosts with localhost
        if (mempool_address.search('mempool-web') !== -1) {
          mempool_address = mempool_address.replace('mempool-web', 'localhost')
        }

        window.open(mempool_address + '/address/' + address, '_blank')
      },
      openStatusDialog(swap_id, reverse) {
        LNbits.api
          .request(
            'POST',
            '/boltz/api/v1/swap/status?swap_id=' + swap_id,
            this.g.user.wallets[0].adminkey
          )
          .then(res => {
            this.resetStatusDialog()
            this.statusDialog.data = {
              reverse: reverse,
              swap_id: swap_id,
              wallet: res.data.wallet,
              boltz: res.data.boltz,
              status: res.data.status,
              mempool: res.data.mempool,
              timeout_block_height: res.data.timeout_block_height,
              date: new Date().toUTCString()
            }
            this.statusDialog.show = true
          })
          .catch(error => {
            console.log('error', error)
            LNbits.utils.notifyApiError(error)
          })
      },
      openQrCodeDialog(submarineSwapId) {
        var swap = _.findWhere(this.submarineSwaps, {id: submarineSwapId})
        if (swap === undefined) {
          return console.assert('swap is undefined, this should not happen')
        }
        this.qrCodeDialog.data = {
          id: swap.id,
          expected_amount: swap.expected_amount,
          expected_amount_btc: swap.expected_amount / 100000000,
          bip21: swap.bip21,
          address: swap.address
        }
        this.qrCodeDialog.show = true
      },
      resetStatusDialog() {
        this.statusDialog = {
          show: false,
          data: {}
        }
      },
      resetAllStatusDialog() {
        this.checkSwapDialog = {
          show: false,
          data: {}
        }
      },
      resetSubmarineSwapDialog() {
        this.submarineSwapDialog = {
          show: false,
          data: {}
        }
      },
      resetReverseSubmarineSwapDialog() {
        this.reverseSubmarineSwapDialog = {
          show: false,
          data: {}
        }
      },
      resetAutoReverseSubmarineSwapDialog() {
        this.autoReverseSubmarineSwapDialog = {
          show: false,
          data: {}
        }
      },
      sendReverseSubmarineSwapFormData() {
        let wallet = _.findWhere(this.g.user.wallets, {
          id: this.reverseSubmarineSwapDialog.data.wallet
        })
        let data = this.reverseSubmarineSwapDialog.data
        this.createReverseSubmarineSwap(wallet, data)
      },
      sendAutoReverseSubmarineSwapFormData() {
        let wallet = _.findWhere(this.g.user.wallets, {
          id: this.autoReverseSubmarineSwapDialog.data.wallet
        })
        let data = this.autoReverseSubmarineSwapDialog.data
        this.createAutoReverseSubmarineSwap(wallet, data)
      },
      sendSubmarineSwapFormData() {
        let wallet = _.findWhere(this.g.user.wallets, {
          id: this.submarineSwapDialog.data.wallet
        })
        let data = this.submarineSwapDialog.data
        this.createSubmarineSwap(wallet, data)
      },
      exportSubmarineSwapCSV() {
        LNbits.utils.exportCSV(
          this.submarineSwapTable.columns,
          this.submarineSwaps
        )
      },
      exportReverseSubmarineSwapCSV() {
        LNbits.utils.exportCSV(
          this.reverseSubmarineSwapTable.columns,
          this.reverseSubmarineSwaps
        )
      },
      createSubmarineSwap(wallet, data) {
        LNbits.api
          .request(
            'POST',
            '/boltz/api/v1/swap',
            this.g.user.wallets[0].adminkey,
            data
          )
          .then(res => {
            this.submarineSwaps.unshift(res.data)
            this.resetSubmarineSwapDialog()
            this.openQrCodeDialog(res.data.id)
          })
          .catch(error => {
            LNbits.utils.notifyApiError(error)
          })
      },
      createReverseSubmarineSwap(wallet, data) {
        LNbits.api
          .request(
            'POST',
            '/boltz/api/v1/swap/reverse',
            this.g.user.wallets[0].adminkey,
            data
          )
          .then(res => {
            this.reverseSubmarineSwaps.unshift(res.data)
            this.resetReverseSubmarineSwapDialog()
          })
          .catch(error => {
            LNbits.utils.notifyApiError(error)
          })
      },
      createAutoReverseSubmarineSwap(wallet, data) {
        LNbits.api
          .request(
            'POST',
            '/boltz/api/v1/swap/reverse/auto',
            this.g.user.wallets[0].adminkey,
            data
          )
          .then(res => {
            this.autoReverseSubmarineSwaps.unshift(res.data)
            this.resetAutoReverseSubmarineSwapDialog()
          })
          .catch(error => {
            LNbits.utils.notifyApiError(error)
          })
      },
      getSubmarineSwap() {
        LNbits.api
          .request(
            'GET',
            '/boltz/api/v1/swap?all_wallets=true',
            this.g.user.wallets[0].inkey
          )
          .then(response => {
            this.submarineSwaps = response.data
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      getReverseSubmarineSwap() {
        LNbits.api
          .request(
            'GET',
            '/boltz/api/v1/swap/reverse?all_wallets=true',
            this.g.user.wallets[0].inkey
          )
          .then(response => {
            this.reverseSubmarineSwaps = response.data
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      getAutoReverseSubmarineSwap() {
        LNbits.api
          .request(
            'GET',
            '/boltz/api/v1/swap/reverse/auto?all_wallets=true',
            this.g.user.wallets[0].inkey
          )
          .then(response => {
            this.autoReverseSubmarineSwaps = response.data
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      getMempool() {
        LNbits.api
          .request('GET', '/boltz/api/v1/swap/mempool')
          .then(res => {
            this.mempool = res.data
          })
          .catch(error => {
            console.log('error', error)
            LNbits.utils.notifyApiError(error)
          })
      },
      getBoltzConfig() {
        LNbits.api
          .request('GET', '/boltz/api/v1/swap/boltz')
          .then(res => {
            this.boltzConfig = res
          })
          .catch(error => {
            console.log('error', error)
            LNbits.utils.notifyApiError(error)
          })
      },
      checkSwaps() {
        LNbits.api
          .request(
            'POST',
            '/boltz/api/v1/swap/check',
            this.g.user.wallets[0].adminkey
          )
          .then(res => {
            this.checkSwapDialog.data = {
              swaps: _.where(res.data, {reverse: false}),
              reverse_swaps: _.where(res.data, {reverse: true})
            }
            this.checkSwapDialog.show = true
          })
          .catch(error => {
            console.log('error', error)
            LNbits.utils.notifyApiError(error)
          })
      }
    },
    created: function () {
      this.getMempool()
      this.getBoltzConfig()
      this.getSubmarineSwap()
      this.getReverseSubmarineSwap()
      this.getAutoReverseSubmarineSwap()
    }
  })
</script>
{% endblock %}
