<q-tab-panel name="dashboard">
  <q-card-section class="q-pa-none">
    {% raw %}
    <div>
      <div class="text-h4 text-bold">{{this.info.alias}}</div>
      <div class="row items-center q-gutter-sm">
        <div class="text-subtitle1 text-light">{{this.info.backend_name}}</div>

        <q-badge
          :style="`background-color: #${this.info.color}`"
          class="text-bold"
        >
          #{{ this.info.color }}
        </q-badge>
        <div class="text-bold">{{ shortenNodeId(info.id) }}</div>
        <q-btn
          size="xs"
          flat
          dense
          icon="content_paste"
          @click="copyText(info.id)"
        ></q-btn>
        <q-btn
          size="xs"
          flat
          dense
          icon="qr_code"
          @click="showNodeInfoDialog(info)"
        ></q-btn>
      </div>
    </div>
    <div class="row q-col-gutter-lg q-mt-sm">
      <div class="col-12 col-md-8 q-gutter-y-md">
        <div class="row q-col-gutter-md q-pb-lg">
          <div class="col-12 col-md-6 col-xl-4 q-gutter-y-md">
            <lnbits-stat
              title="Total Capacity"
              :msat="this.channel_stats.total_capacity"
            />
          </div>
          <div class="col-12 col-md-6 col-xl-4 q-gutter-y-md">
            <lnbits-stat title="Balance" :msat="this.info.balance_msat" />
          </div>

          <div class="col-12 col-md-6 col-xl-4 q-gutter-y-md">
            <lnbits-stat
              title="Fees collected"
              :msat="this.info.fees.total_msat"
            />
          </div>

          <div class="col-12 col-md-6 col-xl-4 q-gutter-y-md">
            <lnbits-stat
              title="Onchain Balance"
              :btc="this.info.onchain_balance_sat / 100000000"
            />
          </div>

          <div class="col-12 col-md-6 col-xl-4 q-gutter-y-md">
            <lnbits-stat
              title="Onchain Confirmed"
              :btc="this.info.onchain_confirmed_sat / 100000000"
            />
          </div>
          <div class="col-12 col-md-6 col-xl-4 q-gutter-y-md">
            <lnbits-stat title="Peers" :amount="this.info.num_peers" />
          </div>
          <div class="col-12 col-md-6 col-xl-4 q-gutter-y-md">
            <lnbits-stat
              :title="$t('avg_channel_size')"
              :msat="this.channel_stats.avg_size"
            />
          </div>
          <div class="col-12 col-md-6 col-xl-4 q-gutter-y-md">
            <lnbits-stat
              :title="$t('biggest_channel_size')"
              :msat="this.channel_stats.biggest_size"
            />
          </div>
          <div class="col-12 col-md-6 col-xl-4 q-gutter-y-md">
            <lnbits-stat
              :title="$t('smallest_channel_size')"
              :msat="this.channel_stats.smallest_size"
            />
          </div>
        </div>
      </div>
      <div class="column col-12 col-md-4 q-gutter-y-md">
        <lnbits-node-ranks></lnbits-node-ranks>
        <lnbits-channel-stats
          :stats="this.channel_stats"
        ></lnbits-channel-stats>
      </div>
    </div>
    {% endraw %}
  </q-card-section>
</q-tab-panel>
