<q-tab-panel name="transactions">
  <q-card-section class="q-pa-none">
    <q-tabs
      class="lt-md fixed-bottom left-0 right-0 bg-primary text-white shadow-2 z-max"
      active-class="px-0"
      indicator-color="transparent"
    >
      <q-tab icon="content_paste" label="Paste" @click="showParseDialog">
      </q-tab>
      <q-tab icon="file_download" label="Receive" @click="showReceiveDialog">
      </q-tab>

      <q-tab icon="photo_camera" label="Scan" @click="showCamera"></q-tab>
    </q-tabs>

    <div class="row q-col-gutter-lg q-pb-lg">
      <div class="col-12 col-md-4 q-gutter-y-md">
        <q-card>
          <q-card-section>
            <div class="text-overline text-primary">Channel Balance</div>
            <h6 class="text-h2 q-my-none">2,452,278 sats</h6>
          </q-card-section>
        </q-card>
      </div>
    </div>

    <div class="row q-col-gutter-lg">
      <div class="col-12 col-md-8 q-gutter-y-md">
        <div class="row q-pb-md q-px-md q-col-gutter-md gt-sm">
          <div class="col">
            <q-btn unelevated color="primary" class="full-width" size="md"
              >Paste Request
            </q-btn>
          </div>
          <div class="col">
            <q-btn unelevated color="primary" class="full-width" size="md"
              >Create Invoice
            </q-btn>
          </div>
          <div class="col">
            <q-btn unelevated color="secondary" icon="photo_camera" size="md"
              >scan
              <q-tooltip>Use camera to scan an invoice/QR</q-tooltip>
            </q-btn>
          </div>
        </div>
      </div>
    </div>

    <div class="row q-col-gutter-md q-pb-lg">
      <div class="col-12 col-md-6 col-xl-4 q-gutter-y-md">
        <lnbits-stat
          title="Total Capacity"
          :msat="this.channel_stats.total_capacity"
        />
      </div>
      <div class="col-12 col-md-6 col-xl-4 q-gutter-y-md">
        <lnbits-stat title="Balance" :msat="this.info.balance_msat" />
      </div>

      <div class="col-12 col-md-6 col-xl-4 q-gutter-y-md">
        <lnbits-stat title="Fees collected" :msat="this.info.fees.total_msat" />
      </div>
    </div>

    <div class="row q-col-gutter-lg">
      <div class="col-12 col-lg-6 q-gutter-y-md">
        <q-card>
          <q-card-section>
            <div class="row items-center no-wrap q-mb-sm">
              <div class="col">
                <h5 class="text-subtitle1 q-my-none">Payments</h5>
              </div>
              <div class="col-auto">
                <q-btn flat color="grey" @click="exportCSV"
                  >Export to CSV
                </q-btn>
                <!--<q-btn v-if="pendingPaymentsExist" dense flat round icon="update" color="grey" @click="checkPendingPayments">
                <q-tooltip>Check pending</q-tooltip>
              </q-btn>-->
                <q-btn
                  dense
                  flat
                  round
                  icon="show_chart"
                  color="grey"
                  @click="showChart"
                >
                  <q-tooltip>Show chart</q-tooltip>
                </q-btn>
              </div>
            </div>
            <q-input
              v-if="payments.length > 10"
              filled
              dense
              clearable
              v-model="paymentsTable.filter"
              debounce="300"
              placeholder="Search by tag, memo, amount"
              class="q-mb-md"
            >
            </q-input>
            <q-table
              dense
              flat
              :data="filteredPayments"
              :columns="paymentsTable.columns"
              :pagination.sync="paymentsTable.pagination"
              no-data-label="No transactions made yet"
              :filter="paymentsTable.filter"
            >
              {% raw %}
              <template v-slot:body-cell-pending="props">
                <q-td auto-width class="text-center">
                  <q-icon
                    v-if="!props.row.pending"
                    size="xs"
                    name="call_made"
                    color="green"
                    @click="props.expand = !props.expand"
                  ></q-icon>
                  <q-icon
                    v-else
                    size="xs"
                    name="settings_ethernet"
                    color="grey"
                    @click="props.expand = !props.expand"
                  >
                    <q-tooltip>Pending</q-tooltip>
                  </q-icon>
                </q-td>
              </template>
              <template v-slot:body-cell-date="props">
                <q-td auto-width key="date" :props="props">
                  <lnbits-date :ts="props.row.time"></lnbits-date>
                </q-td>
              </template>
              <template v-slot:body-cell-destination="props">
                <q-td auto-width key="destination">
                  <q-badge
                    :style="`background-color: #${props.row.destination.color}`"
                    class="text-bold"
                  >
                    {{ props.row.destination.alias }}
                  </q-badge>
                  <q-btn
                    size="xs"
                    flat
                    dense
                    icon="content_paste"
                    @click="copyText(info.id)"
                  ></q-btn>
                  <q-btn
                    size="xs"
                    flat
                    dense
                    icon="qr_code"
                    @click="showNodeInfoDialog(props.row)"
                  ></q-btn>
                </q-td>
              </template>
              {% endraw %}
            </q-table>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-12 col-lg-6 q-gutter-y-md">
        <q-card>
          <q-card-section>
            <div class="row items-center no-wrap q-mb-sm">
              <div class="col">
                <h5 class="text-subtitle1 q-my-none">Invoices</h5>
              </div>
              <div class="col-auto">
                <q-btn flat color="grey" @click="exportCSV"
                  >Export to CSV
                </q-btn>
                <!--<q-btn v-if="pendingPaymentsExist" dense flat round icon="update" color="grey" @click="checkPendingPayments">
                <q-tooltip>Check pending</q-tooltip>
              </q-btn>-->
                <q-btn
                  dense
                  flat
                  round
                  icon="show_chart"
                  color="grey"
                  @click="showChart"
                >
                  <q-tooltip>Show chart</q-tooltip>
                </q-btn>
              </div>
            </div>
            <q-input
              v-if="payments.length > 10"
              filled
              dense
              clearable
              v-model="paymentsTable.filter"
              debounce="300"
              placeholder="Search by tag, memo, amount"
              class="q-mb-md"
            >
            </q-input>
            <q-table
              dense
              flat
              :data="invoiceTable.data"
              :columns="invoiceTable.columns"
              :pagination.sync="invoiceTable.pagination"
              no-data-label="No transactions made yet"
              :filter="invoiceTable.filter"
            >
              {% raw %}
              <template v-slot:body-cell-pending="props">
                <q-td auto-width class="text-center">
                  <q-icon
                    v-if="!props.row.pending"
                    size="xs"
                    name="call_received"
                    color="green"
                    @click="props.expand = !props.expand"
                  ></q-icon>
                  <q-icon
                    v-else
                    size="xs"
                    name="settings_ethernet"
                    color="grey"
                    @click="props.expand = !props.expand"
                  >
                    <q-tooltip>Pending</q-tooltip>
                  </q-icon>
                </q-td>
              </template>

              <template v-slot:body-cell-paid_at="props">
                <q-td auto-width :props="props">
                  <lnbits-date
                    v-if="props.row.paid_at"
                    :ts="props.row.paid_at"
                  ></lnbits-date>
                </q-td>
              </template>

              <template v-slot:body-cell-expiry="props">
                <q-td auto-width :props="props">
                  <lnbits-date
                    v-if="props.row.expiry"
                    :ts="props.row.expiry"
                  ></lnbits-date>
                </q-td>
              </template>

              {% endraw %}
            </q-table>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-card-section>
</q-tab-panel>
