<q-tab-panel name="apps">
  <q-card-section class="q-pa-none">

<div class="q-pa-md row items-start q-gutter-md">

  
<q-card class="my-card">
  <q-img src="https://i.imgur.com/yUWgdme.jpg">
    <div class="absolute-bottom">
      <div class="text-subtitle2">mempool.space</div>
    </div>
  </q-img>
  <q-card-actions>
    <q-btn flat>Install</q-btn>
    <q-btn disabled flat>Enable</q-btn>
  </q-card-actions>
</q-card>

<q-card class="my-card" >
  <q-img src="https://i.imgur.com/WiyQ2WZ.jpg">
    <div class="absolute-bottom">
      <div class="text-subtitle2">BTCPayServer</div>
    </div>
  </q-img>
  <q-card-actions>
    <q-btn flat>Install</q-btn>
    <q-btn disabled flat>Enable</q-btn>
  </q-card-actions>
</q-card>

<q-card class="my-card" >
  <q-img src="https://i.imgur.com/RVPQfde.jpg">
    <div class="absolute-bottom">
      <div class="text-subtitle2">Electrum Server</div>
    </div>
  </q-img>
  <q-card-actions>
    <q-btn flat>Install</q-btn>
    <q-btn disabled flat>Enable</q-btn>
  </q-card-actions>
</q-card>

</div>

</q-card-section>
</q-tab-panel>
