[v-cloak] {
  display: none; }

  .bg-lnbits-dark {
    background-color: #1f2234; }

    body.body--dark, body.body--dark .q-drawer--dark, body.body--dark .q-menu--dark {
      background: #1f2234; }

      body.body--dark .q-card--dark {
        background: #333646; }

        body.body--dark .q-table--dark {
          background: transparent; }

          body.body--light, body.body--light .q-drawer {
            background: whitesmoke; }

            body.body--dark .q-field--error .text-negative,
            body.body--dark .q-field--error .q-field__messages {
              color: yellow !important; }

.lnbits__q-table__icon-td {
  padding-left: 5px !important; }

  .lnbits-drawer__q-list .q-item {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
    .lnbits-drawer__q-list .q-item.q-item--active {
      color: inherit;
      font-weight: bold; }

video {
  border-radius: 3px; }
