<!-- @format -->

{% extends "base.html" %} {% block messages %}

<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <i class="fa fa-bell-o"></i>
  <span class="label label-danger">!</span>
</a>
<ul class="dropdown-menu">
  <li class="header"><b>Instant wallet, bookmark to save</b></li>
  <li></li>
</ul>
{% endblock %} {% block menuitems %}
<li class="treeview">
  <a href="#">
    <i class="fa fa-bitcoin"></i> <span>Wallets</span>
    <i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
    {% for w in user_wallets %}
    <li>
      <a href="{{ url_for('wallet') }}?wal={{ w.id }}&usr={{ w.user }}"
        ><i class="fa fa-bolt"></i> {{ w.name }}</a
      >
    </li>
    {% endfor %}
    <li><a onclick="sidebarmake()">Add a wallet +</a></li>
    <div id="sidebarmake"></div>
  </ul>
</li>

  <li class="active treeview">
    <a href="#">
      <i class="fa fa-th"></i> <span>Extensions</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      {% for extension in EXTENSIONS %}
        {% if extension.code in user_ext %}
          <li>
            <a href="{{ url_for(extension.code + '.index') }}?usr={{ user }}"><i class="fa fa-plus"></i> {{ extension.name }}</a>
          </li>
        {% endif %}
      {% endfor %}
      <li>
      <a href="{{ url_for('extensions') }}?usr={{ user }}">Manager </a></li>
    </ul>
  </li>

{% endblock %} {% block body %}
<!-- Right side column. Contains the navbar and content of the page -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Withdraw link maker
      <small>powered by LNURL</small>

    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="{{ url_for('wallet') }}?usr={{ user }}"><i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li>
      <a href="{{ url_for('extensions') }}?usr={{ user }}"><li class="fa fa-dashboard">Extensions</li></a>
      </li>
       <li>
        <i class="active" class="fa fa-dashboard">example</i>
      </li>
    </ol>
    <br /><br />

    
    
  <!-- DOWNLOAD AND SEARCH ADMINLITE2 FOR HTML-->
    
  </section>
  <!-- Main content  -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
            <div class="col-md-6">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title"> EXAMPLE BOX HEADING</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                <p>*Some content in here</p>
              </div>
              </div><!-- /.box -->
              </div>
    </div>
  </section>

  <script>

//ADD YOUR JAVASCIPT HERE//

  </script>
</div>
{% endblock %}
