@import 'themes';
@import 'borders';
@import 'background';

[v-cloak] {
  display: none;
}

body.body--dark .q-table--dark {
  background: transparent;
}

body.body--dark .q-field--error {
  .text-negative,
  .q-field__messages {
    color: yellow !important;
  }
}

.lnbits-drawer__q-list .q-item {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  &.q-item--active {
    color: inherit;
    font-weight: bold;
  }
}

.lnbits__dialog-card {
  width: 500px;
}
.blur-and-disable {
  filter: blur(4px); /* blur entire element & children */
  pointer-events: none; /* block mouse interaction */
  user-select: none; /* prevent text selection */
  opacity: 0.6; /* optional: faded look */
}

.lnbits__table-bordered td,
.lnbits__table-bordered th {
  border: 1px solid black;
  border-collapse: collapse;
}

.q-table--dense {
  th:first-child,
  td:first-child,
  .q-table__bottom {
    padding-left: 6px !important;
  }
  th:last-child,
  td:last-child,
  .q-table__bottom {
    padding-right: 6px !important;
  }
}

a.inherit {
  color: inherit;
  text-decoration: none;
}

// QR video
video {
  border-radius: 3px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.q-rating__icon {
  font-size: 1em;
}

// text-wrap
.text-wrap {
  word-break: break-word;
}

.q-card {
  code {
    overflow-wrap: break-word;
  }
}

// qrcode
.qrcode__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.qrcode__wrapper canvas {
  width: 100% !important; // important to override qrcode inline width
  height: 100% !important;
  max-width: 320px; // default width of <lnbits-qrcode> component
}
.qrcode__image {
  position: absolute;
  max-width: 52px;
  width: 15%;
  overflow: hidden;
  background: #fff;
  overflow: hidden;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.whitespace-pre-line {
  white-space: pre-line;
}
.q-carousel__slide {
  background-size: contain;
  background-repeat: no-repeat;
}
.q-dialog__inner--minimized {
  padding: 12px;
}
