@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*End Reset CSS*/

:root {
	--primary-color: #ff533d;
	--primary-bg-color: #363636;
	--primary-text-color: #f1f1f1;
	--dimmed-text-color: #818181;
	--max-width: 460px;
}

html,
body {
	font: 16px/1.21 'Muli', sans-serif;
	font-weight: 400;
	color: var(--primary-text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	position: relative;
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr 1fr;
	width: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
	background: var(--primary-bg-color)
}

input,
select,
textarea {
	display: block;
	margin-bottom: 1.25em;
	padding: 0.5em 0.6em;
	border: 1px solid transparent;
	box-sizing: border-box;
	outline: none;
}

input:active {
	border: 1px solid var(--primary-color);
}

input:focus,
select:focus,
textarea:focus {
	outline: none;
}

select {
	height: 2.5em;
}

label {
	display: block;
	margin: 0.5em 0;
	font-size: 90%;
}


button,
select {
	text-transform: none;
}

.btn {
	background-color: transparent;
	border-color: var(--primary-text-color);
	border-width: 1px;
	color: var(--primary-text-color);
	border-radius: 4px;
	cursor: pointer;
	justify-content: center;
	padding-bottom: calc(0.375em - 1px);
	padding-left: 0.75em;
	padding-right: 0.75em;
	padding-top: calc(0.375em - 1px);
	text-align: center;
	white-space: nowrap;
	height: 2.5em;
}

.btn.btn-primary {
	background-color: var(--primary-color);
	border-color: transparent;
}

.btn.btn-submit {
	background-color: var(--submit-color);
	border-color: transparent;
}

.menu-toggle {
	position: absolute;
	top: 20px;
	right: 25px;
	font-size: 1.5rem;
	cursor: pointer;
	padding: 5px;
	width: 40px;
	height: 40px;
	z-index: 2;
	fill: var(--dimmed-text-color);
	will-change: fill;
}

.menu-toggle:hover,
.menu-toggle:focus {
	fill: var(--primary-text-color);
	transition: all 0.3s ease;
}

.img-responsive {
	width: 100%;
	height: auto;
}

.main-menu {
	height: 100%;
	width: 0%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--primary-bg-color);
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.main-menu a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: var(--dimmed-text-color);
	display: block;
	transition: 0.3s;
}

.main-menu a:hover {
	color: var(--primary-text-color);
}

.main-menu .closebtn {
	position: absolute;
	display: block;
	cursor: pointer;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.accordion {
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
}

.title {
	cursor: pointer;
	font-weight: bold;
	padding: 1rem;
}

.panel {
	padding: 1rem;
	width: 80%;
	display: none;
	overflow: hidden;
}

.panel.active {
	display: block;
}

footer.menu-footer{
	position: absolute;
	padding: 1rem;
	bottom: 0;
}

footer.menu-footer > a {
	font-size: 80%;
	padding: 0;
}


.display {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	padding: 0 10px;
	text-shadow: 2px 4px 15px rgba(0, 0, 0, 0.15);
	color: var(--primary-text-color);
}

.display .symbol {
	font-size: 1rem;
}

.display .sats {
	position: absolute;
	font-size: 1.25rem;
	bottom: 10px;
	left: 10px;
}

.display p {
	margin: 0 5px;
}

.keypad {
	max-height: 500px;
	display: grid;
	grid-gap: 7px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	align-items: center;
	justify-items: center;
	padding: 5px;
}

.keypad * {
	all: unset;
	width: 100%;
	height: 100%;
	color: var(--primary-text-color);
}

.btn-numpad,
.btn-confirm,
.btn-cancel {
	border: 2px var(--primary-text-color) solid;
	border-radius: 10px;
	background: none;
	text-align: center;
	font-size: 1.7em;
}


.btn-numpad:active,
.btn-confirm:active,
.btn-cancel:active {
	background: var(--primary-color);
}

@media (hover: hover) {

	.btn-numpad:hover,
	.btn-confirm:hover,
	.btn-cancel:hover {
		background: var(--primary-color);
	}
}

.btn-confirm,
.btn-cancel {
	grid-row: auto / span 2
}

.btn-confirm {
	background: olivedrab;
}

.btn-cancel {
	background: tomato;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 0vh;
	background-color: transparent;
	overflow: hidden;
	transition: background-color 0.25s ease;
	z-index: 9998;
}

.modal.open {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	transition: background-color 0.25s;
}

.modal.open>.content-wrapper {
	transform: scale(1);
}

.modal .content-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 90%;
	max-width: calc(var(--max-width) * 0.95);
	margin: 0;
	padding: 2.5rem;
	background-color: white;
	border-radius: 0.3125rem;
	box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
	transform: scale(0);
	transition: transform 0.25s;
	transition-delay: 0.15s;
	color: #444;
}

.modal.open.settled .content-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.25s linear;
}

.modal .content-wrapper .close {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.5rem;
	height: 2.5rem;
	border: none;
	background-color: transparent;
	font-size: 1.5rem;
	transition: 0.25s linear;
}

.modal .content-wrapper .close:before,
.modal .content-wrapper .close:after {
	position: absolute;
	content: '';
	width: 1.25rem;
	height: 0.125rem;
	background-color: var(--primary-bg-color);
}

.modal .content-wrapper .close:before {
	transform: rotate(-45deg);
}

.modal .content-wrapper .close:after {
	transform: rotate(45deg);
}

/* .modal .content-wrapper .close:hover {
    transform: rotate(360deg);
} */

.modal .content-wrapper .close:hover:before,
.modal .content-wrapper .close:hover:after {
	background-color: var(--dimmed-text-color);
}

.modal .content-wrapper .modal-header {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0;
	padding: 0 0 1.25rem;
}

.modal .content-wrapper .modal-header h2 {
	font-size: 1.5rem;
	font-weight: bold;
}

.modal .content-wrapper .content {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	max-width: 100%;
}

.modal .content-wrapper .content p {
	text-align: center;
	font-size: 0.875rem;
	line-height: 1.75;
	word-wrap: break-word;
}

.modal .content-wrapper .content small {
	text-align: center;
	word-wrap: break-word;
}

.modal .content-wrapper .modal-footer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	margin: 0;
	padding: 1.875rem 0 0;
}

.modal .content-wrapper .modal-footer .action {
	position: relative;
	margin-left: 0.625rem;
	padding: 0.625rem 1.25rem;
	border: none;
	background-color: slategray;
	border-radius: 0.25rem;
	color: white;
	font-size: 0.87rem;
	font-weight: 300;
	overflow: hidden;
	z-index: 1;
}

.modal .content-wrapper .modal-footer .action:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.2);
	transition: width 0.25s;
	z-index: 0;
}

.modal .content-wrapper .modal-footer .action.green {
	background-color: olivedrab;
}

.modal .content-wrapper .modal-footer .action.red {
	background-color: tomato;
}

.modal .content-wrapper .modal-footer .action:hover:before {
	width: 100%;
}

.checkmark {
	width: 56px;
	height: 56px;
	margin: 5rem auto;
	border-radius: 50%;
	display: block;
	stroke-width: 2;
	stroke: #fff;
	stroke-miterlimit: 10;
	box-shadow: inset 0px 0px 0px #7ac142;
	animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke: #7ac142;
	fill: none;
	animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
	transform-origin: 50% 50%;
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes scale {

	0%,
	100% {
		transform: none;
	}

	50% {
		transform: scale3d(1.1, 1.1, 1);
	}
}

@keyframes fill {
	100% {
		box-shadow: inset 0px 0px 0px 30px #7ac142;
	}
}

/* Loader */

.loader {
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-bg-color);
	width: 100%;
	height: 100vh;
	z-index: 9999;
	stroke: var(--primary-color);
}

.loader svg {
	height: 100px;
	width: 100px;
	transform: rotate(-90deg);
}

.loader circle {
	stroke-dasharray: 156;
	stroke-dashoffset: 156;
	animation: load 2.3s infinite;
}

@keyframes load {
	50% {
		stroke-dashoffset: 0;
	}

	100% {
		stroke-dashoffset: -156;
	}
}