<!doctype html>
<html lang="en">
  <head>
    {% for url in INCLUDED_CSS %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ static_url_for('static', url ) }}"
    />
    {% endfor %} {% block styles %}{% endblock %}
    <style>
      @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url("{{ static_url_for('static', 'fonts/material-icons-v50.woff2') }}")
          format('woff2');
      }
    </style>
    <title>{% block title %}{{ SITE_TITLE }}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
    />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    {% if web_manifest %}
    <link async="async" rel="manifest" href="{{ web_manifest }}" />
    {% endif %} {% block head_scripts %}{% endblock %}
  </head>

  <body data-theme="bitcoin">
    <div id="vue">
      <q-layout view="hHh lpR lfr" v-cloak>
        <lnbits-header></lnbits-header>
        {% block drawer %}
        <lnbits-drawer></lnbits-drawer>
        {% endblock %} {% block page_container %}
        <q-page-container>
          <q-page class="q-px-md q-py-lg" :class="{'q-px-lg': $q.screen.gt.xs}">
            <lnbits-header-wallets></lnbits-header-wallets>
            <router-view v-if="isVueRoute"></router-view>
            <!-- FastAPI Content -->
            <div v-else>{% block page %}{% endblock %}</div>
          </q-page>
        </q-page-container>
        {% endblock %} {% block footer %}
        <lnbits-footer />
        {% endblock %}
      </q-layout>
    </div>
    <script type="text/javascript">
      const WINDOW_SETTINGS = {{ WINDOW_SETTINGS | tojson }}
      Object.keys(WINDOW_SETTINGS).forEach(key => {
        window[key] = WINDOW_SETTINGS[key]
      })
    </script>
    {% include('components.vue') %} {% include('pages.vue') %} {% block
    vue_templates %}{% endblock %} {% for url in INCLUDED_JS %}
    <script src="{{ static_url_for('static', url) }}"></script>
    {% endfor %} {% block scripts %}{% endblock %} {% for url in
    INCLUDED_COMPONENTS %}
    <script src="{{ static_url_for('static', url) }}"></script>
    {% endfor %}
  </body>
</html>
