<!-- @format -->

{% extends "base.html" %}


{% block messages %}
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<i class="fa fa-bell-o"></i>
		<span class="label label-danger">!</span>
	</a>
	<ul class="dropdown-menu">
		<li class="header"><b>Instant wallet, bookmark to save</b></li>
		<li></li>
	</ul>
{% endblock %}

{% block menuitems %}
	<li class="treeview">
		<a href="#">
			<i class="fa fa-bitcoin"></i> <span>Wallets</span>
			<i class="fa fa-angle-left pull-right"></i>
		</a>
		<ul class="treeview-menu">
			{% for w in user_wallets %}
			<li>
			<a href="{{ url_for('wallet') }}?wal={{ w.id }}&usr={{ w.user }}"
				><i class="fa fa-bolt"></i> {{ w.name }}</a
			>
			</li>
			{% endfor %}
			<li><a onclick="sidebarmake()">Add a wallet +</a></li>
			<div id="sidebarmake"></div>
		</ul>
	</li>
	<li class="active treeview">
		<a href="#">
			<i class="fa fa-th"></i> <span>Extensions</span>
			<i class="fa fa-angle-left pull-right"></i>
		</a>
		<ul class="treeview-menu">
			{% for extension in EXTENSIONS %}
				{% if extension.code in user_ext %}
					<li>
						<a href="{{ url_for(extension.code + '.index') }}?usr={{ user }}"><i class="fa fa-plus"></i> {{ extension.name }}</a>
					</li>
				{% endif %}
			{% endfor %}
			<li>
			<a href="{{ url_for('extensions') }}?usr={{ user }}">Manager </a></li>
		</ul>
	</li>
{% endblock %}

{% block body %}
<!-- Right side column. Contains the navbar and content of the page -->
<div class="content-wrapper">

	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div id="wonga"></div>
		<h1>Wallet <small>Control panel</small></h1>
		<ol class="breadcrumb">
			<li>
				<a href="#"><i class="fa fa-dashboard"></i> Home</a>
			</li>
			<li class="active">Extensions</li>
		</ol>

		<br />
		<br />

		<div class="alert alert-danger alert-dismissable">
			<h4>Bookmark to save your wallet. Wallet is in BETA, use with caution.</h4>
		</div>
	</section>

	<!-- Main content -->
	<section class="content">
		<!-- Small boxes (Stat box) -->
		<div class="row">

		{% for extension in EXTENSIONS %}
			<div class="col-lg-3 col-xs-6">
				<!-- small box -->
				<div class="small-box bg-blue">
					<div class="inner">
						{% if extension.code in user_ext %}
							<a href="{{ url_for(extension.code + '.index') }}?usr={{ user }}" style="color: inherit">
						{% endif %}
						<h3>{{ extension.name }}</h3>
						<p>{{ extension.short_description }}</p>
						{% if extension.code in user_ext %}
							</a>
						{% endif %}
					</div>
					<div class="icon">
						<i class="ion ion-{{ extension.ion_icon }}"></i>
					</div>
					{% if extension.code in user_ext %}
						<a href="{{ url_for('extensions') }}?usr={{user}}&disable={{ extension.code }}" class="small-box-footer">Disable <i class="fa fa-arrow-circle-right"></i></a>
					{% else %}
						<a href="{{ url_for('extensions') }}?usr={{user}}&enable={{ extension.code }}" class="small-box-footer">Enable <i class="fa fa-arrow-circle-right"></i></a>
					{% endif %}
				</div>
			</div>
		{% endfor %}

		</div>
	<!-- /.content -->
  	</section>
</div>

<script>
	window.user = {{ user | megajson | safe }}
	window.user_wallets = {{ user_wallets | megajson | safe }}
	window.user_ext = {{ user_ext | megajson | safe }}
</script>
{% endblock %}
