{% macro window_vars(user, wallet, extensions, extension_data) -%}
  <script id="window-vars-script">
    window.extensions = JSON.parse('{{ EXTENSIONS | tojson | safe }}');
    {% if extension_data %}
      window.extension_data = {{ extension_data | tojson | safe }};
    {% endif %}
    {% if currencies %}
      window.currencies = {{ currencies | tojson | safe }};
    {% endif %}
    {% if user %}
      window.user = JSON.parse({{ user | tojson | safe }});
    {% endif %}
    {% if wallet %}
      window.wallet = JSON.parse({{ wallet | tojson | safe }});
    {% endif %}
  </script>
  <script>
  //Needed for Vue to create the app on first load (although called on every page, its only loaded once)
  window.app = Vue.createApp({
    el: '#vue',
    mixins: [window.windowMixin]
  })
</script>
{%- endmacro %}
