{% macro window_vars(user, wallet, spec) -%}
  <script>
    window.extensions = {{ EXTENSIONS | tojson | safe }};
    {% if spec %}
      window.spec = {{ spec | tojson | safe }};
    {% endif %}
    {% if user %}
      window.user = {{ user | tojson | safe }};
    {% endif %}
    {% if wallet %}
      window.wallet = {{ wallet | tojson | safe }};
    {% endif %}
  </script>
{%- endmacro %}
