<!DOCTYPE html>

<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Material+Icons"
      type="text/css"
    />
    <style>
      @page {
        size: A4 portrait;
      }
      body {
        font-family: Roboto, -apple-system, Helvetica Neue, Helvetica, Arial,
          sans-serif;
      }
    </style>
    {% block styles %}{% endblock %}
    <title>
      {% block title %} {% if SITE_TITLE != 'LNbits' %}{{ SITE_TITLE }}{% else
      %}LNbits{% endif %} {% endblock %}
    </title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% block head_scripts %}{% endblock %}
  </head>

  <body>
    <q-layout id="vue" view="hHh lpR lfr" v-cloak>
      <q-page-container>
        <q-page class="q-px-md q-py-lg" :class="{'q-px-lg': $q.screen.gt.xs}">
          {% block page %}{% endblock %}
        </q-page>
      </q-page-container>
    </q-layout>

    <script src="/static/vendor/quasar@1.13.2/quasar.ie.polyfills.umd.min.js"></script>
    <script src="/static/vendor/vue@2.6.12/vue.min.js"></script>
    <script src="/static/vendor/vuex@3.5.1/vuex.js"></script>
    <script src="/static/vendor/vue-router@3.4.3/vue-router.js"></script>
    <script src="/static/vendor/quasar@1.13.2/quasar.umd.min.js"></script>
    <script src="/static/vendor/vue-qrcode@1.0.2/vue-qrcode.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
