<q-expansion-item
  group="extras"
  icon="swap_vertical_circle"
  label="Info"
  :content-inset-level="0.5"
>
  <q-card>
    <q-card-section>
      <h5 class="text-subtitle1 q-my-none">
        Support Tickets: Get paid sats to answer questions
      </h5>
      <p>
        Charge people per word for contacting you. Possible applications incude,
        paid support ticketing, PAYG language services, contact spam
        protection.<br />
        <small>
          Created by, <a href="https://github.com/benarc">Ben Arc</a></small
        >
      </p>
    </q-card-section>
  </q-card>
  <q-btn flat label="Swagger API" type="a" href="../docs#/lnticket"></q-btn>
</q-expansion-item>
