<q-expansion-item
  group="extras"
  icon="swap_vertical_circle"
  label="Setup guide"
  :content-inset-level="0.5"
>
  <q-card>
    <q-card-section>
      <h5 class="text-subtitle1 q-my-none">
        LNbits Market (Nostr support coming soon)
      </h5>

      <ol>
        <li>Create Shipping Zones you're willing to ship to</li>
        <li>Create a Stall to list yiur products on</li>
        <li>Create products to put on the Stall</li>
        <li>Take orders</li>
        <li>Includes chat support!</li>
      </ol>
      The first LNbits market idea 'Diagon Alley' helped create Nostr, and soon
      this market extension will have the option to work on Nostr 'Diagon Alley'
      mode, by the merchant, market, and buyer all having keys, and data being
      routed through Nostr relays.
      <br />
      <small>
        Created by,
        <a href="https://github.com/talvasconcelos">Tal Vasconcelos</a>,
        <a href="https://github.com/benarc">Ben Arc</a></small
      >
      <!-- </p> -->
    </q-card-section>
  </q-card>
</q-expansion-item>

<q-expansion-item
  group="extras"
  icon="swap_vertical_circle"
  label="API info"
  :content-inset-level="0.5"
>
  <q-expansion-item
    group="api"
    dense
    expand-separator
    label="Get prodcuts, categorised by wallet"
  >
    <q-card>
      <q-card-section>
        <code
          ><span class="text-light-blue">GET</span>
          /market/api/v1/stall/products/&lt;relay_id&gt;</code
        >
        <h5 class="text-caption q-mt-sm q-mb-none">Body (application/json)</h5>
        <h5 class="text-caption q-mt-sm q-mb-none">
          Returns 201 CREATED (application/json)
        </h5>
        <code>Product JSON list</code>
        <h5 class="text-caption q-mt-sm q-mb-none">Curl example</h5>
        <code
          >curl -X GET {{ request.url_root
          }}api/v1/stall/products/&lt;relay_id&gt;</code
        >
      </q-card-section>
    </q-card>
  </q-expansion-item>
  <q-expansion-item
    group="api"
    dense
    expand-separator
    label="Get invoice for product"
  >
    <q-card>
      <q-card-section>
        <code
          ><span class="text-light-green">POST</span>
          /market/api/v1/stall/order/&lt;relay_id&gt;</code
        >
        <h5 class="text-caption q-mt-sm q-mb-none">Body (application/json)</h5>
        <code
          >{"id": &lt;string&gt;, "address": &lt;string&gt;, "shippingzone":
          &lt;integer&gt;, "email": &lt;string&gt;, "quantity":
          &lt;integer&gt;}</code
        >
        <h5 class="text-caption q-mt-sm q-mb-none">
          Returns 201 CREATED (application/json)
        </h5>
        <code
          >{"checking_id": &lt;string&gt;,"payment_request":
          &lt;string&gt;}</code
        >
        <h5 class="text-caption q-mt-sm q-mb-none">Curl example</h5>
        <code
          >curl -X POST {{ request.url_root
          }}api/v1/stall/order/&lt;relay_id&gt; -d '{"id": &lt;product_id&&gt;,
          "email": &lt;customer_email&gt;, "address": &lt;customer_address&gt;,
          "quantity": 2, "shippingzone": 1}' -H "Content-type: application/json"
        </code>
      </q-card-section>
    </q-card>
  </q-expansion-item>
  <q-expansion-item
    group="api"
    dense
    expand-separator
    label="Check a product has been shipped"
    class="q-mb-md"
  >
    <q-card>
      <q-card-section>
        <code
          ><span class="text-light-blue">GET</span>
          /market/api/v1/stall/checkshipped/&lt;checking_id&gt;</code
        >
        <h5 class="text-caption q-mt-sm q-mb-none">Headers</h5>
        <h5 class="text-caption q-mt-sm q-mb-none">
          Returns 200 OK (application/json)
        </h5>
        <code>{"shipped": &lt;boolean&gt;}</code>
        <h5 class="text-caption q-mt-sm q-mb-none">Curl example</h5>
        <code
          >curl -X GET {{ request.url_root
          }}api/v1/stall/checkshipped/&lt;checking_id&gt; -H "Content-type:
          application/json"</code
        >
      </q-card-section>
    </q-card>
  </q-expansion-item>
</q-expansion-item>
