{% extends "public.html" %} {% from "macros.jinja" import window_vars with
context %}{% block page %}
<div class="row q-col-gutter-md justify-center">
  <div class="col-12 col-md-7 col-lg-6 q-gutter-y-md">
    <q-card class="q-pa-lg">
      <q-card-section class="q-pa-none">
        <center>
          {% if lost %}
          <h5 class="q-my-none">
            You lost.
            <a class="text-secondary" href="/satsdice/{{ link }}"
              >Play again?</a
            >
          </h5>
          {% endif %} {% if paid %}
          <h5 class="q-my-none">
            Winnings spent.
            <a class="text-secondary" href="/satsdice/{{ link }}"
              >Play again?</a
            >
          </h5>
          {% endif %}
          <br />
          <q-icon
            name="sentiment_dissatisfied"
            class="text-grey"
            style="font-size: 20rem"
          ></q-icon>
          <br />
        </center>
      </q-card-section>
    </q-card>
  </div>
</div>
{% endblock %} {% block scripts %}{{ window_vars(user) }}
<script>
  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        satsdice_lost: '{{lost}}',
        satsdice_paid: '{{paid}}'
      }
    },
    methods: {
      getUrl() {}
    },
    created() {
      console.log('play_location')
    }
  })
</script>
{% endblock %}
