name: JMeter Extension Tests

on:
  workflow_call:
    inputs:
      python-version:
        description: "Python Version"
        required: true
        default: "3.10"
        type: string

jobs:
  jmeter:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/prepare
        with:
          python-version: ${{ inputs.python-version }}

      - name: run LNbits
        env:
          LNBITS_ADMIN_UI: true
          LNBITS_EXTENSIONS_DEFAULT_INSTALL: "watchonly, satspay, tipjar, tpos, lnurlp, withdraw"
          LNBITS_BACKEND_WALLET_CLASS: FakeWallet
        run: |
          uv run lnbits &
          sleep 10

      - name: setup java version
        run: |
          update-java-alternatives --list
          sudo update-java-alternatives --set /usr/lib/jvm/temurin-8-jdk-amd64
          java -version

      - name: clone lnbits-extensions, install jmeter and run tests
        env:
          JAVA_HOME: /usr/lib/jvm/temurin-8-jdk-amd64
          EXTENSIONS_MANIFEST_PATH: "/lnbits/lnbits-extensions/refs/heads/main/extensions.json"
        run: |
          git clone https://github.com/lnbits/lnbits-extensions
          cd lnbits-extensions
          mkdir logs
          mkdir reports
          make install-jmeter
          make start-mirror-server
          make test

      - name: print lnbits log
        if: ${{ always() }}
        run: |
          # catch up time for lnbits
          sleep 1
          cat data/logs/debug.log

      - name: upload jmeter test results
        uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: jmeter-extension-test-results
          path: |
            lnbits-extensions/reports/
            lnbits-extensions/logs/
